<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>
                    Công Ty Xổ Số Kiến Thiết Hồ Chí Minh: Thương Hiệu Hàng Đầu Của Xổ Số Kiến Thiết Khu Vực Miền Nam</p>
                <!-- 標題時間 -->
                <div class="txtDate" v-if="false"></div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span> Là công ty kinh doanh Xổ số Kiến thiết có quy mô lớn nhất cả nước, với doanh thu luôn dẫn đầu hệ thống, Công ty TNHH MTV XSKT TP. Hồ Chí Minh (Công ty) xứng đáng là thương hiệu hàng đầu của Xổ
                        số Kiến thiết trong khu vực. Mặc dù trong bối cảnh khó khăn do dịch bệnh của năm 2020 nhưng toàn thể cán bộ, công nhân viên và người lao động Công ty đã nỗ lực vượt qua khó khăn, tranh thủ mọi cơ hội, điều kiện thuận lợi để thực
                        hiện mục tiêu, nhiệm vụ kế hoạch đề ra.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources5-01.jpg">
                <p>Lãnh đạo Công ty TNHH MTV Xổ số Kiến thiết Tp Hồ Chí Minh trao thưởng cho các đại lý xuất sắc trong công tác phát hành và tiêu thụ vé số.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Không chùn bước trước khó khăn, phát huy nội lực để đạt kết quả cao nhất</span>Năm 2020 thực sự là khoảng thời gian mà Công ty phải đối mặt với vô vàn khó khăn do dịch bệnh Covid-19. Đặc biệt, tháng
                        4/2020 Công ty ngừng hoạt động kinh doanh xổ số theo Chỉ thị 16/CT-TTg của Thủ tưởng Chính phủ về việc thực hiện các biện pháp cấp bách phòng, chống dịch Covid-19 và Công văn số 3685/BTC-TCNH của Bộ Tài chính về việc tạm dừng hoạt
                        động kinh doanh xổ số, đặt cược, trò chơi có thưởng và casino. Đặc biệt đợt dịch bùng phát trở lại lần 2 vào tháng 7 năm 2020… đã khiến Công ty phải ngưng phát hành 8 kỳ vé. Những khó khăn ngoại cảnh nói trên đã ảnh hưởng rất lớn
                        đến chỉ tiêu kế hoạch năm 2020 mà Công ty đã đề ra.
                    </li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources5-02.jpg">
                <p>Ông Đỗ Quang Vinh – Bí thư Đảng ủy, Tổng Giám đốc Công ty TNHH MTV Xổ số Kiến thiết TP Hồ Chí Minh nhận Huy hiệu 30 năm tuổi Đảng.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Trước những diễn biến phức tạp của dịch bệnh Covid-19, Ban Lãnh đạo Công ty đã triển khai thực hiện các biện pháp phòng, chống dịch tại Công ty nhằm đảm bảo môi trường làm việc an toàn cho CNVC-NLĐ. Cụ thể, Công ty xây dựng các phương án, kịch bản để
                        sẵn sàng, chủ động ứng phó với mọi tình huống khi xảy ra dịch Covid-19,đảm bảo hoạt động sản xuất kinh doanh, môi trường làm việc an toàn, liên tục,giảm thiểu thấp nhất mức độ ảnh hưởng đến hoạt động kinh doanh của Công ty.
                    </li>
                    <li>Đặc biệt, Công ty luôn chú trọng tận dụng ưu thế của một đô thị phát triển, luôn đi đầu về sáng tạo và ứng dụng các thành tựu về công nghệ, hoạt động kinh doanh xổ số kiến thiết cũng đã mang đậm dấu ấn của thời đại cách mạng công nghiệp
                        4.0 từ khâu in ấn, phát hành, quản lý cho tới việc tung ra thị trường nhiều sản phẩm mới dựa trên nền tảng của công nghệ số, tạo sức hấp dẫn và chiếm được sự tin cậy của đông đảo khách hàng…. Chính nhờ những giải pháp kịp thời,
                        nhạy bén và toàn diện nên Công ty đã vượt qua những khó khăn thách thức, duy trì hoạt động ổn định ngay cả trong điều kiện khó khăn nhất, đảm bảo đời sống cho người lao động, thúc đẩy hoạt động của Công ty trở lại mạnh mẽ trong
                        những tháng cuối năm nhằm đạt được kết quả cao nhất.</li>
                    <li>Năm 2020, tổng doanh thu của Công ty là 9.663,11 tỷ đồng. Tổng lợi nhuận thực hiện năm 2020 là 1.340,45 tỷ đồng, tăng 11,59% kế hoạch năm 2020, trong đó lợi nhuận từ hoạt động kinh doanh xổ số chiếm 93,16% tổng lợi nhuận trước thuế.
                        Nộp ngân sách năm 2020 là 3.277,05 tỷ đồng, tăng 2,83% kế hoạch năm 2020.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources5-03.jpg">
                <p>Trao tặng xe lăn cho người bán vé sô khuyết tật.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Về công tác xã hội, trong năm qua bên cạnh việc hỗ trợ cho những người gặp khó khăn do ảnh hưởng của dịch Covid-19, Công ty còn ký kết tài trợ và phối hợp với Hội Chữ Thập đỏ Thành phố thực hiện công tác xã hội nhân đạo giai đoạn 2020 – 2021 với giá trị
                        2,5 tỷ đồng. Ngoài ra, Công ty còn tổ chức thăm hỏi và trao tặng quà cho thương binh, bệnh binh, gia đình liệt sỹ và người có công với cách mạng tại Huyện Bình Chánh; tổ chức trao tặng 30 xe lắc tay cho người khuyết tật bán vé
                        số; tài trợ xây nhà tình thương, nhà đại đoàn kết… Những hoạt động hỗ trợ cộng đồng đậm chất nhân văn nói trên không chỉ giúp nhiều đối tượng có cuộc sống khó khăn có cơ hội vươn lên, thoát nghèo mà còn có tác dụng không ngừng
                        nâng cao hình ảnh và giá trị thương hiệu của Xổ số kiến thiết TP. Hồ Chí Minh trên cả nước.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources5-04.jpg">
                <p>Trao tặng xe hiếu mau lưu động cho hội chữ thập đỏ TP.HCM</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Giữ vững thương hiệu “Lá cờ đầu” Xổ số Kiến thiết trong khu vực</span>Xác định rõ bước sang năm 2021, tình hình dịch bệnh Covid-19 vẫn diễn biến phức tạp, thời tiết mưa bão diễn biến ngày càng khó
                        lường, áp lực cạnh tranh cũng nặng nề hơn. Ban Lãnh đạo Công ty cho biết, để hoàn thành các chỉ tiêu kế hoạch năm 2021 đòi hỏi sự nỗ lực phấn đấu rất nhiều.Trong thời gian tới, Công ty sẽ tiếp tục đổi mới công tác quản trị hoạt
                        động trên tất cả các mặt nhằm nâng cao tính tự chủ, tự chịu trách nhiệm trong sản xuất, kinh doanh; chú trọng nâng cao hiệu quả sử dụng vốn, sức cạnh tranh và phát triển bền vững; tăng cường hoàn thiện cơ chế kiểm soát, kiểm toán
                        nội bộ.Tích cực thực hiện các biện pháp điều hành hiệu quả đã giúp cho hoạt động sản xuất kinh doanh của công ty ổn định và phát triển tốt trong thời gian qua, đồng thời tiếp tục mở rộng thị trường trong khu vực để nâng cao tỷ
                        lệ tiêu thụ.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources5-05.jpg">
                <p>Ông Đỗ Quang Vinh – Tổng Giám đốc Công ty</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Bên cạnh đó, Công ty sẽ tiếp tục nghiên cứu phương án phát triển sản phẩm mới theo hướng ứng dụng công nghệ để phát hành đạt hiệu quả, đáp ứng nhu cầu giải trí và thị hiếu người chơi trên thị trường khi được phép của các cấp thẩm quyền. Đồng thời, cải
                        tiến kỹ thuật và phòng chống vé giả, khai thác hiệu quả công nghệ mới máy in kỹ thuật số, máy phủ UV toàn phần, định hình. Nghiên cứu ứng dụng, đầu tư phần mềm chế bản và kỹ xảo thiết kế phôi vé để nâng cao chất lượng, cải tiến
                        hình thức mẫu mã vé số truyền thống, vé xổ số cào của công ty để tăng thêm sức hút, tăng cường khả năng phòng chống vé giả, tạo ưu thế cho sản phẩm và thuận lợi cho việc kiểm tra vé trúng thưởng…
                    </li>
                    <li>Bà Phan Thị Sang – Phó Tổng Giám đốc Công ty cho biết: “Các chỉ tiêu, nhiệm vụ đề ra nêu trên là rất nặng nề, giữa lúc bối cảnh tình hình kinh tế có nhiều khó khăn. Tuy nhiên, toàn thể CB, CNV-NLĐ Công ty sẽ quyết tâm vượt qua khó
                        khăn, tranh thủ mọi cơ hội, điều kiện thuận lợi để thực hiện hoàn thành và hoàn thành vượt mức các chỉ tiêu, nhiệm vụ đã đề ra lập thành tích chào mừng đại hội đảng toàn quốc lần thứ XIII và kỷ niệm các sự kiện trọng đại của đất
                        nước sẽ diễn ra trong năm 2021, tạo tiền đề để Công ty tiếp tục phát triển vững chắc xứng đáng với niềm tin, sự ủng hộ của các cấp lãnh đạo, các ban ngành, đối tác và đại lý đã dành cho Công ty trong thời gian qua, giữ vững thương
                        hiệu “Lá cờ đầu” của Xổ số Kiến thiết trong khu vực”</li>
                </ul>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in resNews">
                            <li v-if="resourcesNum != index+1">
                                <a :href="reHref_r(index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>

            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>