<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Hội Nghị Đại Biểu Người Lao Động Công Ty TNHH Một Thành Viên Xổ Số Kiến Thiết Thành Phố Năm 2021</p>
                <!-- 標題時間 -->
                <div class="txtDate">Sáng ngày 27/4/2021</div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span> tại Hội trường Công ty TNHH Một thành viên Xổ số kiến thiết thành phố, Công ty XSKT thành phố đã tổ chức Hội nghị đại biểu Người lao động năm 2021.
                    </li>
                    <li>
                        Tới dự và chỉ đạo Hội nghị có đồng chí Dương Thế Vũ, Chủ tịch Công đoàn Công ty Đầu tư Tài chính Nhà nước thành phố; đồng chí Nguyễn Quốc Chiến, Phó Bí thư Đảng ủy, Chủ tịch Hội đồng thành viên; đồng chí Đỗ Quang Vinh, Bí thư Đảng ủy, Tổng Giám đốc và
                        các đại biểu đại diện cho cán bộ, nhân viên, người lao động Công ty.
                    </li>
                    <li>Hội nghị cũng đã được nghe các báo cáo trình tại Hội nghị và nghe đồng chí Đỗ Quang Vinh, Tổng Giám đốc Công ty trình bày Báo cáo đánh giá kết quả thực hiện nhiệm vụ năm 2020 và phương hướng nhiệm vụ năm 2021 của công ty. Năm 2020,
                        dịch bệnh Covid-19 trong nước và trên thế giới diễn biến phức tạp, ảnh hưởng đến hoạt động sản xuất kinh doanh của Công ty. Tuy nhiên, được sự quan tâm, chỉ đạo sâu sát, kịp thời của Ban lãnh đạo và sự nỗ lực, phấn đấu của tập
                        thể CBNV, NLĐ. Công ty đã khắc phục khó khăn, hoàn thành nhiệm vụ, các chỉ tiêu, kế hoạch sản xuất kinh doanh năm 2020 đều đạt, đời sống vật chất, tinh thần của người lao động được chăm lo tốt.</li>
                    <li>Bước sang năm 2021, nhận định tình hình dịch bệnh còn nhiều diễn biến phức tạp, tình hình sản xuất kinh doanh của Công ty còn gặp nhiều khó khăn, trước thực tế đó, tập thể người lao động công ty cần tiếp tục nâng cao chất lượng công
                        tác tham mưu, giúp việc trên các lĩnh vực chuyên môn để hoàn thành tốt nhiệm vụ.</li>
                    <li>Hưởng ứng lời phát động thi đua của đồng chí Bùi Đức Sơn, Phó Tổng Giám đốc Công ty; đồng chí Lê Văn Công, UV.BCH Công đoàn Công ty đã thay mặt BCH Công đoàn và toàn thể người lao động toàn Công ty xin hứa phát huy năng lực, phấn đấu
                        thi đua lao động sản xuất, hoàn thành tốt các chỉ tiêu, kế hoạch sản xuất kinh doanh năm 2021 mà Công ty đã đề ra.</li>
                    <li>Phát biểu chỉ đạo tại Hội nghị, đồng chí Dương Thế Vũ, chủ tịch Công đoàn Công ty Đầu tư tài chính Nhà nước thành phố đã đánh giá cao và biểu dương các thành tích đóng góp rất quan trọng của tập thể cán bộ, nhân viên Công ty TNHH MTV
                        XSKT thành phố trong năm 2020 đối với Công ty Đầu tư Tài chính nhà nước thành phố và chúc Công ty trong năm 2021 hoàn thành xuất sắc các nhiệm vụ đã đề ra.</li>
                    <li>Hội nghị đại biểu Người lao động Công ty TNHH MTV XSKT thành phố năm 2021, các nội dung, Nghị quyết Hội nghị đã thông qua được đại biểu nhất trí cao, biểu quyết tán thành tuyệt đối. Hội nghị kết thúc thành công tốt đẹp.</li>
                    <li>Một số hình ảnh của Hội nghị:</li>

                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources1-01.jpg">
                <p>Toàn cảnh Hội nghị</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources1-02.jpg">
                <p>Đ/c Đỗ Quang Vinh, Tổng Giám đốc Công ty báo cáo kết quả SXKD của Công ty năm 2020 và phương hướng nhiệm vụ năm 2021</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources1-03.jpg">
                <p>Đ/c Dương Thế Vũ, Chủ tịch CĐ HFIC phát biểu chỉ đạo Hội nghị</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources1-04.jpg">
                <p>Đ/c Đỗ Quang Vinh, Tổng Giám đốc Công ty đại diện người sử dụng lao động và Đ/c Phan Thị Sang, Chủ tịch Công đoàn Công ty đại diện người lao động ký kết thỏa ước lao động tập thể</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources1-05.jpg">
                <p>Hội nghị tiến hành bầu Ban Thanh tra nhân dân</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources1-06.jpg">
                <p>Ban Thanh tra nhân dân nhiệm kỳ mới ra mắt nhận nhiệm vụ</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources1-07.jpg">
                <p>Đ/c Bùi Đức Sơn, Phó Tổng Giám đốc Công ty phát động thi đua năm 2021 </p>
            </div>
        </div>


        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in resNews">
                            <li v-if="resourcesNum != index+1">
                                <a :href="reHref_r(index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>

            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>