<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>
                    Hội Nghị Xổ Số Kiến Thiết Khu Vực Miền Nam Lần Thứ 124</p>
                <!-- 標題時間 -->
                <div class="txtDate" v-if="false"></div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span><span style="font-weight:bold;">Sáng ngày 21/1/2021, tại Công ty TNHH MTV Xổ số Kiến thiết Tp Hồ Chí Minh, Hội đồng Xổ số Kiến thiết Khu vực miền Nam đã tổ chức Hội nghị lần thứ 124. Đến dự Hội nghị có đại diện Bộ Tài chính,
                        Công ty đầu tư tài chính Tp Hồ Chí Minh và lãnh đạo 21 Công ty Xổ số kiến thiết thành viên thuộc khu vực miền Nam.</span>
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-01.jpg">
                <p>Toàn cảnh Hội nghị</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Quá trình bảng báo cáo tổng kết của ông Đỗ Quang Vinh – Chủ tịch hội đồng Xổ số kiến thiết khu vực miền Nam. Năm 2020 tình hình dịch bệnh Covid -19 bùng phát làm ảnh hưởng đến hoạt động xổ số khu vực miền Nam; các công
                        ty Xổ số kiến thiết thành viên luôn đoàn kết, thống nhất thực hiện tốt các chỉ thị của Thủ tướng về thực hiện các biện pháp cấp bạch phòng, chống dịch Covid-19, sự chỉ đạo giám sát của Bộ tài
                        chính; các đại lý vé số truyền thống luôn tích cực, đồng hành cùng các công ty Xổ số kiến thiết trong việc tổ chức tiêu thụ vé số phù hợp với thị trường chung trên cả nước. Ngoài ra các Công ty
                        thành viên còn được sự quan tâm giúp đỡ kịp thời về chủ trương, chính sách của UBND các tỉnh và các Sở ngành liên quan trong việc kiểm tra, giám sát chặt chẽ quy định nhà nước trong hoạt động kinh
                        doanh xổ số.
                    </li>
                    <li>Kết quả: Tổng doanh thu trong năm đạt 96.500 tỷ đồng tăng 4.8% so với năm 2019; lợi nhuận đạt 12.300 tỷ đồng, tăng 25% so với năm 2019; nộp ngân sách nhà nước 33.600 tỷ đồng tăng 3.9% so với cùng kỳ năm 2019.</li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-02.jpg">
                <p>Ông Đỗ Quang Vinh – Chủ tịch Hội đồng Xổ số Kiến thiết Khu vực miền Nam trình bày báo cáo tại Hội nghị.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Theo đánh giá của Hội đồng Xổ số kiến thiết Khu vực miền Nam, tuy mức tăng của các chỉ tiêu trên là không cao song, qua đó cho thấy loại hình xổ số kiến thiết truyền thống vẫn tiếp tục được người chơi tin tưởng. Vì vậy, nhu cầu tiêu thụ vé số luôn gia
                        tăng qua từng năm. Bên cạnh đó việc các đơn vị xổ số thực hiện hỗ trợ về mặt tinh thần và vật chất cho người bán vé số trong thời gian tạm ngừng hoạt động xổ số đã mang lại ý nghĩa rất to lớn trong công tác phúc lợi xã hội từ nguồn
                        thu xổ số.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-03.jpg">
                <p>Ông Lê Văn Khanh – Phó Chủ tịch Hội đồng phát biểu</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Hiện nay tình hình làm vé số giả để đổi thưởng được thực hiện tinh vi, bằng nhiều hình thức như scan, photo màu… do đó các đơn vị rất quan tâm cải tiến kỹ thuật in vé và thực hiện các dấu hiệu riêng để thuận tiện kiểm tra: ứng dụng mã vạch QR, phủ UV
                        toàn phần, in các chi tiết bằng mực phản quang, cán nhủ bạc, in hoa văn nổi… Cùng với việc cải tiến kỹ thuật in, các đơn vị xổ số thường xuyên nhắc nhở đại lý và người bán vé số dạo nâng cao tinh thần cảnh giác, kiểm tra cẩn thận
                        khi đổi số trúng. Nhờ tích cực thực hiện đồng bộ nhiều biện pháp như trên nên tình hình vé số giả hiện nay giảm đáng kể.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-04.jpg">
                <p>Ông Dương Minh Tú – Phó Chủ tịch Hội đồng phát biểu</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Với tinh thần tương thân tương ái, trong năm 2020, các Công ty Xổ số kiến thiết thành viên đã phối hợp với các ban ngành địa phương thực hiện chi hỗ trợ, kịp thời giúp đỡ cho những người bán vé số bị ảnh hưởng bởi dịch COVID – 19 với số tiền trên 141
                        tỷ đồng. Bên cạnh đó các hoạt động phúc lợi xã hội từ thiện từ nguồn kinh phí của các công ty xổ số và nguồn huy động trong năm 2020 của toàn khu vực đạt tổng giá trị 575,735 tỷ đồng, bao gồm: hỗ trợ xây dựng nhà tình nghĩa, nhà
                        tình thương, nhà vì người nghèo, nhà đại đoàn kết, tài trợ cho các chương trình giáo dục, y tế, quỹ vì người nghèo, chương trình tiếp bước trẻ em đến trường, phẫu thuật bệnh tim, nạn nhân chất độc màu da cam…
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-05.jpg">
                <p>Ông Nguyễn Minh Tiến – Phó Vụ trưởng Vụ Tài chính ngân hàng – Bộ Tài chính phát biểu tại Hội nghị</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Phát biểu tại Hội nghị, ông Nguyễn Minh Tiến – Phó Vụ trưởng Vụ Tài chính Ngân hàng – Bộ Tài chính đã biểu dương sự nỗ lực vượt khó để hoàn thành các chỉ tiêu ké hoạch kinh doanh của toàn thể lãnh đạo, CB CNV và người lao động thuộc Hội đồng Xổ số kiến
                        thiết khu vực miền Nam. Ông Tiến cho biết: Hiện tại Bộ Tài chính đang nghiên cứu để ban hành thông tư về lương thưởng của loại hình kinh doanh Xổ số kiến thiết nhằm giúp các Công ty Xổ số kiến thiết có một hành lang pháp lý rõ
                        ràng, minh bạch và chủ động trong hoạt dộng kinh doanh.
                    </li>
                    <li>Bước sang năm 2021, tình hình dịch bệnh vẫn diễn biến phức tạp, thời tiết mưa bão cũng khó lường. Đồng thời các loại hình trò chơi có thưởng tiếp tục phát triển với nhiều kênh phân phối mới, địa bàn kinh doanh rộng khắp ít nhiều ảnh
                        hưởng đến doanh thu xổ số truyền thống. Vì vậy, các Công ty xổ số thành viên cần phát huy tối đa các mặt thuận lợi, khắc phục khó khăn, quyết tâm hoàn thành các chỉ tiêu, nhiệm vụ được giao. Cụ thể, các đơn vị trong khu vực cần
                        phải tranh thủ điều kiện thuận lợi về thời tiết, tình hình dịch bệnh đang được nhà nước kiểm soát, nhu cầu tiêu thụ vé số tăng vào các tháng đầu năm… để tập trung thực hiện các biện pháp điều hành nhằm duy trì tỷ lệ tiêu thụ cao
                        như hiện nay. Qua đó giúp cho việc đảm bảo hoàn thành các chỉ tiêu kế hoạch, tiếp tục nghiên cứu nâng cao hiệu quả hoạt động kinh doanh các loại hình xổ số lô tô thủ công, xổ số cào, xổ số bốc biết kết quả ngay…đang được một số
                        đơn vị trong khu vực triển Khai kinh kinh doanh có hiệu quả.</li>
                    <li>Về phát hành vé Xuân Tân Sửu – 2021, các đơn vị tích cực triển khai thực hiện kế hoạch phát hành theo đúng tinh thần của Bộ Tài chính và lịch phát hành chung của khu vực. Đồng thời các đơn vị cần tích cực phát huy tinh thần đoàn kết,
                        hỗ trợ nhau trong việc củng cố, phát triển, giữ vững thị trường xổ số truyền thống. Thường xuyên động viên tinh thần và chăm sóc tốt lực lượng đại lý, tích cực cải tiến công nghệ và kỹ thuật in ấn vé số truyền thống để hạn chế
                        nạn vé số giả, bảo vệ uy tín và thu hút người chơi./.</li>
                </ul>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Quang cảnh hội nghị</span>
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-06.jpg">
                <p>Ông Võ Trung Dũng - GĐ Công ty XSKT An Giang.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-07.jpg">
                <p>Ông Lưu Hoàng Tân - Chủ tịch HĐTV kiêm GĐ XSKT Đồng Tháp</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-08.jpg">
                <p>Ông Nguyễn Thái Bình - GĐ Công ty XSKT Hậu Giang.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-09.jpg">
                <p>Ông Trần Minh Tâm - CT. HDQT Công ty XSKT Cần Thơ</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-10.jpg">
                <p>Ông Đặng Hoài Nhân CT. HĐTV Công ty XSKT Bình Thuận.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/resources7-11.jpg">
                <p>Ông Võ Văn Truyền CT HĐTV Công ty XSKT Long An</p>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.resources_r">
                            <li v-if="resourcesNum != index+1">
                                <a :href="reHref_r(index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li>
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li>
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>