<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>
                    Công ty TNHH MTV Xổ số Kiến thiết TPHCM: Nỗ lực vượt khó khăn, đoàn kết, ổn định và giữ vững vị thế dẫn đầu trong ngành xổ số truyền thống</p>
                <!-- 標題時間 -->
                <div class="txtDate" v-if="false"></div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span><span style="font-weight:bold;">Năm 2020 là một năm đầy khó khăn, thử thách và biến động mạnh đối với hoạt động kinh doanh xổ số kiến thiết trên phạm vi cả nước, Công ty TNHH MTV Xổ số Kiến thiết TPHCM không nằm ngoài sự ảnh hưởng chung này.</span>
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources8-01.jpg">
                <p>Đại diện Lãnh đạo Công ty TNHH MTV Xổ số kiến thiết TPHCM trao tặng 10 tỷ đồng đến Lãnh đạo Ủy ban MTTQ Việt Nam TPHCM để phòng chống dịch Covid-19.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Vào tháng 4-2020, công ty phải ngừng hoạt động kinh doanh xổ số theo Chỉ thị 16/CT-TTg (ngày 31-3-2020 của Thủ tướng Chính phủ về việc thực hiện các biện pháp cấp bách phòng, chống dịch Covid-19) và Công văn số 3685/BTC-TCNH (ngày 30-3-2020 của Bộ Tài
                        chính về việc tạm dừng hoạt động kinh doanh xổ số, đặt cược, trò chơi có thưởng và casino) cùng với đợt dịch bùng phát trở lại lần 2 vào tháng 7 năm 2020.
                    </li>
                    <li>Trước những diễn biến phức tạp của dịch bệnh Covid-19, Ban lãnh đạo công ty đã triển khai thực hiện các biện pháp phòng, chống dịch tại công ty nhằm đảm bảo môi trường làm việc an toàn cho CB-CNV. Công ty cũng xây dựng các phương án,
                        kịch bản để sẵn sàng, chủ động ứng phó với mọi tình huống khi xảy ra dịch Covid-19, đảm bảo hoạt động sản xuất kinh doanh, môi trường làm việc an toàn, liên tục, giảm thiểu thấp nhất mức độ ảnh hưởng đến hoạt động kinh doanh của
                        công ty.</li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources8-02.jpg">
                <p>Đại diện Lãnh đạo Công ty TNHH MTV Xổ số kiến thiết TPHCM tặng xe lăn cho người nghèo khuyết tật.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Cụ thể: Tổng doanh thu đạt <span style="font-weight:bold;">9.663,11</span> tỷ đồng (trong đó Doanh thu xổ số truyền thống chiếm tỷ lệ rất lớn đạt <span style="font-weight:bold;">9.000,99</span> tỷ đồng (tăng <span style="font-weight:bold;">0,93%</span>                        so với năm 2019). Tổng lợi nhuận đạt <span style="font-weight:bold;">1.340,45</span> tỷ đồng (tăng <span style="font-weight:bold;">11,59%</span> kế hoạch năm 2020). Nộp ngân sách là <span style="font-weight:bold;">3.277,05</span>                        tỷ đồng (tăng <span style="font-weight:bold;">2,83%</span> kế hoạch năm 2020). Về công tác xã hội – từ thiện: Thông qua Hội Chữ thập đỏ TPHCM và Ủy ban Mặt trận Tổ quốc Việt Nam – TPHCM, công ty thực hiện hỗ trợ cho người bán vé
                        số dạo trên địa bàn TP bị ảnh hưởng bởi dịch Covid-19 và quỹ phòng chống dịch bệnh Covid-19 của TP với tổng giá trị hơn 26 tỷ đồng.
                    </li>
                    <li>Ký kết tài trợ và phối hợp với Hội Chữ Thập đỏ TPHCM thực hiện công tác xã hội nhân đạo giai đoạn 2020 – 2021 với giá trị 2,5 tỷ đồng. Ngoài ra, công ty còn tổ chức thăm hỏi và trao tặng quà cho thương binh, bệnh binh, gia đình liệt
                        sĩ và người có công với cách mạng tại huyện Bình Chánh; tổ chức trao tặng 30 xe lắc tay cho người khuyết tật bán vé số; tài trợ xây nhà tình thương, nhà đại đoàn kết,… </li>
                    <li><span style="font-weight:bold;">Thực hiện đầy đủ, nghiêm túc các kiến nghị theo kết luận của Thanh tra Chính phủ :</span></li>
                    <li>Trong bối cảnh dịch bệnh ảnh hưởng rất lớn đến tình hình SX-KD, Tập thể BLĐ, CB-CNV Công ty TNHH MTV Xổ số kiến thiết TPHCM đã nỗ lực vượt qua thử thách, tranh thủ mọi cơ hội, điều kiện thuận lợi để bám sát, thực hiện mục tiêu, nhiệm
                        vụ kế hoạch đề ra cùng với sự quan tâm chỉ đạo, lãnh đạo sâu sát của UBND TPHCM, Công ty Đầu tư Tài chính nhà nước TPHCM (HFIC); sự hỗ trợ của các sở, ban, ngành thành phố; sự đồng hành, ủng hộ của hệ thống đại lý công ty;… Công
                        ty TNHH MTV Xổ số kiến thiết TPHCM vẫn duy trì tốt mọi hoạt động, hoàn thành các chỉ tiêu kinh doanh quan trọng, hoàn thành và thực hiện xuất sắc nhiệm vụ chính trị được giao.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources8-03.jpg">
                <p>Đại diện công ty tặng xe cứu thương cho Hội Chữ thập đỏ TPHCM.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Bên cạnh đó, Ban lãnh đạo công ty cũng đã nghiêm khắc tự kiểm điểm và chỉ đạo các phòng ban nghiệp vụ liên quan thực hiện nghiêm túc, đầy đủ các kiến nghị theo kết luận của Thanh tra Chính phủ trong Chuyên đề thanh tra định kỳ về việc thực hiện pháp luật
                        phòng, chống tham nhũng trong hoạt động kinh doanh xổ số; mà Công ty TNHH MTV Xổ số kiến thiết TPHCM là 1 trong 9 công ty Xổ số kiến thiết trong toàn quốc được Thanh tra Chính phủ kiểm tra, giám sát theo quyết định số 886/QĐ-TTCP
                        ký ngày 10-8-2018 và đến ngày 3-6-2020 đã có kết luận thanh tra số 846/KL-TTCP cùng với ý kiến chỉ đạo của UBND TPHCM tại Công văn số 3384/UBND-NCPC ngày 1-9-2020. Cụ thể, công ty đã thực hiện các kiến nghị theo kết luận của Thanh
                        tra Chính phủ:
                    </li>
                    <li>- Công ty đã dự thảo nội dung báo cáo tổng kết hoạt động SX-KD Xổ số 5 năm (2016-2020), Kế hoạch 5 năm giai đoạn 2021-2025 và định hướng đến năm 2030; Kế hoạch tổ chức Hội nghị tổng kết và đã có văn bản số 449/CV-XSKT-HCQT (ngày 11-11-2020)
                        gửi HFIC để xin ý kiến đóng góp và Công ty đã trình UBND TPHCM để xin ý kiến chỉ đạo thực hiện. </li>
                    <li>- Hội đồng thành viên và Ban Tổng Giám đốc công ty đã tổ chức họp (ngày 21-10-2020) lấy ý kiến về việc rà soát xác định lại vốn điều lệ của công ty và thống nhất không tăng vốn điều lệ; Công ty có văn bản trình HFIC thẩm định, quyết
                        định.
                    </li>
                    <li>- Ngày 27-10-2020, Ban lãnh đạo công ty đã tổ chức họp kiểm điểm các tập thể và cá nhân có liên quan đến các thiếu sót, vi phạm. Các cá nhân có liên quan đã nghiêm túc kiểm điểm trách nhiệm từng cá nhân trong việc tham mưu cho Ban
                        lãnh đạo công ty thực hiện điều hành hoạt động chung của công ty và xin rút kinh nghiệm trước tập thể Ban lãnh đạo công ty về các sai phạm đã được chỉ ra. Kiểm điểm đã được tổng hợp và báo cáo về Thanh tra Thành phố đảm bảo theo
                        quy định. Ngày 5-11-2020, Sở Nội vụ TPHCM đã chủ trì kiểm điểm các cá nhân có liên quan trong việc điều hành hoạt động của công ty còn để xảy ra một số thiếu sót, sai phạm. Ban lãnh đạo công ty (Chủ tịch Hội đồng thành viên và
                        Tổng Giám đốc) cũng đã nghiêm túc rút kinh nghiệm trước tập thể để thực hiện nhiệm vụ công tác tốt hơn.</li>
                    <li>- Công ty đã xây dựng Đề án tái cơ cấu và trình HFIC xem xét, phê duyệt Phương án cơ cấu lại Công ty giai đoạn 2018-2020; trong đó bao gồm nội dung thực hiện thoái toàn bộ vốn đầu tư 30 tỷ đồng tại Công ty CP Đầu tư KCN-ĐT Hóc Môn
                        (đây là khoản đầu tư còn lại duy nhất của công ty cần thoái vốn). Khi Đề án được HFIC phê duyệt, công ty sẽ khẩn trương tổ chức thực hiện thoái vốn theo đúng quy định.</li>
                    <li>- Công ty đã ban hành Quy chế Đại lý xổ số; trong đó, quy định cụ thể việc lựa chọn Đại lý xổ số của công ty; Công ty cũng đã ban hành Quy chế bổ nhiệm, bổ nhiệm lại, từ chức, miễn nhiệm đối với các chức danh do công ty bổ nhiệm; trong
                        đó, chú trọng xây dựng quy định cụ thể, chi tiết về điều kiện bổ nhiệm, bổ nhiệm lại, từ chức, miễn nhiệm đối với các chức danh này.</li>
                    <li>-Công ty đã tổ chức họp Ban lãnh đạo để rà soát, đánh giá lại việc thực hiện hợp đồng năm 2020 trước khi ký tái hợp đồng năm 2021 với các đại lý và đã có kế hoạch phát triển, mở rộng đại lý của công ty tại các tỉnh miền Tây vào đầu
                        năm 2021. </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources8-04.jpg">
                <p>Đại diện công ty tặng quà cho các gia đình chính sách tại huyện Hóc Môn nhân dịp Kỷ niệm Ngày Thương binh Liệt sĩ 27-7.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Ngoài ra, công ty cũng đã nộp bổ sung vào ngân sách nhà nước số tiền hơn 500 triệu đồng do kê khai sót. Như vậy, tính tới thời điểm hiện nay, bằng sự nghiêm túc, quyết liệt, cầu thị của toàn thể Ban lãnh đạo, Công ty TNHH MTV Xổ số kiến thiết TPHCM đã
                        cơ bản thực hiện đầy đủ các kiến nghị tại kết luận của Thanh tra Chính phủ.
                    </li>
                    <li><span style="font-weight:bold;">Nỗ lực vượt khó khăn, đoàn kết, ổn định và giữ vững vị thế dẫn đầu :</span></li>
                    <li>Bước sang năm 2021, tình hình dịch bệnh Covid-19 vẫn diễn biến phức tạp cũng sẽ tiếp tục ảnh hưởng đến hoạt động kinh doanh của tất cả các ngành nghề và đặc biệt là hoạt động kinh doanh xổ số kiến thiết; thời tiết mưa bão diễn biến
                        ngày càng khó lường; đồng thời các loại hình trò chơi có thưởng tiếp tục phát triển với nhiều kênh phân phối mới và địa bàn kinh doanh rộng khắp, nên đơn vị bị ảnh hưởng nhiều nhất. Do đó, để hoàn thành các chỉ tiêu kế hoạch năm
                        2021, đòi hỏi sự nỗ lực phấn đấu rất nhiều của tập thể CB-CNV công ty cùng với hàng loạt các giải pháp mà BLĐ đề ra như sau: </li>

                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/resources8-05.jpg">
                <p>Tập thể CB-CNV công ty quyết tâm đoàn kết, chung sức, chung lòng, tập trung hoàn toàn trí tuệ và sức lực để hoàn thành kế hoạch kinh doanh trong 5 năm tiếp theo (2020-2025).</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        -Tập trung chỉ đạo, thực hiện tốt việc điều hành hoạt động sản xuất kinh doanh để đảm bảo hoàn thành kế hoạch tài chính năm 2021, đồng thời nghiêm chỉnh chấp hành các quy định của nhà nước về kinh doanh xổ số và Quy chế hoạt động của Hội đồng XSKT khu
                        vực miền Nam; thực hiện rà soát, ban hành đầy đủ các Quy chế quản lý doanh nghiệp theo đúng các quy định của pháp luật và thường xuyên chỉ đạo kiểm tra việc thực hiện các quy chế, quy định.
                    </li>
                    <li>-Tiếp tục nghiên cứu, xây dựng đề án phát triển các loại hình xổ số đã được UBND TPHCM và Bộ Tài chính cho phép như “xổ số lô tô tự chọn” theo công nghệ mới của các nước tiên tiến. Tập trung phát triển sản phẩm “Xổ số cào biết kết
                        quả ngay” với việc bổ sung trò chơi mới lạ phù hợp với thị hiếu của người chơi, đồng thời phát triển sản phẩm đến các thị trường trong toàn khu vực miền Nam. Qua đó giúp công ty tăng cường khả năng cạnh tranh, đáp ứng kịp thời
                        nhu cầu giải trí của xã hội, góp phần bổ sung doanh thu cho công ty.</li>
                    <li>-Trong điều hành kinh doanh xổ số nói chung, công ty tiếp tục bám sát kế hoạch, đảm bảo duy trì tốc độ tăng trưởng hàng năm; giữ vững thị trường đang là thế mạnh (TPHCM và các tỉnh khu vực miền Đông); tiếp tục nghiên cứu phát triển
                        thị trường khu vực miền Tây đến An Giang, Kiên Giang…</li>
                    <li>Với sự chuẩn bị chu đáo và phù hợp với tình hình mới như hiện nay, Tập thể BLĐ, CB-CNV Công ty TNHH MTV Xổ số kiến thiết TPHCM tin tưởng sẽ thực hiện hoàn thành và vượt mức các chỉ tiêu, nhiệm vụ đã đề ra, luôn xứng đáng với niềm tin,
                        sự ủng hộ của các cấp lãnh đạo, các ban ngành, quý đối tác và đại lý đã dành cho công ty.</li>
                </ul>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in resNews">
                            <li v-if="resourcesNum != index+1">
                                <a :href="reHref_r(index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>

            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>