// broadcast start(轉播)
.broadcast {
    // liveBox start
    .liveBox {
        padding: 40px 10px 20px;
        background-color: #242424;
        .liveTitle {
            display: flex;
            justify-content: center;
            & > div {
                padding: 10px;
                margin: 0 auto 20px;
                border-radius: 10px;
                font-weight: bold;
                letter-spacing: 1px;
                background-color: #fff;
                color: #000;
                display: inline-block;
            }
            img {
                width: 70px;
                padding-bottom: 5px;
                display: block;
                margin: auto;
            }
        }
        .liveList {
            margin-bottom: 40px;
            ul {
                display: flex;   
                @include rwd(920){
                    flex-wrap: wrap;
                }
            }
            li {   
                flex: 1;
                padding: 5px;
                @include rwd(920){
                    min-width: 230px;
                }
                & > div {
                    height: 100%;
                    padding-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 2px 2px 10px #000;
                    transition: 0.5s;
                }
                &:hover > div {
                    transform: translateY(-4px);
                    background-color: #fff;
                    color: #000;
                }
            }
            .liveList_mv {
                width: 100%;
                height: 0;
                padding-bottom: calc(100% / 1.775);
                position: relative;
                margin-bottom: 10px;
                iframe {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .liveList_msg {
                padding: 0 10px;
                font-size: 0.95rem;
                line-height: 24px;
                font-weight: bold;
                @include txtChip(2);
            }
        }
        .liveBtn {
            text-align: center;
            .btn {
                min-width: 150px;
                height: 40px;
                padding: 0 20px;
                line-height: 40px;
                border-radius: 40px;
            }
        }
    }
    // videoBox start
    .videoBox {
        display: flex;
        margin-top: 0;
        @include rwd(1000){
            flex-direction: column;
        }
    }
    .gameShow {
        width: calc(100% - 350px);
        padding-right: 20px;
        @include rwd(1000){
           width: 100%;
           padding-right: 0;
        }

        .main {
            height: 0;
            padding-bottom: calc(100% / 1.775);
            position: relative;
            margin: 0 auto 10px;
            iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .list {
            padding: 0 10px;
            position: relative;
            min-height: 50px;
            .arrow_l,
            .arrow_r {
                width: 40px;
                height: 40px;
                margin: auto;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                top: calc(33%);
                opacity: 0.7;
                z-index: 2;
                cursor: pointer;
                transition: 0.3s;
                @include rwd(550){
                    width: 30px;
                    height: 30px;
                }
                &:active {
                    opacity: 1;
                }
                @media (any-hover: hover) {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .arrow_l::before,
            .arrow_r::before {
                content: "";
                width: 70%;
                height: 70%;
                margin: auto;
                background: url(../images/icon/arrow-r.png) no-repeat center / cover;
                position: absolute;
                @include pos(tblr, 0);
            }

            .arrow_l::before {
                transform: rotate(180deg);
            }

            .arrow_l {
                left: 0;
                box-shadow: -1px 2px 3px #000;
            }
            .arrow_r {
                right: 0;
                box-shadow: 1px 2px 3px #000;
            }
            .listArray {
                padding: 0 10px;
                margin: auto;
                overflow: hidden;
                ul {
                    display: flex;
                    transition: 0.3s;
                }
                li {
                    width: calc(100% / 3);
                    padding: 0 5px;
                    flex: 1;
                    cursor: pointer;
                    & > div {
                        height: 100%;
                        padding-bottom: 20px;
                        color: #333;
                        transition: 0.5s;
                    }
                }
            }
            .listArray_img {
                margin-bottom: 10px;
            }
            .listArray_msg {
                color: #000;
                padding: 0 10px;
                font-size: 1rem;
                line-height: 22px;
                font-weight: bold;

                @include rwd(550){
                    display: none;
                }
                span {
                    color: #888;
                    font-weight: normal;
                    font-size: 0.95rem;
                }
                p {
                    padding-top: 5px;
                    @include txtChip(3);
                }
            }
        }
    }

    .gameMsg {
        width: 350px;
        display: flex;
        flex-direction: column;
        @include rwd(1000){
            width: 100%;
            flex-direction: row;
        }
        @include rwd(720){
            flex-direction: column;
        }

        & > div {
            flex: 1;
        }
        & > div + div {
            margin-top: 10px;
            @include rwd(1000){
                margin-top: 0;
                margin-left: 20px;
            }
            @include rwd(720){
                margin-top: 10px;
                margin-left: 0;
            }
        }
        .gameChart {
            select {
                width: 100%;
                padding: 10px;
                margin-bottom: 5px;
                color: #495057;
                font-size: 1rem;
                font-weight: 400;
                border: 1px solid #ced4da;
                border-radius: 3px;
                &:focus {
                    outline: 2px solid#80bdff;
                }
            }
            .gameChart_tb {
                max-height: 310px;
                overflow-y: scroll;
                border: 1px solid #eaeaea;
                &::-webkit-scrollbar {
                    width: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #c1c1c1;
                    border: 3px #f1f1f1 solid;
                    border-radius: 10px;
                }
                table {
                    width: 100%;
                    color: #181c27;
                    font-size: 0.9rem;
                }
                tr + tr {
                    border-top: 1px solid #dee2e6;
                }
                th {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 5px;
                    font-weight: 600;
                    background-color: #d6d8db;
                    border-bottom: 2px solid #dee2e6;
                    text-align: center;
                    &:nth-child(2) {
                        text-align: left;
                    }
                }
                td {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 5px;
                    position: relative;
                    text-align: center;
                    &:nth-child(1) {
                        font-weight: bold;
                    }
                    &:nth-child(2) {
                        text-align: left;
                    }
                    span{
                        display: inline-block;
                    }

                    span:first-letter {
                        text-transform: uppercase;
                    }
                }
                .sort {
                    background-color: #9fcdff;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-align: center;
                }
                .flag {
                    width: 20px;
                    margin-right: 5px;
                    display: inline-block;
                }
            }
        }
        .gameSchedule {
            .gameSchedule_tb {
                max-height: 360px;
                border: 1px solid #eaeaea;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #c1c1c1;
                    border: 3px #f1f1f1 solid;
                    border-radius: 10px;
                }
                table {
                    width: 100%;
                    color: #181c27;
                    font-size: 0.9rem;
                }
                tr + tr {
                    border-top: 1px solid #dee2e6;
                }
                th {
                    height: 40px;
                    line-height: 40px;
                    font-weight: 600;
                    padding: 0 5px;
                    background: #dee2e6;
                    font-size: 0.95rem;
                }
                td {
                    padding: 10px 2px;
                    &:nth-child(1),
                    &:nth-child(3) {
                        width: calc(50% - 40px);
                    }
                    &:nth-child(2) {
                        padding: 10px 0;
                        min-width: 40px;
                        text-align: center;
                    }
                    & > div {
                        display: flex;
                        align-items: center;
                    }
                    span {
                        width: 100%;
                    }
                    .club_1 {
                        justify-content: flex-end;
                        text-align: right;
                    }
                    .club_1 {
                        justify-content: flex-start;
                    }
                }

                .badge {
                    width: 20px;
                    margin: 0 5px;
                    display: inline-block;
                    flex-shrink: 0;
                    
                }
                .score {
                    padding: 2px 5px;
                    background: #dbdbdb;
                    font-weight: bold;
                    border-radius: 3px;
                }
            }
        }
    }

    // chatroom start (聊天室)
    @at-root .chatBox {
        display: flex;
        @at-root .chatroom {
            width: calc(100% - 300px);
            padding-right: 15px;
            display: flex;
            flex-direction: column;

            .chat_title {
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                font-weight: bold;
                font-size: 1.1rem;
                letter-spacing: 1px;
                color: #fff;
                background-color: #000;
            }

            .chat_list {
                margin: 10px 0;  
                border: 1px solid #333;
                border-radius: 5px;
                color: #000;
                overflow: hidden;
               position: relative;
                &>div{
                    height: 400px;
                    padding: 10px;
                    overflow-y: auto;
                    position: relative;
                    &::-webkit-scrollbar{
                        width: 7px;
                        background-color: #fff;
                        box-shadow: 0 0 4px #000 inset;
                    }
                    &::-webkit-scrollbar-thumb{
                        background: linear-gradient(30deg,#eb518c,rgb(235, 235, 233),#d35590);
                        border: none;
                    }
                }
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: url(../images/bodyBg.jpg) no-repeat center / cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.7;
                }
                ul {
                    padding: 0 20px;
                    display: flex;
                    flex-direction: column;
                }
                li {
                    max-width: 65%;
                    padding: 10px;
                    flex-shrink: 0;
                    position: relative;
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 10px;
                    align-self: flex-start;
                    &.self {
                        background-color: #effddeb4;
                        align-self: flex-end;
                        .chat_member {
                            text-align: right;        
                        }
                        &::before{
                            border-width: 7.5px 0 7.5px 13.0px;
                            border-color: transparent transparent transparent #effddeb4; 
                            right: -13px;
                            left: unset;
                        }
                    }
                }
                li::before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7.5px 13.0px 7.5px 0;
                    border-color: transparent rgba(255, 255, 255, 0.7) transparent transparent;
                    position: absolute;
                    top: 8px;
                    left: -13px;
                }

                li + li {
                    margin-top: 15px;
                }
            }

            .chat_member {
                margin-right: 10px;
                padding-bottom: 2px;
                font-size: 0.9rem;
                color: #999;
            }
            
            .chat_name {
                padding-left: 5px;
            }

            .chat_ipt {
                height: 60px;
                display: flex;
                align-items: center;
                position: relative;
                .chat_txt{
                    width: 100%;
                    height: 60px;
                    border: 1px solid #333;
                    border-radius: 5px;
                    color: #000;
                    display: flex;
                    align-items: center;
                    overflow: auto;  
                    position: relative;  
                }
                .chat_msg {
                    width: 100%;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 10px;  
                    font-size: 1.2rem;  
                }
                .chat_take{
                    padding-left: 10px;
                    margin: auto;
                    position: absolute;
                    @include pos(tbl,0); 
                    display: flex;
                    align-items: center;
                    color: #eb518c;
                    pointer-events: none;
                    font-size: 1.2rem;
                }
                .chat_color {
                    width: 45px;
                    height: 45px;
                    flex-shrink: 0;
                    @include fullNone;
                    cursor: pointer;
                    position: relative;          
                    &:hover::before{
                        filter: grayscale(100%) sepia(100%);
                    }

                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        background:#fff url(../images/icon/chat_color.svg) no-repeat center / 80%;
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: .3s;
                    }
                }
                .chat_iconBtn{
                    width: 45px;
                    height: 45px;
                    margin: 0 5px;
                    flex-shrink: 0;  
                    cursor: pointer;         
                    position: relative;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: url(../images/icon/chat_selectImg.svg) no-repeat center / 80%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: .3s;
                    }
                    &:hover::before{
                        filter: grayscale(100%) sepia(100%);
                    }
                    &:hover .chat_iconList{
                        display: block;
                    }
                }

                .chat_iconList{
                    width: 200px;
                    padding: 10px;
                    background-color: rgba(255, 255, 255, 0.7);
                    border: 1px solid #999;
                    position: absolute;
                    right: 0;
                    bottom: 60%;
                    border-radius: 5px;
                    box-shadow: 0px 2px 5px rgb(92, 92, 92) inset;
                    display: none;
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                    }
                    li{
                        width: calc(100%/5);
                        padding: 2px;
                        cursor: pointer;
                    }
                    .chat_icon{
                        width: 2rem;
                    }
                }
            }  
        }
        .chat_icon{
            width: 1.25rem;
            vertical-align: bottom;
            background-color: transparent !important;
        }
        .chatAd {
            width: 300px;
            li + li {
                margin-top: 5px;
            }
        }
    }

    // scheduleList start (時程表)
    @at-root .scheduleList {
        color: #000;
        .dateList {
            margin-bottom: 20px;
            .today {
                padding-bottom: 10px;
                font-size: 1.1rem;
                font-weight: bold;
                text-align: center;
            }
            ul {
                display: flex;
                border: 1px solid #bfbfbf;
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
            }
            li {
                padding: 10px;
                flex: 1;
                color: #626262;
                font-weight: bold;
                font-size: 0.95rem;
                position: relative;
                cursor: pointer;
                transition: 0.3s;
                &:active {
                    background-color: #bfbfbf;
                }
                @include hover {
                    &:hover {
                        background-color: #bfbfbf;
                    }
                }
            }

            li + li::before {
                content: "";
                width: 1px;
                height: calc(100% - 20px);
                margin: auto;
                background-color: #bfbfbf;
                position: absolute;
                @include pos(tbl, 0);
            }
            .date_num {
                font-size: 1.8rem;

                margin-bottom: 15px;
            }
            .date_week {
                text-align: right;
            }
        }

        .matchList {
            table {
                width: 100%;
            }

            tr + tr {
                border-top: 1px solid #bfbfbf;
            }
            td {
                padding: 20px 10px;
                &:first-child {
                    white-space: nowrap;
                }
                &:last-child {
                    width: 100%;
                }
            }

            .match_title {
                font-size: 0.85rem;
                & > p {
                    font-size: 0.9rem;
                    font-weight: bold;
                }
                &.on .match_live {
                    display: block;
                }
            }
            .match_time {
                display: flex;
                align-items: center;
                padding-bottom: 4px;
                p {
                    padding-right: 10px;
                }
            }
            .match_live {
                padding: 1px 4px;
                border-radius: 2px;
                color: #f00;
                border: 1px solid #f00;
                text-align: center;
                animation: match_live 1s infinite;
                display: none;
            }

            .match_teams {
                display: flex;
                align-items: center;
                .vs {
                    width: 40px;
                    font-size: 0.9rem;
                    text-align: center;
                }
                .team {
                    width: calc((100% - 40px) / 2);
                    display: flex;
                    align-items: center;
                }
                .team_flag {
                    width: 30px;
                    margin: 0 10px;
                }
                .team_L {
                    justify-content: flex-end;
                }
            }
        }
    }
}

@keyframes match_live {
    0%,
    49% {
        color: #fff;
        background-color: #f00;
    }
    50% {
        color: #f00;
        background-color: transparent;
    }
}
