body {
    background-color: #0b2d53;
    position: relative;
}

// 預設按鈕樣式
.btn_linear_c1 {
    @include btn_linear(#fff, #ffff00, #f14c0a, #f8b107);
}

.btn_linear_c2 {
    @include btn_linear(#fff, #898989, #212121, #676767);
}

.btn_linear_c3 {
    @include btn_linear(#fff, #fe4436, #8e041d, #da001a);
}

.btn_linear_c4 {
    @include btn_linear(#fff, #fff, #3f67c0, #5e89e4);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px #100f1f inset;
    -webkit-text-fill-color: #d7e4f9;
}

// ===== header start =====
.header {
    width: 100%;
    margin: auto;
    min-height: 188px;
    background-color: $mainBgc;
    position: relative;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        box-shadow: 0 0 0 30px #111 inset;
        -webkit-text-fill-color: #d7e4f9;
    }

    @include rwd(1280) {
        min-height: auto;

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            box-shadow: 0 0 0 30px #100f1f inset;
            -webkit-text-fill-color: #d7e4f9;
        }
    }
    // hd_top start
    .hd_top {
        max-width: $count-minW;
        min-height: 140px;
        margin: auto;
        padding: 10px 20px 0px 28px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include rwd(1280) {
            width: 100%;
            padding: 5px 20px 5px 28px;
            background: linear-gradient(180deg, #234c77, #0b2139);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 20;
            box-shadow: 0 2px 6px #000;
            transition: 0.5s;
            &.hideUp {
                top: -150px;
            }
        }
        @include rwd(860) {
            min-height: auto;
            padding: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .hd_logo {
            width: 478px;
            height: 86px;
            margin-bottom: 10px;
            margin-right: 20px;
            background: url(../images/logo/hd_logo.png) no-repeat center / cover;
            cursor: pointer;
            @include imgToTxt;
            @include rwd(860) {
                width: 290px;
                height: 50px;
                margin-left: 15px;
            }
            a {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .hd_tool {
            max-width: 685px;
            height: 100%;
            padding-bottom: 20px;
            @include rwd(1280) {
                align-self: flex-end;
                padding-bottom: 0px;
            }
            @include rwd(860) {
                align-self: unset;
            }
        }
        .hd_link {
            margin-bottom: 12px;
            @include rwd(860) {
                margin-bottom: 0;
            }

            a {
                display: flex;
            }
            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            li + li {
                margin-left: 5px;
            }
            .menuBar,
            .signinBar {
                display: none;
                @include rwd(1280) {
                    display: block;
                }
            }
        }
        .hd_signIn {
            height: 34px;
            display: flex;
            @include rwd(1280) {
                width: 100%;
                height: 100vh;
                padding: 30px 10px 0;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 99;
                display: none;
                &.on {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    animation: dialogBox 0.5s forwards;
                }
            }
            .close {
                @include rwd(1280) {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    position: absolute;
                    @include pos(tblr, 0);
                }
            }
            .title {
                padding: 0 25px 20px;
                margin-bottom: 47px;
                color: #e9b21a;
                font-size: 2.1rem;
                font-weight: 400;
                letter-spacing: 5px;
                text-align: center;
                position: relative;
                display: none;
                @include rwd(1280) {
                    display: block;
                }
                @include rwd(600) {
                    padding: 0 25px 10px;
                    margin-bottom: 25px;
                    font-size: 1.6em;
                }
                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(90deg, transparent, #71784c, transparent);
                    position: absolute;
                    margin: auto;
                    @include pos(blr, 0);
                    border-radius: 50%;
                }
            }
            .errorTxt {
                display: none;
                @include rwd(1280) {
                    display: block;
                }
            }
            .hd_signInCnt {
                @include rwd(1280) {
                    width: 100%;
                    max-width: 779px;
                    max-height: 85%;
                    padding: 30px 0;
                    position: relative;
                    background: linear-gradient(0deg, #091422, #0e263c);
                    box-shadow: 5px 5px 10px #000;
                    border: 1px solid #f6bf3d;
                    border-image: linear-gradient(0deg, #f6bf3d, #7a5d17, #f6bf3d) 1 1 round;
                }

                .hd_signInCnt_inner {
                    @include rwd(1280) {
                        max-height: calc(95vh - 195px);
                        overflow: auto;
                        padding: 0 20px 50px;
                    }
                }

                form {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    @include rwd(1280) {
                        width: 100%;

                        flex-direction: column;
                        align-items: unset;
                    }
                }

                .signIn_close {
                    width: 38px;
                    height: 38px;
                    z-index: 1;
                    position: absolute;
                    @include pos(tr, 15px);
                    cursor: pointer;
                    display: none;
                    @include rwd(1280) {
                        display: block;
                    }
                    @include rwd(600) {
                        @include pos(tr, 5px);
                    }
                    &::before,
                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        margin: auto;
                        position: absolute;
                        @include pos(tblr, 0);
                        background-color: #818b99;
                    }
                    &::before {
                        transform: rotate(45deg);
                    }
                    &::after {
                        transform: rotate(-45deg);
                    }
                    &:active::before,
                    &:active::after {
                        background-color: #ffd200;
                    }
                    @include hover {
                        &:hover::before,
                        &:hover::after {
                            background-color: #ffd200;
                        }
                    }
                }
            }
            .signIn_ipt {
                display: flex;
                @include rwd(1280) {
                    flex-direction: column;
                    max-height: calc(100vh - 100px);
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                }
            }
            label {
                width: 155px;
                height: 100%;
                padding: 0 5px;
                margin-right: 10px;
                border: 1px solid #646774;
                background-color: #111;
                color: $color_01;
                align-items: center;
                border-radius: 5px;
                display: flex;
                @include rwd(1280) {
                    width: 100%;
                    height: 35px;
                    margin: 10px 0;
                    background-color: #100f1f;
                    box-shadow: 0 0 6px #000 inset, 0 1px 1px #313a5c;
                    border: none;
                }
                input {
                    width: 100%;
                    height: 100%;
                    order: 1;
                    color: $color_01;
                    font-size: 1rem;
                    @include fullNone;
                    &::-webkit-input-placeholder {
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
            .signIn_on {
                width: 100%;
            }

            .signIn_on_inner {
                display: flex;
                @include rwd(1280) {
                    padding: 0 20px 50px;
                    max-height: calc(100vh - 180px);
                    flex-direction: column;
                    overflow: auto;
                }
            }

            .signIn_msg {
                display: flex;
                color: $clr_Txt;
                font-size: 0.9rem;
                @include rwd(1280) {
                    justify-content: center;
                }
                @include rwd(650) {
                    flex-direction: column;
                }
                & > div {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                }
                & > div + div {
                    @include rwd(650) {
                        margin-top: 15px;
                    }
                }
                .signIn_icon {
                    width: 20px;
                    height: 20px;
                    margin: 0 5px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    &.member {
                        background: url(../images/icon/icon-member.svg);
                    }
                    &.chip {
                        background: url(../images/icon/icon-chip.svg);
                    }
                    &.mail {
                        background: url(../images/icon/icon-mail.svg);
                    }
                }
                p {
                    @include rwd(650) {
                        width: 100%;
                        height: 35px;
                        margin-left: 5px;
                        padding-left: 10px;
                        line-height: 35px;
                        border-radius: 5px;
                        background-color: #100f1f;
                        box-shadow: 0 0 6px #000 inset, 0 1px 1px #313a5c;
                    }
                }
            }
            .signIn_account,
            .signIn_forget,
            .signIn_code {
                margin: 5px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                @include rwd(600) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .signIn_minCnt {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }
            .signIn_minTitle {
                display: none;
                @include rwd(1280) {
                    width: 120px;
                    padding-right: 5px;
                    padding-bottom: 20px;
                    flex-shrink: 0;
                    text-align: right;
                    font-weight: bold;
                    color: #869bae;
                    margin-right: 6px;
                    display: inline-block;
                }
                @include rwd(600) {
                    width: 100%;
                    padding-bottom: 5px;
                    text-align: left;
                }
            }
            .signIn_account {
                .signIn_iptBox {
                    @include rwd(1280) {
                        width: 100%;
                        max-width: 390px;
                        height: 56px;
                    }
                    @include rwd(600) {
                        max-width: 100%;
                    }
                }
                .signIn_minCnt {
                    width: 155px;
                    height: 34px;
                    padding: 0 5px;
                    background-color: #111;
                    border: 1px solid #646774;
                    box-sizing: border-box;
                    border-radius: 5px;
                    @include rwd(1280) {
                        width: 100%;
                        height: 35px;
                        background-color: #100f1f;
                        box-shadow: 0 0 6px #000 inset, 0 1px 1px #313a5c;
                        border: none;
                    }
                }
                label {
                    width: 100%;
                    margin-right: 0;
                    border: none;
                    padding: 0;
                    @include rwd(1280) {
                        height: 100%;
                        background-color: none;
                        box-shadow: none;
                    }
                }
            }
            .signIn_forget {
                .signIn_iptBox {
                    @include rwd(1280) {
                        width: 100%;
                        max-width: 390px;
                        height: 56px;
                    }
                    @include rwd(600) {
                        max-width: 100%;
                    }
                }
                .signIn_minCnt {
                    width: 155px;
                    height: 34px;
                    padding: 0 5px;
                    background-color: #111;
                    border: 1px solid #646774;
                    box-sizing: border-box;
                    border-radius: 5px;
                    @include rwd(1280) {
                        width: 100%;
                        height: 35px;
                        background-color: #100f1f;
                        box-shadow: 0 0 6px #000 inset, 0 1px 1px #313a5c;
                        border: none;
                    }
                    @include rwd(600) {
                        max-width: 100%;
                    }
                }
                label {
                    width: 100%;
                    margin-right: 0;
                    border: none;
                    padding: 0;
                    @include rwd(1280) {
                        height: 100%;
                        background-color: none;
                        box-shadow: none;
                    }
                }
                .hd_forget {
                    @include btn_linear(#fff, #898989, #212121, #676767);
                    width: 25px;
                    height: 25px;
                    flex-shrink: 0;
                    & .btn_cnt {
                        background: url(../images/icon/icon-Q.png) no-repeat center;
                    }
                }
            }
            .signIn_code {
                .signIn_codeBox {
                    width: 100%;
                    @include rwd(1280) {
                        width: 100%;
                        height: 56px;
                        max-width: 390px;
                        @include rwd(600) {
                            max-width: 100%;
                        }
                    }
                }
                .signIn_minCnt {
                    height: 34px;
                    @include rwd(1280) {
                        width: 100%;
                        height: 35px;
                    }
                }
                label {
                    width: 95px;
                    margin-right: 5px;
                    @include rwd(1280) {
                        width: 100%;
                    }
                }
                .nbCode {
                    width: 80px;
                    display: flex;
                    cursor: pointer;
                    user-select: none;
                    overflow: hidden;
                    flex-shrink: 0;
                }
            }
            .signIn_btn {
                display: flex;
                flex-shrink: 0;
                @include rwd(1280) {
                    width: 550px;
                    margin: 40px auto 0;
                }
                @include rwd(650) {
                    width: 100%;
                    flex-direction: column;
                }
                .btn {
                    min-width: 80px;
                    padding: 0 5px;
                    @include rwd(1280) {
                        flex: 1;
                        height: 45px;
                        line-height: 45px;
                    }
                }
                .btn + .btn {
                    margin-left: 5px;
                    @include rwd(12800) {
                        margin-left: 10px;
                    }
                    @include rwd(650) {
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    // hd_menu start
    .hd_menu {
        width: 100%;
        margin: auto;
        height: 48px;
        background: linear-gradient(90deg, transparent 10%, #000, transparent 90%);
        @include rwd(1280) {
            width: 100vw;
            height: 100vh;
            position: fixed;
            @include pos(tl, 0);
            z-index: 50;
            transform: translateX(-100%);
            &.on {
                transform: translateX(0%);
                transition: 0.3s;
            }
        }
        &.on {
            background: rgba(0, 0, 0, 0.85);
            position: fixed;
            top: 0;
            z-index: 50;
        }
        .close {
            @include rwd(1280) {
                width: 100%;
                height: 100%;
            }
        }

        ul {
            width: 100%;
            max-width: $count-minW;
            margin: auto;
            height: 100%;
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            @include rwd(1280) {
                width: 80%;
                max-width: 350px;
                min-width: 250px;
                margin: unset;
                padding: 20px;
                background: #0b2139 url(../images/bodyBg.jpg) no-repeat;
                display: block;
                border-right: 1px solid #ebba48;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        li {
            height: 100%;
            display: flex;
            align-items: center;
            color: $clr_Txt;
            line-height: 48px;
            transition: 0.3s;
            @include rwd(1280) {
                width: 100%;
                height: unset;
            }
            &.on,
            &:active {
                color: $color_02;
            }
            @include hover {
                &:hover {
                    color: $color_02;
                }
            }
            h2{
                font-weight: bold;
            }
        }
        .menu_game {
            width: 171px;
            opacity: 0.8;
            transition: 0.5s;
            &:active {
                opacity: 1;
            }
            @include hover {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

// ===== content start =====
.mainCnt {
    position: relative;
    overflow: hidden;
    .contBox-full {
        width: 100%;
        max-width: $count-maxW;
        margin: auto;
        // 跑馬燈
        .marquee {
            margin-bottom: 20px;
            background: linear-gradient(90deg, transparent, #000, transparent);
            color: $color_02;
            font-size: 0.95rem;
            .marqueeBox {
                max-width: $count-minW;
                margin: auto;
                .marquee_body {
                    max-width: 1050px;
                    cursor: pointer;
                }
                & > div {
                    max-width: 1050px;
                    height: 35px;
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    @include rwd(500) {
                        padding: 0 10px;
                    }
                }
                span {
                    flex-shrink: 0;
                    margin-right: 20px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    @include rwd(500) {
                        display: none;
                    }
                }
                .btn {
                    height: 23px;
                    line-height: 23px;
                    padding: 0 10px;
                    margin-left: 20px;
                    flex-shrink: 0;
                    .btn_cnt {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        & > .contBox-min {
            padding: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            & > .flexEvent {
                padding: 0 20px;
                margin-bottom: 0;
                @include rwd(1280) {
                    padding: 0 10px;
                }
            }
            .crumb {
                width: 100%;
                padding: 10px 20px;
                margin: 0 auto 50px;
                background: linear-gradient(90deg, transparent, #000, transparent);
                color: #f7e6be;
                @include rwd(500){
                    display: none;
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                }
                li {
                    padding: 3px 0;
                    position: relative;
                    display: flex;
                    align-items: center;
                }
                li + li {
                    margin-left: 25px;
                    &::before {
                        content: "≫";
                        position: absolute;
                        left: -20px;
                        font-weight: bold;
                    }
                }
            }
        }
        .leftTool,
        .rightTool {
            width: 97px;
            position: absolute;
            top: 0;
            z-index: 10;

            @include rwd(1490) {
                width: 60px;
            }
        }
        .leftTool {
            left: -90px;
            &.on {
                margin: auto;
                position: fixed;
                @include pos(tr, 60px, 1273px);
            }
            @include rwd(1490) {
                &,
                &.on {
                    width: 60px;
                    position: fixed;
                    @include pos(tlrb, unset, unset, 5px, 265px);
                }
            }
            @include rwd(800) {
                &,
                &.on {
                    width: 50px;
                    opacity: 0.7;
                    bottom: 155px;
                }
            }
        }
        .rightTool {
            right: -90px;
            &.on {
                position: fixed;
                @include pos(tl, 60px, 1273px);
                margin: auto;
            }
            @include rwd(1490) {
                &,
                &.on {
                    position: fixed;
                    @include pos(tlbr, unset, unset, 200px, 5px);
                }
            }
            @include rwd(800) {
                &,
                &.on {
                    width: 50px;
                    bottom: 100px;
                    opacity: 0.7;
                }
            }
            .todayGame {
                width: 100%;
                position: absolute;
                .god {
                    width: 160px;
                    cursor: pointer;
                    position: relative;
                    @include pos(tl, 20px, -30px);
                    animation: pudding 1s infinite linear;
                    @include rwd(1490) {
                        width: 100px;
                        @include pos(tl, 8px, -20px);
                    }
                    @include rwd(800) {
                        width: 80px;
                        @include pos(tl, 8px, -13px);
                    }
                }
            }
        }
        .floatEvent {
            & > img {
                display: block;
                margin-bottom: 10px;
            }
            @include rwd(1490) {
                display: none;
            }
        }
        .getGift {
            width: 95%;
            height: 95%;
            margin: auto;
            padding: 20px;
            background-color: #282828;
            border-radius: 50%;
            cursor: pointer;
            @include rwd(1490) {
                width: 60px;
                height: 60px;
                padding: 15px;
                background: linear-gradient(0deg, #aa0714, #c75c3c);  
                box-shadow: 2px 3px 2px #740909 inset;
            }
            @include rwd(800) {
                width: 50px;
                height: 50px;
                padding: 10px;
                background: #282828;
                box-shadow: unset;
            }
        }
        .goTop {
            height: 30px;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 300;
            cursor: pointer;
            @include rwd(1490) {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                flex-direction: column;
                background: linear-gradient(0deg, #000, #555);  
                box-shadow: 2px 3px 2px #000 inset;
            }
            @include rwd(800) {
                width: 50px;
                height: 50px;
                background: #000;  
                box-shadow: unset;
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                @include rwd(1490) {
                    width: 25px;
                    height: 25px;
                    margin-right: 0;
                }
                @include rwd(800) {
                    width: 32px;
                    height: 32px;
                    margin: 0;
                }
            }

            span {
                @include rwd(1490) {
                    margin-top: 3px;
                    font-size: 0.8rem;
                }
                @include rwd(800) {
                    display: none;
                }
            }
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/bodyBg.jpg) no-repeat center bottom;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.4;
    }
}

.contBox-min {
    width: 100%;
    max-width: $count-minW;
    margin: auto;
    padding: 0 20px;
    @include rwd(1280) {
        padding: 0;
    }
}

.content {
    width: 100%;
    min-height: calc(100vh - 463px);
    margin: auto;
    color: #fff;
    position: relative;
}

// ===== footer start =====
.footer {
    width: 100%;
    min-height: 275px;
    margin: auto;
    color: $clr_ftTxt;
    position: relative;
    // ft_top
    .ft_top {
        background-color: #313131;
        & > div {
            width: 100%;
            max-width: 1800px;
            min-height: 160px;
            margin: auto;
            padding: 0 15px 30px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @include rwd(800) {
                flex-direction: column;
                align-items: center;
                padding: 20px 10px;
            }
        }
        .ft_msg {
            line-height: 25px;
            @include rwd(800) {
                order: 1;
                padding-top: 20px;
            }
        }
        .ft_link {
            ul {
                display: flex;
            }
            li + li {
                margin-left: 20px;
            }
            .ft_icon {
                width: 46px;
            }
        }
    }
    // ft_bottom
    .ft_bottom {
        background-color: #121210;
        & > div {
            max-width: 1800px;
            min-height: calc(275px - 160px);
            margin: auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include rwd(800) {
                flex-direction: column;
                padding: 20px 10px;
            }
        }
        .copyright {
            font-size: 1.2rem;
            margin-right: 50px;
            flex-shrink: 0;
            @include rwd(800) {
                order: 1;
                padding-top: 20px;
            }
        }
        .ft_menu {
            ul {
                display: flex;
                font-size: 1rem;
                font-weight: bold;
                @include rwd(1120) {
                    flex-wrap: wrap;
                }
            }
            li {
                padding: 5px 10px;
                transition: 0.3s;
                @include rwd(1120) {
                    width: 50%;
                }
                &:active {
                    color: $color_02;
                }
                @include hover {
                    &:hover {
                        color: $color_02;
                    }
                }
            }
        }
    }
    // ftEvent
    .ftEvent {
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding: 0 20px;
        bottom: 40px;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include rwd(1200) {
            width: 50%;
            min-width: 450px;
            flex-direction: column;
            padding: 0;
        }
        @include rwd(550) {
            display: none;
        }
        & > div {
            margin: 10px;
            position: relative;
            pointer-events: auto;
            &:nth-child(2) {
                width: 55%;
                max-width: 650px;
                @include rwd(1200) {
                    width: 90%;
                    order: -1;
                }
            }
            &.on {
                visibility: hidden;
                pointer-events: none;
                @include rwd(1200) {
                    display: none;
                }
            }
        }
        .ftEvent_close {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #000;
            position: absolute;
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.3s;
            @include pos(tr, -10px);
            @include hover {
                &:hover {
                    opacity: 1;
                }
            }
            &::after,
            &::before {
                content: "";
                width: 22px;
                height: 2px;
                margin: auto;
                background-color: #fff;
                position: absolute;
                @include pos(tblr, 0);
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg);
            }
        }
    }
}

@keyframes pudding {
    0% {
        transform: scaleX(1);
    }
    30% {
        transform: scale3d(0.95, 1.1, 1);
    }
    40% {
        transform: scale3d(1.11, 0.85, 1);
    }
    40% {
        transform: scale3d(1.11, 0.85, 1);
    }
    50% {
        transform: scale3d(0.95, 1.1, 1);
    }
    65% {
        transform: scale3d(1.05, 1, 1);
    }
    75% {
        transform: scale3d(1, 1.05, 1);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes load_txt {
    0%,
    100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

@keyframes load_round {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 4px 0 0 #fff;
    }
    25% {
        transform: rotate(90deg);
        box-shadow: 0 4px 0 0 rgb(250, 85, 85);
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 0 4px 0 0 rgb(77, 88, 243);
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 0 4px 0 0 rgb(250, 253, 90);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0 4px 0 0 #fff;
    }
}

@keyframes signinBox {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
