body {
    background-color: #0b2d53;
    position: relative;
}

// 預設按鈕樣式
.btn_linear_c1 {
    @include btn_linear(#fff, #ffff00, #f14c0a, #f8b107);
}

.btn_linear_c2 {
    @include btn_linear(#fff, #898989, #212121, #676767);
}

.btn_linear_c3 {
    @include btn_linear(#fff, #fe4436, #8e041d, #da001a);
}

.btn_linear_c4 {
    @include btn_linear(#fff, #fff, #3f67c0, #5e89e4);
}

// ===== header start =====
.header {
    width: 100%;
    // min-width: $count-minW;
    margin: auto;
    min-height: 188px;
    background-color: $mainBgc;
    position: relative;
    // hd_top start
    .hd_top {
        max-width: $count-minW;
        min-height: 140px;
        margin: auto;
        padding: 10px 20px 0px 28px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include rwd(1250){
           flex-direction: column;
           align-items: flex-start;
        }
        .hd_logo {
            width: 478px;
            height: 86px;
            margin-bottom: 10px;
            margin-right: 20px;
            background: url(../images/logo/hd_logo.png) no-repeat center / cover;
            cursor: pointer;
            @include imgToTxt;
            a {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .hd_tool {
            max-width: 685px;
            height: 100%;
            padding-bottom: 20px;
            @include rwd(1250){
                align-self: flex-end;
             }
        }
        .hd_link {
            margin-bottom: 12px;
            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            .hd_service {
                display: flex;
                align-items: center;
                padding: 0 15px 0 5px;
                font-size: 1.1rem;
                font-weight: bold;
                p {
                    margin-left: 15px;
                    position: relative;
                }
                .btn_cnt {
                    width: 34px;
                    height: 34px;
                }
            }
            li + li {
                margin-left: 10px;
            }
            .menuBar{
                display: none;
                @include rwd(1250){
                    display: block;
                 }
            }
        }
        .hd_signIn {
            // @include rwd(800){
            //     width: 100vw;
            //    height: 100vh;
            //     position: fixed;
            //     top: 0;
            //     left: 0;
            //     background-color: rgba(0, 0, 0, 0.8);
            //     z-index: 20;
            // }
            &[data-signIn="0"] > div[data-signIn="0"] {
                display: flex;
            }
            &[data-signIn="1"] > div[data-signIn="1"] {
                display: flex;   
            }
            & > div {
                display: none;
                justify-content: flex-end;
            }
            .signIn_ipt {
                display: flex;
            }

            .signIn_forget {
                width: 155px;
                display: flex;
                padding: 0 5px;
                margin-right: 10px;
                align-items: center;
                background-color: #111;
                border: 1px solid #646774;
                box-sizing: border-box;
                border-radius: 5px;
                label {
                    width: 100%;
                    margin-right: 0;
                    border: none;
                    padding: 0;
                }
                .hd_forget {
                    @include btn_linear(#fff, #898989, #212121, #676767);
                    width: 25px;
                    height: 25px;
                    flex-shrink: 0;
                    & .btn_cnt {
                        background: url(../images/icon/icon-Q.png) no-repeat center;
                    }
                }
            }
            label {
                width: 155px;
                height: 100%;
                padding: 0 5px;
                margin-right: 10px;
                border: 1px solid #646774;
                background-color: #111;
                color: $color_01;
                align-items: center;
                border-radius: 5px;
                display: flex;
                input {
                    width: 100%;
                    height: 100%;
                    order: 1;
                    color: $color_01;
                    font-size: 1rem;
                    @include fullNone;
                    &::-webkit-input-placeholder {
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
            .signIn_on{
                width: 100%;
                display: flex;
            }
            .signIn_msg {
                display: flex;
                color: $clr_Txt;
                font-size: 0.9rem;
                & > div {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                }
                .signIn_icon {
                    width: 20px;
                    height: 20px;
                    margin: 0 5px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    &.member {
                        background: url(../images/icon/icon-member.svg);
                    }
                    &.chip {
                        background: url(../images/icon/icon-chip.svg);
                    }
                    &.mail {
                        background: url(../images/icon/icon-mail.svg);
                    }
                }
            }
        }
        .signIn_code {
            margin-right: 10px;
            display: flex;
            label {
                width: 95px;
                margin-right: 5px;
            }
            .nbCode {
                display: flex;
                cursor: pointer;
                user-select: none;
            }
        }
        .signIn_btn {
            display: flex;
            flex-shrink: 0;
            .btn {
                min-width: 80px;
                padding: 0 5px;
            }
            .btn + .btn {
                margin-left: 5px;
            }
        }
    }
    // hd_menu start
    .hd_menu {
        width: 100%;
        margin: auto;
        height: 48px;
        background: linear-gradient(90deg, transparent 10%, #000, transparent 90%);
        @include rwd(1250){
            width: 100vw;
            height: 100vh;
            position: fixed;
            @include pos(tl,0);
            background: rgba(0, 0, 0, 0.8);
            z-index: 20;
            transform: translateX(-100%);
            &.on{
                transform: translateX(0%);
                transition: .3s;
            }
        }
        &.on {
            background: rgba(0, 0, 0, 0.85);
            position: fixed;
            top: 0;
            z-index: 20;
        }
        ul {
            width: 100%;
            max-width: $count-minW;
            margin: auto;
            height: 100%;
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            @include rwd(1250){
                width: 85%;
                max-width: 300px;
                min-width: 250px;
                margin: unset;
                padding: 20px;
                background:#0b2139 url(../images/bodyBg.jpg) no-repeat;
                display: block;
                border-right: 1px solid #ebba48;
            }
        }
        li {
            height: 100%;
            display: flex;
            align-items: center;
            color: $clr_Txt;
            line-height: 48px;
            transition: 0.3s;
            @include rwd(1250){
              width: 100%;
              height: unset;
            }
            &.on,
            &:active {
                color: $color_02;
            }
            @include hover {
                &:hover {
                    color: $color_02;
                }
            }
        }
        .menu_game {
            width: 171px;
            opacity: 0.8;
            transition: 0.5s;
            &:active {
                opacity: 1;
            }
            @include hover {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

// ===== content start =====
.mainCnt {
    position: relative;
    overflow: hidden;
    .contBox-full {
        width: 100%;
        max-width: $count-maxW;
        margin: auto;
        // 跑馬燈
        .marquee {
            margin-bottom: 20px;
            background: linear-gradient(90deg, transparent, #000, transparent);
            color: $color_02;
            font-size: 0.95rem;
            .marqueeBox {
                max-width: $count-minW;
                margin: auto;
                .marquee_body {
                    max-width: 1050px;
                    cursor: pointer;
                }
                & > div {
                    max-width: 1050px;
                    height: 35px;
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                }
                span {
                    flex-shrink: 0;
                    margin-right: 20px;
                    letter-spacing: 1px;
                    font-weight: bold;
                }
                .btn {
                    height: 23px;
                    line-height: 23px;
                    padding: 0 10px;
                    margin-left: 20px;
                    flex-shrink: 0;
                    .btn_cnt {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        & > .contBox-min {
            padding: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            & > .flexAd {
                padding: 0 20px;
                @include rwd(1280){
                    padding: 0 10px;
                }
            }
        }
        .leftTool,
        .rightTool {
            width: 97px;
            position: absolute;
            top: 0;
            z-index: 10;
        }
        .leftTool {
            left: -90px;
            &.on {
                position: fixed;
                top: 60px;
                right: 1273px;
                margin: auto;
            }
            @include rwd(1490) {
                &,
                &.on {
                    position: fixed;
                    right: 10px;
                    left: unset;
                    top: unset;
                    bottom: 300px;
                }
            }
        }
        .rightTool {
            right: -90px;
            &.on {
                position: fixed;
                top: 60px;
                left: 1273px;
                margin: auto;
            }
            @include rwd(1490) {
                &,
                &.on {
                    position: fixed;
                    right: 10px;
                    left: unset;
                    top: unset;
                    bottom: 260px;
                }
            }
            .todayGame {
                width: 100%;
                position: absolute;
                .god {
                    width: 220px;
                    left: -60px;
                    cursor: pointer;
                    position: relative;
                    animation: pudding 1s infinite linear;
                }
            }
        }
        .floatAd {
            & > img {
                display: block;
                margin-bottom: 10px;
            }
            @include rwd(1490) {
                display: none;
            }
        }
        .getGift {
            width: 95%;
            height: 95%;
            margin: auto;
            padding: 20px;
            background-color: #282828;
            border-radius: 50%;
            cursor: pointer;
        }
        .goTop {
            height: 30px;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 300;
            cursor: pointer;
            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/bodyBg.jpg) no-repeat center bottom;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.4;
    }
}

.contBox-min {
    width: 100%;
    max-width: $count-minW;
    margin: auto;
    padding: 0 20px;
    @include rwd(1280){
        padding: 0;
    }
}

.content {
    width: 100%;
    min-height: calc(100vh - 463px);
    margin: auto;
    // padding-bottom: 20px;
    color: #fff;
    position: relative;
}

// ===== footer start =====
.footer {
    width: 100%;
    // min-width: $count-minW;
    min-height: 275px;
    margin: auto;
    color: $clr_ftTxt;
    position: relative;
    // ft_top
    .ft_top {
        background-color: #313131;
        & > div {
            width: 100%;
            max-width: 1800px;
            // min-width: $count-minW;
            min-height: 160px;
            margin: auto;
            padding: 0 15px 30px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        .ft_msg {
            line-height: 25px;
        }
        .ft_link {
            ul {
                display: flex;
            }
            li + li {
                margin-left: 20px;
            }
            .ft_icon {
                width: 46px;
                cursor: pointer;
            }
        }
    }
    // ft_bottom
    .ft_bottom {
        background-color: #121210;
        & > div {
            max-width: 1800px;
            // min-width: $count-minW;
            min-height: calc(275px - 160px);
            margin: auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .copyright {
            font-size: 1.2rem;
        }
        .ft_menu { 
            @include rwd(1120){       
               max-width: 400px;
            }
            ul {
                display: flex;
                align-items: flex-end;
                font-size: 1rem;
                font-weight: bold;
                @include rwd(1120){       
                    flex-wrap: wrap;
                }
            }
            li {
                padding: 5px 10px;
                transition: 0.3s;
                @include rwd(1120){       
                    width: 50%;
                }
                &:active {
                    color: $color_02;
                }
                @include hover {
                    &:hover {
                        color: $color_02;
                    }
                }
            }
            // li + li {
            //     margin-left: 30px;
            // }
        }
    }
    // ftAd
    .ftAd {
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding: 0 20px;
        bottom: 40px;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        @include rwd(1000){
            width: 50%;
            min-width: 250px;
            flex-direction: column;
            padding: 0;
        }
        & > div {
            margin: 10px;
            position: relative;
            pointer-events: auto;
            
            &.on {
                visibility: hidden;
                pointer-events: none;
            }
        }
        
        .ftAd_close {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #000;
            position: absolute;
            cursor: pointer;
            opacity: 0.7;
            transition: opacity 0.3s;
            @include pos(tr, -10px);
            @include hover {
                &:hover {
                    opacity: 1;
                }
            }
            &::after,
            &::before {
                content: "";
                width: 22px;
                height: 2px;
                margin: auto;
                background-color: #fff;
                position: absolute;
                @include pos(tblr, 0);
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg);
            }
        }
    }
}

.onloading {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    &.on {
        display: flex;
    }
    & > div {
        width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 50%;
    }
}

@keyframes pudding {
    0% {
        transform: scaleX(1);
    }
    30% {
        transform: scale3d(0.95, 1.1, 1);
    }
    40% {
        transform: scale3d(1.11, 0.85, 1);
    }
    40% {
        transform: scale3d(1.11, 0.85, 1);
    }
    50% {
        transform: scale3d(0.95, 1.1, 1);
    }
    65% {
        transform: scale3d(1.05, 1, 1);
    }
    75% {
        transform: scale3d(1, 1.05, 1);
    }
    100% {
        transform: scaleX(1);
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &.on {
        display: flex;
    }
    &::before{
        content: 'loading...';
        margin: auto;
        color: #fff;
        position: absolute;
        @include pos(tbrl,0);
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        animation: load_txt 2s linear infinite;
    }

    .load_round {
        animation: load_round 1s linear infinite;
        width: 160px;
        height: 160px;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        box-shadow: 0 4px 0 0 #fff;
        transform-origin: 80px 82px;
    }
}

@keyframes load_txt{
    0%,100%{opacity: 0.5;}
    50%{opacity: 1;}
}

@keyframes load_round {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 4px 0 0 #fff;
    }
    25% {
        transform: rotate(90deg);
        box-shadow: 0 4px 0 0 rgb(250, 85, 85);
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 0 4px 0 0 rgb(77, 88, 243);
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 0 4px 0 0 rgb(250, 253, 90);
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0 4px 0 0 #fff;
    }
}
