.mbrBox{
    padding: 40px 10px;
    background-color: #fff;
    color: #333;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        box-shadow: 0 0 0 30px #fff inset;
        -webkit-text-fill-color: #999;
    }

    @at-root .mbrSelect{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        @include rwd(800){
           display: flex;
        }
        .btn{
            padding: 0 10px;
            @extend .btn_linear_c2;
            height: 40px;
            line-height: 40px;

            @include rwd(800){
                width: 50%;
                flex: 1;
            }
            &.on{
                @extend .btn_linear_c1;
                height: 40px;
                line-height: 40px;
            }
        }
        .btn+.btn{
            margin-left: 5px;
        }
    }
    @at-root .mbrMsg{
        max-width: 1000px;
        padding-bottom: 50px;
        margin: auto;
        font-size: 1.2rem;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        li{
            width: 100%;
            max-width: 550px;
            padding: 15px 0;
            display: flex;
            align-items: center;

            @include rwd(800){
               flex-direction: column;
            }
        }
        @at-root .mbrl_title{
            width: 150px;
            flex-shrink: 0;
            font-weight: bold;
            @include rwd(800){
                width: 100%;
                margin-bottom: 10px;
                padding: 10px;
                color: #999;
                background-color: #e5e5e5;   
                border-radius: 4px;
                text-shadow: 1px 1px 2px #fff;
            }
        }
        @at-root .mbrl_content{
            width: 100%;
        }

        @at-root .mbrl_ipt,.mbrl_txt{
            padding-right: 30px;
            position: relative;
        }

        @at-root .mbrl_ipt,.mbrl_date{
            width: 100%;
            height: 40px;
            padding-left: 5px;
            line-height: 40px;
            border: 1px solid #cfcfcf;
            border-radius: 5px;
            box-shadow: 2px 2px 4px rgb(192, 192, 192) inset;
            @include rwd(800){
                box-shadow: unset;
            }
            input{
                width: 100%;
                padding: 0 10px;
                @include fullNone;
                font-size: 1.2rem;
                &:disabled{
                    box-shadow: 2px 2px 4px #999 inset;
                    background-color: #ddd;
                    color: #9e9d9d;
                }
            }
            @at-root .icon_pwdLook{
                width: 18px;
                height: 15px;
                margin: auto;
                background: url(../images/icon/look_off.svg) no-repeat center /cover;
                cursor: pointer;
                position: absolute;
                @include pos(tbr,0,0,10px);
                &.on{
                    background-image: url(../images/icon/look_on.svg);
                }
            }
        }

        @at-root .mbrl_txt{
            width: 100%;
            padding-left: 5px;
            @at-root .icon_refresh{
                width: 18px;
                height: 18px;
                margin: auto;
                background: url(../images/icon/refresh.svg) no-repeat center /cover;
                cursor: pointer;
                cursor: pointer;
                position: absolute;
                @include pos(tbr,0,0,10px);
            }
            @include rwd(800){
                text-align: center;
            }
        }

        @at-root .mbrl_radio{
            label+label{
                margin-left: 30px;
            }
            input{
               width: 20px;
               height: 20px;
               position: relative;
               &::before{
                   content: '';
                   width: 100%;
                   height: 100%;
                   background: url(../images/icon/radio_off.png)no-repeat center/cover;
                   position: absolute;
                   @include pos(tbrl,0);
               }
               &:checked::before{
                   background-image: url(../images/icon/radio_on.png);
               }
            }
        }
    }
    
    @at-root .mbrbtn{
        display: flex;
        justify-content: center;
        @include rwd(500){
           flex-direction: column;
        }
        .btn{
            min-width: 150px;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;

            @include rwd(800){
                width: 50%;
                flex: 1;
            }

            @include rwd(500){
                width: 100%;
            }
        }
        .btn+.btn{
            margin-left: 10px;
            @include rwd(500){
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }



}

