.mbrBox{
    padding: 40px;
    background-color: #fff;
    color: #333;

    @at-root .mbrSelect{
        padding-bottom: 40px;
        .btn{
            padding: 0 10px;
            @extend .btn_linear_c2;
            &.on{
                @extend .btn_linear_c1;
            }
        }
        .btn+.btn{
            margin-left: 5px;
        }
    }
    @at-root .mbrMsg{
        max-width: 1050px;
        margin: auto;
        font-size: 1.1rem;
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        li{
            width: 50%;
            padding: 0 10px;
            span{
                width: 100px;
                flex-shrink: 0;
            }
        }
        @at-root .mbrList{
            display: flex;
            align-items: center;
            @at-root .mbrIpt{
                width: 100%;
                height: 35px;
                border: 1px solid #999;
                display: flex;
                align-items: center;
                input{
                    width: 100%;
                    @include fullNone;
                }
            }
            
        }
    }
}

