html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: normal;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: 'Helvetica', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

*:hover, *:focus, *:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tt, em {
  font-family: 'Helvetica', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type="button"],
input[type="text"],
input[type="number"],
select,
textarea {
  outline: none;
  font-family: 'Helvetica', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: '';
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  background-color: #0b2d53;
}

.header {
  width: 100%;
  min-width: 1280px;
  margin: auto;
  min-height: 188px;
  background-color: #0b2139;
}

.header .hd_top {
  width: 1280px;
  min-height: 140px;
  margin: auto;
  padding: 0 20px 0px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .hd_top .hd_logo {
  width: 478px;
  height: 86px;
  margin-bottom: 10px;
  background-image: url(../images/hd_logo.png);
  cursor: pointer;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header .hd_top .hd_logo a {
  width: 100%;
  height: 100%;
  display: block;
}

.header .hd_top .hd_tool {
  width: 685px;
  height: 100%;
  padding-bottom: 20px;
}

.header .hd_top .hd_link {
  margin-bottom: 12px;
}

.header .hd_top .hd_link .hd_icon {
  width: 35px;
  height: 34px;
}

.header .hd_top .hd_link ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .hd_top .hd_link li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#f14c0a), to(#f8b107));
  background: linear-gradient(0deg, #f14c0a, #f8b107);
  -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
          box-shadow: -1px 1px 1px #ffff00 inset;
  border-radius: 5px;
}

.header .hd_top .hd_link li:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f8b107), to(#f14c0a));
  background: linear-gradient(0deg, #f8b107, #f14c0a);
  -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
          box-shadow: -1px 1px 1px #ffff00 inset;
  border-radius: 5px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (any-hover: hover) {
  .header .hd_top .hd_link li:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#f8b107), to(#f14c0a));
    background: linear-gradient(0deg, #f8b107, #f14c0a);
    -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
            box-shadow: -1px 1px 1px #ffff00 inset;
    border-radius: 5px;
  }
}

.header .hd_top .hd_link .hd_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
}

.header .hd_top .hd_link .hd_service p {
  margin-left: 15px;
}

.header .hd_top .hd_link li + li {
  margin-left: 10px;
}

.header .hd_top .hd_signIn[data-signIn="0"] > div[data-signIn="0"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hd_top .hd_signIn[data-signIn="1"] > div[data-signIn="1"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hd_top .hd_signIn > div {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .hd_top .hd_signIn .signIn_ipt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hd_top .hd_signIn label {
  width: 155px;
  height: 34px;
  padding: 0 5px;
  margin-right: 10px;
  border: 1px solid #646774;
  background-color: #393946;
  color: #c5c5c5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hd_top .hd_signIn label span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.95rem;
}

.header .hd_top .hd_signIn label input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  color: #c5c5c5;
  background: transparent;
  outline: none;
  border: none;
}

.header .hd_top .hd_signIn .signIn_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #caa653;
  font-size: 0.9rem;
}

.header .hd_top .hd_signIn .signIn_msg > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header .hd_top .hd_signIn .signIn_msg .signIn_icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .hd_top .hd_signIn .signIn_msg .signIn_icon.member {
  background: url(../images/icon-member.png);
}

.header .hd_top .hd_signIn .signIn_msg .signIn_icon.chip {
  background: url(../images/icon-chip.png);
}

.header .hd_top .hd_signIn .signIn_msg .signIn_icon.mail {
  background: url(../images/icon-mail.png);
}

.header .hd_top .signIn_code {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hd_top .signIn_code label {
  width: 105px;
  margin-right: 5px;
}

.header .hd_top .signIn_code .nbCode {
  width: 80px;
}

.header .hd_top .signIn_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hd_top .signIn_btn button {
  min-width: 80px;
  height: 34px;
  padding: 0 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #c5c5c5;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  background: transparent;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.header .hd_top .signIn_btn button:nth-child(odd) {
  background: -webkit-gradient(linear, left bottom, left top, from(#212121), to(#676767));
  background: linear-gradient(0deg, #212121, #676767);
  -webkit-box-shadow: -1px 1px 1px #898989 inset;
          box-shadow: -1px 1px 1px #898989 inset;
  border-radius: 5px;
}

.header .hd_top .signIn_btn button:nth-child(odd):active {
  background: -webkit-gradient(linear, left bottom, left top, from(#676767), to(#212121));
  background: linear-gradient(0deg, #676767, #212121);
  -webkit-box-shadow: -1px 1px 1px #898989 inset;
          box-shadow: -1px 1px 1px #898989 inset;
  border-radius: 5px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (any-hover: hover) {
  .header .hd_top .signIn_btn button:nth-child(odd):hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#676767), to(#212121));
    background: linear-gradient(0deg, #676767, #212121);
    -webkit-box-shadow: -1px 1px 1px #898989 inset;
            box-shadow: -1px 1px 1px #898989 inset;
    border-radius: 5px;
  }
}

.header .hd_top .signIn_btn button:nth-child(even) {
  background: -webkit-gradient(linear, left bottom, left top, from(#8e041d), to(#da001a));
  background: linear-gradient(0deg, #8e041d, #da001a);
  -webkit-box-shadow: -1px 1px 1px #fe4436 inset;
          box-shadow: -1px 1px 1px #fe4436 inset;
  border-radius: 5px;
}

.header .hd_top .signIn_btn button:nth-child(even):active {
  background: -webkit-gradient(linear, left bottom, left top, from(#da001a), to(#8e041d));
  background: linear-gradient(0deg, #da001a, #8e041d);
  -webkit-box-shadow: -1px 1px 1px #fe4436 inset;
          box-shadow: -1px 1px 1px #fe4436 inset;
  border-radius: 5px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (any-hover: hover) {
  .header .hd_top .signIn_btn button:nth-child(even):hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#da001a), to(#8e041d));
    background: linear-gradient(0deg, #da001a, #8e041d);
    -webkit-box-shadow: -1px 1px 1px #fe4436 inset;
            box-shadow: -1px 1px 1px #fe4436 inset;
    border-radius: 5px;
  }
}

.header .hd_top .signIn_btn button + button {
  margin-left: 5px;
}

.header .hd_menu {
  width: 100%;
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(#000), color-stop(90%, transparent));
  background: linear-gradient(90deg, transparent 10%, #000, transparent 90%);
}

.header .hd_menu ul {
  height: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .hd_menu li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #caa653;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .hd_menu li.on, .header .hd_menu li:active {
  color: #fff;
}

@media (any-hover: hover) {
  .header .hd_menu li:hover {
    color: #fff;
  }
}

.header .hd_menu li + li {
  margin-left: 75px;
}

.header .hd_menu .menu_game {
  width: 171px;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .hd_menu .menu_game:active {
  opacity: 1;
}

@media (any-hover: hover) {
  .header .hd_menu .menu_game:hover {
    opacity: 1;
  }
}

.content {
  max-width: 1920px;
  min-width: 1280px;
  min-height: calc(100vh - 463px);
  margin: auto;
  padding-bottom: 20px;
  color: #fff;
  position: relative;
}

.content::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/bodyBg.jpg) no-repeat center bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.contentBox {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

.footer {
  width: 100%;
  min-width: 1280px;
  min-height: 275px;
  margin: auto;
  color: #8d8d8d;
}

.footer .ft_top {
  background-color: #313131;
}

.footer .ft_top > div {
  width: 100%;
  max-width: 1800px;
  min-width: 1280px;
  min-height: 160px;
  margin: auto;
  padding: 0 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .ft_top .ft_msg {
  line-height: 25px;
}

.footer .ft_top .ft_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .ft_top .ft_link li + li {
  margin-left: 20px;
}

.footer .ft_top .ft_link .ft_icon {
  width: 46px;
  cursor: pointer;
}

.footer .ft_bottom {
  background-color: #121210;
}

.footer .ft_bottom > div {
  max-width: 1800px;
  min-width: 1280px;
  min-height: calc(275px - 160px);
  margin: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .ft_bottom .copyright {
  font-size: 1.2rem;
}

.footer .ft_bottom .ft_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}

.footer .ft_bottom .ft_menu li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .ft_bottom .ft_menu li:active {
  color: #fff;
}

@media (any-hover: hover) {
  .footer .ft_bottom .ft_menu li:hover {
    color: #fff;
  }
}

.footer .ft_bottom .ft_menu li + li {
  margin-left: 30px;
}

.marquee {
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#000), to(transparent));
  background: linear-gradient(90deg, transparent, #000, transparent);
  color: #fff;
  font-size: 0.95rem;
}

.marquee .marqueeBox {
  max-width: 1280px;
  margin: auto;
}

.marquee .marqueeBox > div {
  max-width: 1050px;
  height: 35px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marquee .marqueeBox span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.marquee .marqueeBox button {
  height: 23px;
  padding: 0 10px;
  margin-left: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#f14c0a), to(#f8b107));
  background: linear-gradient(0deg, #f14c0a, #f8b107);
  -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
          box-shadow: -1px 1px 1px #ffff00 inset;
  border-radius: 5px;
}

.marquee .marqueeBox button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f8b107), to(#f14c0a));
  background: linear-gradient(0deg, #f8b107, #f14c0a);
  -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
          box-shadow: -1px 1px 1px #ffff00 inset;
  border-radius: 5px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (any-hover: hover) {
  .marquee .marqueeBox button:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#f8b107), to(#f14c0a));
    background: linear-gradient(0deg, #f8b107, #f14c0a);
    -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
            box-shadow: -1px 1px 1px #ffff00 inset;
    border-radius: 5px;
  }
}

.flexAd {
  margin-bottom: 40px;
}

.flexAd ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexAd li {
  width: calc(50% - 5px);
  margin-bottom: 10px;
}

.flexAd li:last-child:nth-child(odd) {
  width: 100%;
}

.betList {
  margin-bottom: 20px;
}

.betList .betTitle {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #f7e6be;
}

.betList .betTitle .icon {
  width: 22px;
  height: 22px;
  background: url(./images/icon-darts.png) no-repeat center/cover;
}

.betList .betTitle span {
  display: inline-block;
  padding: 0 10px;
}

.betList table {
  width: 100%;
  background-color: #444;
  border-radius: 10px;
}

.betList tr {
  width: 100%;
  position: relative;
}

.betList tr .betNb {
  width: 81px;
  height: 57px;
  position: relative;
  margin-right: 20px;
}

.betList tr:nth-child(1) .betNb::after {
  content: "1";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(2) .betNb::after {
  content: "2";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(3) .betNb::after {
  content: "3";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(4) .betNb::after {
  content: "4";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(5) .betNb::after {
  content: "5";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(6) .betNb::after {
  content: "6";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(7) .betNb::after {
  content: "7";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(8) .betNb::after {
  content: "8";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(9) .betNb::after {
  content: "9";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(10) .betNb::after {
  content: "10";
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: -2px 0 3px #000;
}

.betList tr:nth-child(1) .betNb {
  background-image: url(./images/betNb-1.png);
}

.betList tr:nth-child(1) .betNb::after {
  padding-bottom: 5px;
}

.betList tr:nth-child(2) .betNb {
  background-image: url(./images/betNb-2.png);
}

.betList tr:nth-child(2) .betNb::after {
  padding-bottom: 5px;
}

.betList tr:nth-child(3) .betNb {
  background-image: url(./images/betNb-3.png);
}

.betList tr:nth-child(3) .betNb::after {
  padding-bottom: 5px;
}

.betList tr:nth-child(4) .betNb::before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.betList tr:nth-child(5) .betNb::before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.betList tr:nth-child(6) .betNb::before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.betList tr:nth-child(7) .betNb::before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.betList tr:nth-child(8) .betNb::before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.betList tr:nth-child(9) .betNb::before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.betList tr:nth-child(10) .betNb::before {
  content: "";
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.betList tr + tr::before {
  content: "";
  width: calc(100% - 40px);
  height: 1px;
  margin: auto;
  background-color: #1b1b1b;
  -webkit-box-shadow: 0 1px 1px #626262;
          box-shadow: 0 1px 1px #626262;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.betList th {
  height: 110px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.betList th::before {
  content: "";
  width: 1px;
  height: calc(100% - 20px);
  margin: auto;
  background-color: #000;
  -webkit-box-shadow: 1px 0 1px #626262;
          box-shadow: 1px 0 1px #626262;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.betList th .betLogo {
  width: 125px;
}

.betList td {
  width: 25%;
  height: 110px;
  padding: 0 20px;
  position: relative;
}

.betList td::before {
  content: "";
  width: 1px;
  height: calc(100% - 20px);
  margin: auto;
  background-color: #000;
  -webkit-box-shadow: 1px 0 1px #626262;
          box-shadow: 1px 0 1px #626262;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.betList td:last-child {
  width: 100%;
}

.betList td:last-child::before {
  display: none;
}

.betList td span {
  color: #8d8d8d;
  font-size: 0.9rem;
}

.betList td .price {
  padding-top: 5px;
  font-size: 1.9rem;
  font-weight: 400;
  text-align: right;
}

.betList td .price::after {
  content: attr(data-currency);
  margin-left: 10px;
}

.betList td .betScore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.betList td .betScore .scoreIcon {
  padding-left: 25px;
  margin-bottom: 10px;
  position: relative;
}

.betList td .betScore .scoreIcon .ball {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  background-color: #ffbb00;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.betList td .betScore .scoreIcon .ball::before {
  color: #2b2b2b;
  font-size: 1.4rem;
  font-weight: 600;
}

.betList td .betScore .scoreIcon .star {
  width: 160px;
  height: 40px;
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-position: 60% center;
  border-radius: 35px;
  -webkit-box-shadow: -2px -2px 1px #626262 inset;
          box-shadow: -2px -2px 1px #626262 inset;
}

.betList td .betScore .scoreIcon[data-nb="0"] .star {
  background-image: url(./images/betStar-0.png);
}

.betList td .betScore .scoreIcon[data-nb="0"] .ball::before {
  content: "0";
}

.betList td .betScore .scoreIcon[data-nb="0.5"] .star {
  background-image: url(./images/betStar-0.5.png);
}

.betList td .betScore .scoreIcon[data-nb="0.5"] .ball::before {
  content: "0.5";
}

.betList td .betScore .scoreIcon[data-nb="1"] .star {
  background-image: url(./images/betStar-1.png);
}

.betList td .betScore .scoreIcon[data-nb="1"] .ball::before {
  content: "1";
}

.betList td .betScore .scoreIcon[data-nb="1.5"] .star {
  background-image: url(./images/betStar-1.5.png);
}

.betList td .betScore .scoreIcon[data-nb="1.5"] .ball::before {
  content: "1.5";
}

.betList td .betScore .scoreIcon[data-nb="2"] .star {
  background-image: url(./images/betStar-2.png);
}

.betList td .betScore .scoreIcon[data-nb="2"] .ball::before {
  content: "2";
}

.betList td .betScore .scoreIcon[data-nb="2.5"] .star {
  background-image: url(./images/betStar-2.5.png);
}

.betList td .betScore .scoreIcon[data-nb="2.5"] .ball::before {
  content: "2.5";
}

.betList td .betScore .scoreIcon[data-nb="3"] .star {
  background-image: url(./images/betStar-3.png);
}

.betList td .betScore .scoreIcon[data-nb="3"] .ball::before {
  content: "3";
}

.betList td .betScore .scoreIcon[data-nb="3.5"] .star {
  background-image: url(./images/betStar-3.5.png);
}

.betList td .betScore .scoreIcon[data-nb="3.5"] .ball::before {
  content: "3.5";
}

.betList td .betScore .scoreIcon[data-nb="4"] .star {
  background-image: url(./images/betStar-4.png);
}

.betList td .betScore .scoreIcon[data-nb="4"] .ball::before {
  content: "4";
}

.betList td .betScore .scoreIcon[data-nb="4.5"] .star {
  background-image: url(./images/betStar-4.5.png);
}

.betList td .betScore .scoreIcon[data-nb="4.5"] .ball::before {
  content: "4.5";
}

.betList td .betScore .scoreIcon[data-nb="5"] .star {
  background-image: url(./images/betStar-5.png);
}

.betList td .betScore .scoreIcon[data-nb="5"] .ball::before {
  content: "5";
}

.betList td .betScore span {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.betList td .betBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.betList td .betBtn > div {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#f14c0a), to(#f8b107));
  background: linear-gradient(0deg, #f14c0a, #f8b107);
  -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
          box-shadow: -1px 1px 1px #ffff00 inset;
  border-radius: 5px;
  border-radius: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.betList td .betBtn > div:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#f8b107), to(#f14c0a));
  background: linear-gradient(0deg, #f8b107, #f14c0a);
  -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
          box-shadow: -1px 1px 1px #ffff00 inset;
  border-radius: 5px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  border-radius: 40px;
}

@media (any-hover: hover) {
  .betList td .betBtn > div:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#f8b107), to(#f14c0a));
    background: linear-gradient(0deg, #f8b107, #f14c0a);
    -webkit-box-shadow: -1px 1px 1px #ffff00 inset;
            box-shadow: -1px 1px 1px #ffff00 inset;
    border-radius: 5px;
    border-radius: 40px;
  }
}

.betList td .betBtn > div + div {
  margin-left: 10px;
}

.betList td .betBtn > div:last-child span {
  color: #fff;
}

.betList td .betBtn span {
  font-size: 1.1rem;
  color: #990000;
  padding-right: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.mainMsg {
  padding: 20px;
  background-color: #fff;
}

.mainMsg .mainMsg-title {
  min-width: 100px;
  padding: 0 10px;
  height: 36px;
  background: transparent;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#e60012), to(#ec6941));
  background: linear-gradient(0deg, #e60012, #ec6941);
  -webkit-box-shadow: -1px 1px 1px #f39700 inset;
          box-shadow: -1px 1px 1px #f39700 inset;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.mainMsg .flexAd {
  margin-bottom: 20px;
}

.mainNews {
  margin-bottom: 20px;
}

.mainNews .mainNews_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.mainNews .mainNews_t .news_main .news_mainImg {
  width: 750px;
  position: relative;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mainNews .mainNews_t .news_main .news_mainImg p {
  padding: 15px;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mainNews .mainNews_t .news_list {
  height: 412px;
}

.mainNews .mainNews_t .news_list .newsList_cnt {
  height: 100%;
  overflow-y: scroll;
}

.mainNews .mainNews_t .news_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainNews .mainNews_t .news_list li .newsList_img {
  width: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mainNews .mainNews_t .news_list li p {
  padding: 0 10px;
  height: 100%;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.mainNews .mainNews_t .news_list li + li {
  margin-top: 10px;
}

.mainNews .mainNews_b ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainNews .mainNews_b li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mainNews .mainNews_b li p {
  padding-top: 10px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.mainNews .mainNews_b li + li {
  margin-left: 20px;
}

.mainScore {
  margin-bottom: 20px;
}

.mainScore .scoreCnt {
  width: 100%;
  height: 800px;
}

.mainScore .scoreCnt iframe {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.mainRec {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainRec > div {
  width: calc(50% - 10px);
}

.mainRec .recCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainRec .recCount .list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainRec .recCount .list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.mainRec .recCount .list .listImg {
  width: calc(50% - 10px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mainRec .recCount .list .listMsg {
  padding: 0 20px;
  position: relative;
}

.mainRec .recCount .list .listMsg .title {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.mainRec .recCount .list .listMsg p {
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.mainRec .recCount .list .moreBtn {
  background: transparent;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background-color: #e00e0e;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  cursor: pointer;
}

.mainRec .recCount .list .moreBtn span {
  position: relative;
  z-index: 1;
}

.mainRec .recCount .list .moreBtn::before {
  content: "";
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  -webkit-transform: translateX(-150%) skew(30deg);
          transform: translateX(-150%) skew(30deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainRec .recCount .list .moreBtn:hover::before {
  -webkit-transform: translateX(-10%) skew(30deg);
          transform: translateX(-10%) skew(30deg);
}

.wsDict > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wsDict .wsDict_msg {
  width: calc(100% - 380px);
  padding-right: 30px;
  color: #000;
  font-size: 1.2rem;
}

.wsDict .wsDict_msg .title {
  font-size: 1.8rem;
  color: #ff2453;
  padding-bottom: 15px;
}

.wsDict .wsDict_msg p {
  line-height: 30px;
}

.wsDict .wsDictImg {
  width: 380px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
/*# sourceMappingURL=all.css.map */