<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Người trúng thưởng xổ số được yêu cầu giữ bí mật thông tin</p>
                <!-- 標題時間 -->
                <div class="txtDate">Dữ liệu xổ số 10-06 22:57tháo</div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span> Đó là một trong những đề xuất mà Bộ Tài chính đưa ra để lấy ý kiến tại Dự thảo Thông tư hướng dẫn hoạt động kinh doanh xổ số tự chọn số điện toán của Cty TNHH Nhà nước MTV Xổ số kiến thiết
                        Thủ đô.
                    </li>
                    <li>Thông tư áp dụng đối với Cty Xổ số kiến thiết Thủ đô (XSKTTĐ), đối tượng tham gia dự thưởng XS tự chọn số điện toán, đại lý XS tự chọn số điện toán và các cơ quan, tổ chức, cá nhân có liên quan đến hoạt động kinh doanh và quản lý hoạt
                        động kinh doanh XS tự chọn số điện toán của Cty XSKTTĐ trên địa bàn TP Hà Nội.</li>
                    <li>Về sản phẩm XS tự chọn số điện toán của Cty XSKTTĐ, Dự thảo Thông tư đề cập đến các sản phẩm sau đây: a) XS tự chọn số điện toán 1-2-3; b) XS thần tài 4; c) XS tự chọn số điện toán 6/36; d) XS tự chọn số điện toán 2 chữ số; đ) XS tự
                        chọn số điện toán 3 chữ số; e) XS tự chọn số điện toán 5 chữ số; g) XS tự chọn số điện toán cặp số.</li>
                    <li>Căn cứ sản phẩm XS tự chọn số điện toán quy định tại khoản 1 Điều này, Cty XSKTTĐ xây dựng danh mục sản phẩm cụ thể dự kiến phát hành, báo cáo Bộ Tài chính để thực hiện quản lý, giám sát.</li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsList11-01.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Bên cạnh đó, Dự thảo nêu, sản phẩm XS tự chọn số điện toán phải được xây dựng theo các nguyên tắc sau: Phương thức tham gia dự thưởng phải bảo đảm rõ ràng, đơn giản, dễ hiểu; phù hợp với nhu cầu thị trường và thị hiếu của người tham gia dự thưởng; phương
                        thức trả thưởng và tỷ lệ trả thưởng kế hoạch phù hợp với từng sản phẩm cụ thể và cơ cấu giải thưởng theo quy định tại Thông tư này.
                    </li>
                    <li>Về đối tượng tham gia dự thưởng XS tự chọn số điện toán phải đáp ứng đầy đủ các điều kiện quy định sau: Là công dân Việt Nam ở trong nước hoặc người Việt Nam định cư ở nước ngoài nhập cảnh hợp pháp vào Việt Nam hoặc người nước ngoài
                        nhập cảnh hợp pháp vào Việt Nam; là người từ đủ 18 tuổi trở lên; là người có năng lực hành vi dân sự đầy đủ theo quy định của pháp luật Việt Nam, trừ trường hợp điều ước quốc tế mà Việt Nam là thành viên có quy định khác.</li>
                    <li>Đáng chú ý, về quyền hạn của người tham gia dự thưởng, Dự thảo Thông tư quy định, người tham gia dự thưởng được Cty XSKTTĐ trả thưởng đầy đủ khi trúng thưởng theo quy định tại thể lệ tham gia dự thưởng; được yêu cầu Cty XSKTTĐ giữ
                        bí mật về thông tin trúng thưởng và nhận thưởng; được hưởng các quyền lợi hợp pháp khác theo quy định tại thể lệ tham gia dự thưởng.</li>
                    <li>Bên cạnh quyền hạn nêu trên, Dự thảo Thông tư nêu người tham gia dự thưởng phải có trách nhiệm tuân thủ thể lệ tham gia dự thưởng và các quy định có liên quan tại Thông tư này. Đồng thời, khi trúng thưởng, người tham gia dự thưởng
                        phải xuất trình vé XS trúng thưởng và các giấy tờ chứng minh thuộc đối tượng tham gia dự thưởng theo quy định tại khoản 1 Điều này để làm thủ tục lĩnh thưởng. Và người trúng thưởng phải thực hiện đầy đủ nghĩa vụ thuế theo quy định
                        của pháp luật.</li>
                    <li>Giá trị cho một lần tham gia dự thưởng của người tham gia dự thưởng đối với từng sản phẩm XS tự chọn số điện toán tối đa là 10 nghìn đồng. Giá trị một lần tham gia dự thưởng cụ thể do Cty XSKTTĐ quyết định và quy định tại thể lệ tham
                        gia dự thưởng. Trường hợp khách hàng lựa chọn một số để tham gia dự thưởng nhiều lần hoặc chọn nhiều số để cùng tham gia dự thưởng thì tổng giá trị tham gia dự thưởng là bội số nguyên của 10 nghìn đồng.</li>

                    <li>(Theo Pháp Luật Việt Nam)</li>
                </ul>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newSelf">
                            <li v-if="newsSelfNum != index+7">
                                <a :href="item.href">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>

    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>