<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Tình tiết mới vụ nhầm kết quả xổ số ở Hậu Giang: Giám đốc cty xổ số nói gì với quay phim?</p>
                <!-- 標題時間 -->
                <div class="txtDate">Dữ liệu xổ số 17-06 07:44tháo</div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>
                    </li>
                    <li>
                        TPO - Khi em thiếu nhi rút nhầm thẻ số 7, một thành viên Hội đồng Giám sát (HĐGS) Xổ số kiến thiết (XSKT) tỉnh thắc mắc. Thư ký HĐGS đi xác minh, quá trình quay số không bị gián đoạn cho đến kết thúc bằng việc quay bảng niêm yết các dãy số trúng thưởng
                        đặt trước công ty, với dãy số của giải Nhì là 92617.
                    </li>
                    <li>
                        Liên quan đến việc kết quả xổ số nhầm lẫn ở Công ty TNHH Một thành viên XSKT Hậu Giang (Cty XSKT Hậu Giang), đơn vị này cho biết, khoảng 16 giờ 30 ngày 12/6, khi quay đến giải Nhì (lô 15 triệu đồng), kết quả trái cầu hàng đơn vị mang số 6, nhưng một trong
                        các em thiếu nhi quay lồng số rút nhầm và đưa lên thẻ số 7. Theo nguồn tin của PV, thời điểm đó, bà Thái Thu Xương - Chủ tịch Ủy ban MTTQ Việt Nam tỉnh Hậu Giang (thành viên HĐGS XSKT tỉnh) có thắc mắc số trên trái cầu và số trên
                        tấm thẻ em thiếu nhi đưa lên không giống nhau.
                    </li>
                    <li>
                        Thắc mắc sau đó được chuyển đến ông Nguyễn Thái Bình - Giám đốc Cty XSKT Hậu Giang, thư ký HĐGS XSKT tỉnh Hậu Giang. Ông Bình rời khỏi chỗ ngồi và đi ra phía sau gặp người đang quay phim trực tiếp là ông P.B và được ông B xác nhận là con số 7.
                    </li>
                    <li>
                        Theo lời ông B: “Khi nghe ông Bình hỏi có phải số 7, thì tôi trả lời đúng là số 7. Chứ không nghĩ là ông Bình hỏi số trên trái cầu là số có đúng với số trên tấm thẻ là số 7 hay không.”
                    </li>
                    <li>
                        Sau khi hỏi người quay phim, ông Bình còn ra ngoài xe truyền hình hỏi nhân viên đang thực hiện truyền hình trực tiếp có đúng số 7 hay không, thì cũng được xác nhận là số 7.
                    </li>
                    <li>
                        Quá trình ông Bình đi xác minh, việc truyền hình trực tiếp xổ số vẫn diễn ra bình thường, không bị gián đoạn cho đến kết thúc bằng việc truyền hình quay bảng niêm yết các dãy số trúng thưởng đặt trước Cty với dãy số trúng thưởng giải Nhì là 92617.
                    </li>
                    <li>
                        HĐGS XSKT tỉnh Hậu Giang tại buổi quay số mở thưởng kỳ vé K2T6 ngày 12/6/2021 gồm có 7 người: Chủ tịch Ủy ban MTTQ Việt Nam tỉnh Hậu Giang, Chánh Thanh tra tỉnh, Phó Giám đốc Sở Tài chính, Giám đốc Sở Tư pháp, Chánh Văn phòng UBND tỉnh, Phó Giám đốc Công
                        an tỉnh và Giám đốc Cty XSKT Hậu Giang.
                    </li>
                    <li>
                        Thế nhưng, sau đó Cty đính chính lại kết quả cuối cùng là dãy số 92616 mới đúng khi mà đại lý đã chi tiền đổi thưởng cho người mua vé số có dãy 92617. Việc sai sót đã không được khắc phục ngay khiến dư luận nghi ngờ…
                    </li>
                    <li>
                        Được biết, ngày 15/6, thông qua đại lý cấp 1, Cty XSKT Hậu Giang đã tiến hành chi trả tiền cho đại lý trước đó đã đổi thưởng vé số 92617 cho người mua. Còn đối với vé có dãy số 92616, nếu còn nguyên vẹn sẽ được trả thưởng bình thường; những vé đã bị xé
                        nhưng còn đầy đủ thông tin cũng sẽ được Cty xem xét trả thưởng.
                    </li>

                </ul>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newSelf">
                            <li v-if="newsSelfNum != index+7">
                                <a :href="item.href">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>