<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Cách chơi trò chơi</p>
                <!-- 標題時間 -->
                <div class="txtDate">Dữ liệu xổ số 27-06 00:52tháo </div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>
                    </li>
                    <li>
                        <span style="font-weight:bold;">Baccarat</span> Baccarat là một trong các trò chơi trong Casino được nhiều chuyên gia cho rằng có nhiều khả năng thắng nhất đối với người chơi. Như các bạn cũng đã biết, dù là bất cứ trò chơi nào
                        trong Casino thì luôn tồn tại tỷ lệ thắng, tỷ lệ thua tùy theo. Đối với Baccarat, tỷ lệ thắng lên tới 70% cho người chơi dễ dàng kiếm tiền, giải trí, cách chơi lại khá đơn giản và dễ hiểu.
                    </li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsList7-02.jpg">
                <p style="font-weight:inherit; font-style:italic;">Baccarat là một trong các trò chơi trong Casino hiện rất được ưa chuộng tại Việt Nam Baccarat có luật chơi khá tương tự với trò chơi đánh ba lá trong dân gian Việt Nam. Mỗi người được chia 3 lá bài với các giá trị quân bài ngẫu nhiên khác
                    nhau. Trong số những người chơi, ai có số điểm cộng lại của ba lá bài cao nhất thì người đó thắng, ai có số điểm cộng lại của ba lá bài thấp nhất thì người đó thua. Hiện tại, Baccarat được tích hợp cả ở điện thoại lẫn máy tính, do
                    đó bạn có thể chơi ở bất cứ đâu bạn cảm thấy thuận tiện.
                </p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Black Jack</span> So với Baccarat thì Black Jack cũng được coi là một trong các trò chơi trong Casino dễ ăn tiền nhất. Tại sao? Black Jack có nhiều điểm tương đồng với Baccarat, phương thức tìm người
                        chiến thắng cũng sẽ dựa trên số điểm mà bạn đang có trong các quân bài.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsList7-01.jpg">
                <p style="font-weight:inherit; font-style:italic;">Người chơi có thể chơi Black Jack ở điện thoại Smartphone hoặc PC có kết nối mạng<br> Theo đó, bạn sẽ được chia 2 lá bài và rút thêm tối đa 3 lá bài. Nếu như ai có tổng điểm giá trị các quân bài trong tay gần với số 21 nhất thì người đó
                    chiến thắng và ngược lại ai có tổng điểm giá trị các quân bài trong tay xa với số 21 nhất thì người đó là người thua cuộc.</p>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Roulette</span> Với sự góp mặt vô cùng nhiều tại các sòng bài trên thế giới, Roulette không hổ là một trong các trò chơi trong Casino ăn khách và có tỷ lệ thắng vô cùng cao. Theo nghiên cứu thống
                        kê, Roulette có tỷ lệ thắng lên tới 55%. Để chiến thắng, bạn chỉ cần tham gia vào cuộc chơi, dự đoán con số trên cò quay sao cho ô số đó trùng với ô số bạn đặt cược trên bàn.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsList7-03.jpg">
                <p style="font-weight:inherit; font-style:italic;">Roulette khiến người chơi chiến thắng đơn giản hơn bao giờ hết<br> Tùy vào từng địa điểm cũng như văn hóa chơi Casino mà Roulette sẽ có nhiều cách chơi cũng như nhiều cách để chiến thắng hơn. Bạn không cần phải học luật chơi, càng không
                    cần phải vắt óc suy nghĩ xem mình sẽ chọn con gì. Chỉ cần bạn tiếp xúc một lần là hoàn toàn có thể chơi rồi.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Slot Machine</span> Slot Machine đã từng là một trong những xu hướng giải trí của nhiều quý bà trên thế giới. Cho tới hiện nay, dường như sức hút của Slot Machine vẫn chưa ngừng lại. Bằng sự cải
                        tiến trong khoa học kỹ thuật, Slot Machine lại càng thu hút người chơi theo một cách hoàn toàn mới. Hiện nay, có nhiều loại Slot Machine cho chúng ta lựa chọn như Fruit Machine, Bars and 7s…
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsList7-04.jpg">
                <p style="font-weight:inherit; font-style:italic;">Với Slot Machine, bạn có nhiều lựa chọn hơn để giải trí<br> Người chơi chỉ cần chọn mức tiền cược và sử dụng Slot Machine. Slot Machine sẽ ngẫu nhiên khởi động. Kết quả được đưa ra ở 3 khe hay còn được gọi là Slot. Nếu người chơi cược
                    chính xác sẽ được tiền cược, ngược lại nếu người chơi cược sai sẽ mất đi tiền cược.
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Poker</span> Trong khi các quý bà thường yêu thích những kiểu chơi Slot Machine thì các quý ông lại có vẻ bị hấp dẫn bởi cách chơi của các dòng game Poker. Không giống với các trò chơi bài bạc thông
                        thường, người chơi Poker phải hiểu và nắm bắt được tình hình để chiến thắng được ván bài.
                    </li>
                </ul>
            </div>


            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsList7-05.jpg">
                <p style="font-weight:inherit; font-style:italic;">Chơi Poker không chỉ dựa vào khả năng ngẫu nhiên và sự may mắn của bạn<br> Về cơ bản, luật chơi của nó cũng khá đơn giản. Nếu bạn đã từng chơi Tiến lên hay chơi Sâm, Phỏm thì chắc chắn Poker sẽ không quá khó đối với bạn. Chỉ cần suy nghĩ
                    một chút, có kinh nghiệm một chút thì việc chiến thắng liên tiếp trong các ván bài Poker không có gì khó khăn.</p>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newSelf">
                            <li v-if="newsSelfNum != index+7">
                                <a :href="item.href">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>