<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Phá đường dây ghi lô đề hơn 15 tỷ</p>
                <!-- 標題時間 -->
                <div class="txtDate">Dữ liệu xổ số 11-06 18:09tháo</div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span>
                    </li>
                    <li>
                        <span style="font-weight:bold;">Giang, Sơn, Pháp cùng hơn 50 người thành lập đường dây đánh bạc bằng hình thức ghi lô đề. Trong 3 tháng, số tiền nhóm nghi phạm giao dịch là hơn 15 tỷ đồng.</span>
                    </li>
                    <li>Ngày 4/6, Công an tỉnh Quảng Bình đang tạm giữ Võ Thị Thùy Giang (39 tuổi, trú TP Đồng Hới), Châu Ngọc Sơn (28 tuổi, trú huyện Bố Trạch) và Nguyễn Trung Pháp (41 tuổi, trú huyện Quảng Ninh) để làm rõ hành vi Đánh bạc và Tổ chức đánh
                        bạc.
                    </li>
                    <li>Cơ quan điều tra cũng triệu tập hàng chục người khác trong đường dây đánh bạc này để làm rõ hành vi liên quan.</li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsList10-01.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:inherit; font-style:italic;">Cảnh sát kiểm tra nhà nghi phạm. Ảnh: Công an cung cấp.
                        </span>
                    </li>
                    <li>Theo công an, đầu tháng 3 đến nay, Giang, Sơn và Pháp thành lập đường dây đánh bạc bằng hình thức ghi lô đề.
                    </li>
                    <li>Nhóm này sử dụng mạng xã hội để nhắn tin ghi đề dựa vào kết quả xổ số miền Bắc, miền Trung và chuyển tiền thắng thua qua tài khoản ngân hàng.</li>
                    <li>Sau khi người chơi mua số lô, đề, hơn 50 "chân rết" trong đường dây dùng điện thoại chụp ảnh phơi đề để chuyển cho Giang, Sơn, Pháp.</li>
                    <li>Chiều 2/6, 100 cán bộ, chiến sĩ Công an tỉnh Quảng Bình phối hợp với công an các huyện Bố Trạch, Quảng Ninh và thị xã Ba Đồn chia làm 12 tổ đồng thời kiểm tra đột xuất nhà Giang, Sơn và Pháp. Ngoài nhà 3 người này, công an cũng khám
                        xét nhà của nhiều người khác trong đường dây.</li>
                    <li>Tại nhà các nghi phạm, cảnh sát thu gần 150 triệu đồng, 3 giấy chứng nhận quyền sử dụng đất, 15 điện thoại di động cùng nhiều tài liệu liên quan đến hành vi đánh bạc.</li>
                    <li>Công an xác định trong 3 tháng, đường dây đánh bạc do Giang, Sơn, Pháp cầm đầu đã giao dịch hơn 15 tỷ đồng.</li>
                </ul>
            </div>

        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newSelf">
                            <li v-if="newsSelfNum != index+7">
                                <a :href="item.href">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>