<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VNC88 Được xếp vào một trong những trang web TOP nổi tiếng nhất tại Việt Nam, đặc biệt mang đến cho độc giả những tin thể thao hết sức hấp dẫn." />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/all.css?v1.0.0">
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- 外掛插件 -->
    <script src="js/swipeslider.js?v1.0.0"></script>
    <script src="js/marquee.js?v1.0.0"></script>
    <script src="js/router.js?v1.0.1"></script>
    <script src="js/verifyCode.js?v1.0.0"></script>
    <!-- 自訂義js -->
    <script src="js/pageData.js?v1.0.1"></script>
    <!-- google插件 -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-30FY56KDHN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-30FY56KDHN');
    </script>
     <title></title>
</head>

<body>
    <div id="indexBox">
        <!-- ===== header start ===== -->
        <div class="header" id="header">
            <!-- hd_top start -->
            <div class="hd_top" id="hd_top" ref="hdTop" :class="{'hideUp':topHide.switch}">
                <h1 class="hd_logo"><a href="#/home">vnc88</a></h1>
                <div class="hd_tool">
                    <div class="hd_link">
                        <ul>
                            <li class="btn_linear_c1">
                                <a href="mailto:topvnc88@gmail.com">
                                    <div class="btn_cnt">
                                        <img src="images/icon/icon-email.png" alt="Link to the vnc88 mailbox.">
                                    </div>
                                </a>
                            </li>
                            <li class="btn_linear_c1">
                                <a href="https://reurl.cc/4a23dj" target="_blank">
                                    <div class="btn_cnt">
                                        <img src="images/icon/icon-fb.png" alt="Link to vnc88 facebock.">
                                    </div>
                                </a>
                            </li>
                            <li class="btn_linear_c1" @click="qrHref('zalo')">
                                <a href="page/qrcode.html" target="_blank">
                                    <div class="btn_cnt">
                                        <img src="images/icon/icon-zalo.png" alt="Link to the vnc88 Zalo QrCode page.">
                                    </div>
                                </a>
                            </li>
                            <li class="btn_linear_c1" @click="qrHref('tg')">
                                <a href="page/qrcode.html" target="_blank">
                                    <div class="btn_cnt">
                                        <img src="images/icon/icon-tg.png" alt="Link to the vnc88 Telegram QrCode page.">
                                    </div>
                                </a>
                            </li>
                            <li class="btn_linear_c1 signinBar" @click="signInOpen = true,reset()" v-show="!temporary">
                                <div class="btn_cnt">
                                    <img src="images/icon/icon-onSignin.png" v-if="mbrLogin" alt="Member login">
                                    <span v-else style="padding: 0 5px 0;">ĐăngNhập</span>
                                </div>
                            </li>

                            <li class="btn_linear_c3 menuBar" @click="menuOpen = true">
                                <div class="btn_cnt">
                                    <img src="images/icon/menuBar.png" alt="Menu button for small screen.">
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="hd_signIn" :class="{'on' : signInOpen}" v-show="!temporary">
                        <div class="close" @click="signInOpen = false,reset()"></div>

                        <!-- 會員登入 / 註冊按鈕 -->
                        <div class="hd_signInCnt" v-show="!mbrLogin">
                            <div class="signIn_close" @click="signInOpen = false,reset()"></div>
                            <div class="title">Đăng nhập</div>
                            <div class="hd_signInCnt_inner">
                                <form @submit.prevent="ckSignIn()">
                                    <div class="signIn_ipt">
                                        <!-- 用戶帳號 -->
                                        <div class="signIn_account">
                                            <span class="signIn_minTitle">Tài khoản</span>
                                            <div class="signIn_iptBox">
                                                <div class="signIn_minCnt">
                                                    <label data-title="Tài khoản">  
                                                        <input type="email" placeholder="Tài khoản" v-model="signInMbr.email" required>  
                                                    </label>
                                                </div>
                                                <p class="errorTxt" v-if="errorCode.notEmail">Email không tồn tại</p>
                                            </div>
                                        </div>

                                        <!-- 密碼 / 忘記密碼 -->
                                        <div class="signIn_forget">
                                            <span class="signIn_minTitle">Mật khẩu</span>
                                            <div class="signIn_iptBox">
                                                <div class="signIn_minCnt">
                                                    <label>
                                                        <input type="password" placeholder="Mật khẩu" v-model="signInMbr.pwd" required  autocomplete="on">
                                                    </label>
                                                    <div class="btn_linear hd_forget" @click="forgetLog()">
                                                        <div class="btn_cnt"></div>
                                                    </div>
                                                </div>
                                                <p class="errorTxt" v-if="errorCode.pwd">Sai mật khẩu</p>
                                            </div>
                                        </div>
                                        <!-- 驗證碼 -->
                                        <div class="signIn_code">
                                            <span class="signIn_minTitle">Mã xác minh</span>
                                            <div class="signIn_codeBox">
                                                <div class="signIn_minCnt">
                                                    <label>
                                                        <input type="text" placeholder="Xác minh"  minlength="4" maxlength="4" pattern="[0-9]{4,4}" v-model="signInMbr.code" required>
                                                    </label>

                                                    <div class="nbCode" @click="verify('mainVerify')">
                                                        <canvas id='mainVerify'></canvas>
                                                    </div>
                                                </div>
                                                <p class="errorTxt" v-if="errorCode.verify">Sai mã xác nhận</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="signIn_btn">
                                        <div class="btn_linear_c2 btn">
                                            <button class="btn_cnt">Đăng nhập</button>
                                        </div>
                                        <div class="btn_linear_c3 btn" @click="regdLog()">
                                            <div class="btn_cnt">Đăng kí</div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <!-- 會員訊息 / 登出 -->
                        <div class="hd_signInCnt" v-show="mbrLogin">
                            <div class="signIn_close" @click="signInOpen = false"></div>
                            <div class="signIn_on">
                                <div class="title">Thông tin tài khoản</div>
                                <div class="signIn_on_inner">
                                    <div class="signIn_msg">
                                        <div>
                                            <div class="signIn_icon member"></div>
                                            <p>{{mbrMsg.nickname}}</p>
                                        </div>
                                        <div>
                                            <div class="signIn_icon chip"></div>
                                            <p>{{mbrMsg.points}}</p>
                                        </div>
                                        <div>
                                            <div class="signIn_icon mail"></div>
                                            <p>99+</p>
                                        </div>
                                    </div>
                                    <div class="signIn_btn">
                                        <div class="btn_linear_c2 btn" @click="offLogin()">
                                            <div class="btn_cnt">Đăng xuất</div>
                                        </div>
                                        <div class="btn_linear_c3 btn" @click="signInOpen = false">
                                            <a href="#/member">
                                                <div class="btn_cnt">Thông tin tài khoản</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- hd_menu start -->
            <div class="hd_menu" id="hd_menu" :class="{'on' : menuOpen}" ref="hdMenu">
                <div class="close" @click="menuOpen = false"></div>
                <ul>
                    <template v-for="(item,index) in hdMenu.txtList">
                        <li v-show="item.switch" @click="menuOpen = false">
                            <a :href="item.href">{{item.txt}}</a>
                        </li>
                    </template>

                    <template v-for="(item,index) in hdMenu.picture">
                        <li v-show="item.switch">
                            <a :href="item.href">
                                <div class="menu_game">
                                    <img :src="item.img">
                                </div>
                            </a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <!-- ===== content start ===== -->
        <div class="mainCnt" id="mainCnt">
            <div class="contBox-full">
                <!-- 首頁輪播 -->
                <div id="full_feature" class="swipslider" v-show="!carousel.change">
                    <ul class="sw-slides">
                        <template v-for="(item,index) in carousel.maxSize">
                            <li class="sw-slide">
                                <img :src="item.img" alt="Home carousel">
                            </li>
                        </template>
                    </ul>
                </div>

                <div id="min_feature" class="swipslider min" v-show="carousel.change">
                    <ul class="sw-slides">
                        <template v-for="(item,index) in carousel.minSize">
                            <li class="sw-slide">
                                <img :src="item.img" alt="Small screen homepage carousel.">
                            </li>
                        </template>
                    </ul>
                </div>

                <!-- marquee start -->
                <div class="marquee">
                    <div class="marqueeBox">
                        <div>
                            <span>Tin mới nhất：</span>
                            <ul id="marquee" class="marquee_body">
                                <template v-for="(item,index) in marquee">
                                    <li>{{item.txt}}</li>
                                </template>
                            </ul>
                            <div class="btn_linear_c1 btn">
                                <div class="btn_cnt">Chi tiết</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contBox-min" ref="contMin">
                    <div class="leftTool" id="leftTool" ref="leftTool" :class="{'on':eventFloat}">
                        <div class="floatEvent">
                            <template v-for="(item,index) in eventBanner.left">
                                <img :src="item.img" alt="Partner related information.">
                            </template>
                        </div>
                        <div class="getGift" id="getGift" @click="giftLog()">
                            <img src="images/gift.png" alt="Gift for new members">
                        </div>
                    </div>

                    <div class="rightTool" id="rightTool" :class="{'on':eventFloat}">
                        <div class="floatEvent">
                            <template v-for="(item,index) in eventBanner.right">
                                <img :src="item.img"  alt="Partner related information.">
                            </template>
                        </div>

                        <div class="goTop" @click="goTop()">
                            <img src="images/icon/arrow-top.svg">
                            <span>TOP</span>
                        </div>
                        <div class="todayGame" id="todayGame" v-show="todayGame" @click="todayGameLog()">
                            <div class="god">
                                <img src="images/god.png" alt="Recommended games of the day.">
                            </div>
                        </div>
                    </div>

                    <!-- flexEvent start -->
                    <div class="flexEvent">
                        <ul>
                            <template v-for="(item,index) in eventBanner.top">
                                <li>
                                    <img :src="item.img" alt="Partner related information.">
                                </li>
                            </template>
                        </ul>
                    </div>

                    <div class="crumb">
                        <ul>
                            <li>VNC88</li>
                            <li v-for="(item,index) in crumb">
                                <a :href="item.href">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <!-- content start -->
                    <div class="content" id="content" ref="content"></div>
                </div>
            </div>
        </div>

        <!-- ===== footer start ===== -->
        <div class="footer">
            <!-- ft_top -->
            <div class="ft_top">
                <div>
                    <div class="ft_msg">
                        <p>Truyền hình trực tiếp bóng đá chất lượng hàng đầu việt nam</p>
                        <p>TOP PRESTIGE BEAUTIFUL 100% </p>
                        <p>SUPER HIGH SUPER HOT SUPER HOT CAMERA</p>
                    </div>

                    <div class="ft_link">
                        <ul>
                            <li>
                                <div class="ft_icon">
                                    <img src="images/icon/icon-18up.png" alt="This site is recommended to watch over 18 years old.">
                                </div>
                            </li>
                            <li>
                                <a href="https://reurl.cc/4a23dj" target="_blank">
                                    <div class="ft_icon">
                                        <img src="images/icon/icon-f-fb.png" alt="Link to vnc88 facebock.">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://reurl.cc/Q6nE6q" target="_blank">
                                    <div class="ft_icon">
                                        <img src="images/icon/icon-f-yt.png" alt="Link to vnc88 youtube.">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- ft_bottom -->
            <div class="ft_bottom">
                <div>
                    <div class="copyright">
                        <p>&copy; Copyright 2021 vnc88</p>
                    </div>
                    <div class="ft_menu">
                        <ul>
                            <template v-for="(item,index) in hdMenu.txtList">
                                <li v-if="item.switch"><a :href="item.href">{{item.txt}}</a></li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ftEvent  -->
            <div class="ftEvent">
                <template v-for="(item,index) in eventBanner.bottom">
                    <div :class="{'on' : !item.switch}">
                        <div class="ftEvent_close" @click="item.switch = false" ></div>
                        <img :src="item.img" alt="Partner related information.">
                    </div>
                </template>
            </div>
        </div>

        <!-- ===== loading start ===== -->
        <div class="loading" id="loading" :class="{'on' : onLoad}">
            <div class="load_round"></div>
        </div>

        <!-- ===== warnLog start ===== -->
        <div class="warnLog" :class="{'on' : warn.warnSwitch}">
            <div class="warnbody">
                <div class="warnIcon">
                    <img src="images/icon/tick.png" v-if="warn.success" alt="Correct prompt">
                    <img src="images/icon/cross.png" v-else alt="Error warning">
                </div>
                <div class="warnTxt">
                    <p v-for="(item,index) in warn.warnTxt">{{item}}</p>
                </div>
            </div>
        </div>

        <!-- ===== dialogCnt start ===== -->
        <div class="dialogBox" id="dialogBox" :class="{'on':dialog.main}">
            <div class="close" @click="closeDialog()"></div>

            <!-- 忘記密碼 -->
            <div class="dialog_cnt_01 forget" v-show="dialog.forget">
                <div class="close" @click="closeDialog()"></div>
                <div class="title">Quên mật khẩu</div>
                <div class="innerBox">
                    <div>
                        <span>Tài khoản</span>
                        <div class="iptBox">
                            <input type="text" placeholder="Điền tên tài khoản">
                        </div>
                    </div>
                    <div>
                        <span>Phương thức xác minh</span>
                        <div class="iptBox">
                            <input type="email" placeholder="Điền hộp thư điện tử">
                            <div class="selectBox">
                                <select>
                                    <option value="email">Thư điện tử</option>
                                    <option value="phone">Số di động</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>Mã xác minh</span>

                        <div class="codeIpt">
                            <div>
                                <div class="iptBox">
                                    <input type="text" pattern="[0-9]{4,4}" placeholder="Nhập mã xác minh" required>
                                </div>
                                <div class="codeBox" @click="verify('forgetVerify')">
                                    <canvas id="forgetVerify"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_linear_c1 btn">
                        <div class="btn_cnt">Gửi đi</div>
                    </div>
                </div>
            </div>

            <!-- 註冊會員 -->
            <div class="dialog_cnt_01 regd" v-show="dialog.regd">
                <div class="close" @click="closeDialog()"></div>
                <div class="title">Đăng kí</div>

                <form @submit.prevent="ckRegd()">
                    <div class="innerBox">
                        <!-- errorCode.email -->
                        <div>
                            <span>Tài khoản</span>
                            <div class="innerList">
                                <div class="iptBox">
                                    <input type="email" placeholder="Điền hộp thư điện tử" v-model="regdMbr.email" required>
                                </div>
                                <p class="errorTxt" v-if="errorCode.reEmail">Email này đã tồn tại</p>
                            </div>
                        </div>

                        <div>
                            <span>Mật khẩu</span>
                            <div class="innerList">
                                <div class="iptBox">
                                    <input type="password" minlength="6" maxlength="12" placeholder="Điền 6-12 kí tự bao hồm chữ/ số" v-model="regdMbr.pwd" required autocomplete="on">
                                </div>
                                <p class="errorTxt" v-if="false"></p>
                            </div>
                        </div>

                        <div>
                            <span>Số di động</span>
                            <div class="innerList">
                                <div class="iptBox">
                                    <input type="number" placeholder="Điền số điện thoại" v-model="regdMbr.phone" required>
                                </div>
                                <p class="errorTxt" v-if="false"></p>
                            </div>
                        </div>

                        <div>
                            <span>Mã xác minh</span>
                            <div class="codeIpt">
                                <div>
                                    <div class="iptBox">
                                        <input type="text" placeholder="Nhập mã xác minh" minlength="4" maxlength="4" pattern="[0-9]{4,4}" v-model="regdMbr.code" required>
                                    </div>
                                    <div class="codeBox">
                                        <canvas id="regdVerify" @click="verify('regdVerify')"></canvas>
                                    </div>
                                </div>
                                <p class="errorTxt" v-if="errorCode.verify">Sai mã xác nhận</p>
                            </div>
                        </div>

                        <div class="check_cnt">
                            <label class="ckBox">
                                <input type="checkbox" v-model="regdMbr.agree" >
                                <div></div>
                            </label>
                            <p>Tôi đủ tuổi hợp pháp và đồng ý cũng như sẵn sàng tuân thủ các quy định
                                <a>Quy định người dùng</a>。
                            </p>
                        </div>
                        <div class="regd_btn">
                            <div class="btn_linear_c1 btn">
                                <button class="btn_cnt">Đăng kí</button>
                            </div>
                            <div class="btn_linear_c2 btn" @click="closeDialog()">
                                <div class="btn_cnt">Hủy</div>
                            </div>
                        </div>


                        <p>Sử dụng thông tin đăng nhập của bên thứ ba </p>
                        <div class="btn_linear_c4 btn">
                            <div class="btn_cnt">Đăng nhập Facebook</div>
                        </div>
                        <div class="btn_linear_c4 btn">
                            <div class="btn_cnt">Đăng nhập Zalo</div>
                        </div>
                        <div class="btn_linear_c4 btn">
                            <div class="btn_cnt">Đăng nhập Telegram</div>
                        </div>
                    </div>
                </form>

            </div>

            <!-- 新註冊獎金 -->
            <div class="newGift" v-show="dialog.gift" :class="{on:giftLayout}">
                <div class="roulette">
                    <div class="rou_body" id="rou_body" :style="ranRoulette(0)"></div>
                    <div class="rou_pointer" style="padding: 0%;">
                        <img src="images/roulette/rou_pointer.png" alt="Turntable pointer">
                    </div>
                </div>

                <div class="newGift_cnt" id="newGift_cnt">
                    <div class="title">
                        <span>Phần thưởng cho người mới đăng kí</span>
                        <p>Nhập mã SDT của bạn vào bên dưới và thử vận ​​may với vòng quay tài lộc</p>
                    </div>

                    <div>
                        <input type="text" placeholder="Điền số SDT tài khoản" v-model="giftCode" @focus="reGift(),ranRoulette(1),giftLayout = true" @blur="giftLayout = false" :disabled="giftDis">
                        <div class="btn_linear_c1 btn" @click="ranGift()">
                            <button class="btn_cnt" :disabled="giftDis">Bắt đầu bốc thăm</button>
                        </div>
                    </div>

                    <div class="rule">
                        <span>Nguyên tắc</span>
                        <p>- Điền số SDT tài khoản</p>
                        <p>- Một nhóm tài khoản được giới hạn 1 vòng quay</p>
                    </div>
                </div>

                <div class="close" @click="closeDialog(),giftLayout = false"></div>
            </div>

            <!-- 今日遊戲 -->
            <div class="todayGame" v-show="dialog.todayGame">
                <div class="close" @click="closeDialog()"></div>
                <div class="todayGame_actor">
                    <img src="images/god.gif" alt="Fortuna Animation.">
                </div>
                <div class="firework">
                    <img src="images//todayGame/firework.png" alt="Shredded paper flower">
                </div>
                <div class="todayGame_cnt">
                    <div class="todayGame_msg">
                        <p>VNC88 </p>
                        <p>tặng bạn</p>
                        <p>3000</p>
                        <p>đồng tiền vàng</p>
                    </div>
                    <div class="btn">
                        <img src="images//todayGame/todayGame_btn.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var indexVue = Vue.createApp({
        data() {
            return {
                // ==== 判斷會員是否為登入狀態 ====
                mbrLogin: false,

                // ==== 網站menu ====
                hdMenu: menuData,

                // ==== hd_top向上隱藏(小尺寸) ====
                topHide: {
                    switch: false,
                    lastScrollY: 0,
                },

                // ==== 輪播 (切換尺寸) ====
                carousel: {
                    maxSize: '',
                    minSize: '',
                    change: false,
                },

                // ==== 跑馬燈 ====
                marquee: '',

                // ==== 廣告資料(左,右,中,頁尾,內文) ====
                eventBanner: {
                    top: '',
                    left: '',
                    right: '',
                    bottom: '',
                    center: ''
                },

                // ==== 麵包削 ====
                crumb: '',

                // ==== 禮物轉盤 ====
                giftCode: '',
                giftDis: false,
                roulette: 0,
                canRoulette: false,
                giftLayout: false,

                // ==== 驗證碼 ====
                verifyCode: {
                    main: '',
                    forget: '',
                    regd: '',
                },

                // ==== 錯誤訊息 ====
                errorCode: {
                    reEmail: false,
                    notEmail: false,
                    verify: false,
                    pwd: false,
                },

                mbrMsg: {
                    nickname: '',
                    points: ''
                },

                // ==== 註冊會員 ====
                regdMbr: {
                    email: '',
                    pwd: '',
                    phone: '',
                    code: '',
                    agree: false,
                },

                // ==== 登陸會員 ====
                signInMbr: {
                    email: '',
                    pwd: '',
                    code: '',
                },

                // ==== 彈窗開關 ====
                dialog: {
                    main: false,
                    forget: false,
                    regd: false,
                    gift: false,
                    todayGame: false,
                },

                // ==== 成功 / 失敗警示 ====
                warn: {
                    warnSwitch: false,
                    success: false,
                    warnTxt: [],
                },

                // ==== 開關列表 ====
                // loading開關
                onLoad: false,
                // 網站menu視窗開關(小尺寸)
                menuOpen: false,
                // 會員登入視窗開關(小尺寸)
                signInOpen: false,
                // 浮動廣告開關
                eventFloat: false,
                // 今日遊戲按鈕顯示開關
                todayGame: true,

                // ==== 暫時關閉 (hd_signIn,signinBar)====
                temporary: true,
            };
        },
        methods: {
            // ==== 會員註冊 ====
            ckRegd() {
                let ckCode = this.regdMbr.code == this.verifyCode.regd;
                let ckAgree = this.regdMbr.agree;
                this.errorCode.pwd = false;
                this.errorCode.reEmail = false;


                // 驗證碼錯誤提醒
                this.errorCode.verify = ckCode ? false : true
                if (ckCode && ckAgree) {
                    this.postRegd();
                };
            },
            postRegd() {
                let account = {};
                let self = this
                self.onLoad = true;
                account.email = String(this.regdMbr.email);
                account.password = String(this.regdMbr.pwd);
                account.phone = String(this.regdMbr.phone);

                let xhr = new XMLHttpRequest();
                xhr.open("post", "https://www.vnc8888.com/api/member/register");
                xhr.setRequestHeader("Content-type", "application/json");
                let data = JSON.stringify(account);
                xhr.send(data);
                xhr.onload = function() {
                    self.onLoad = false;
                    let res = JSON.parse(xhr.response);
                    self.ckError(xhr.status, res)
                }
            },

            // ==== 會員登入 ====
            ckSignIn() {
                let ckCode = this.signInMbr.code == this.verifyCode.main;
                this.errorCode.pwd = false;
                this.errorCode.notEmail = false;

                // 驗證碼錯誤提醒
                this.errorCode.verify = ckCode ? false : true
                if (ckCode) {
                    this.postSignIn();
                } else {
                    this.warn.warnTxt = ["Sai mã xác nhận"];
                    this.showErrorLog();
                };
            },
            postSignIn() {
                let account = {};
                let self = this;
                account.email = String(this.signInMbr.email);
                account.password = String(this.signInMbr.pwd);

                let xhr = new XMLHttpRequest();
                xhr.open("post", "https://www.vnc8888.com/api/member/login");
                xhr.setRequestHeader("Content-type", "application/json");
                let data = JSON.stringify(account);
                xhr.send(data);
                xhr.onload = function() {
                    let res = JSON.parse(xhr.response);
                    self.ckError(xhr.status, res);
                }
            },
            showErrorLog(status) {
                this.warn.success = false;
                let w = document.body.clientWidth;
                let self = this;
                if (w >= 1264) {
                    self.warn.warnSwitch = true;
                    setTimeout(function() {
                        self.warn.warnSwitch = false;
                    }, 2000)
                }
            },

            // ==== 確認狀態碼 ====
            ckError(status, res) {
                let self = this;
                switch (status) {
                    case 200:
                        self.closeDialog();
                        self.onLogin(res);
                        self.mbrMsg.nickname = res.nickname;
                        self.mbrMsg.points = res.points;

                        self.warn.warnTxt = ["Đăng nhập thành công", "lập tức chuyển đến trang chủ"];
                        self.warn.warnSwitch = true;
                        self.warn.success = true;
                        setTimeout(function() {
                            location.href = "#/home";
                            self.warn.warnSwitch = false
                        }, 2000)

                        break;
                    case 400:
                        break;
                    case 403:
                        self.errorCode.pwd = true;
                        this.warn.warnTxt = ["Sai mật khẩu"];
                        self.showErrorLog();
                        break;
                    case 404:
                        self.errorCode.notEmail = true;
                        this.warn.warnTxt = ["Email không tồn tại"];
                        self.showErrorLog();
                        break;
                    case 409:
                        self.errorCode.reEmail = true;
                        break;
                }
            },

            reset() {
                // 清除所有error訊息
                this.errorCode.reEmail = false;
                this.errorCode.notEmail = false;
                this.errorCode.verify = false;
                this.errorCode.pwd = false;

                // 清除所有輸入
                this.regdMbr.email = '';
                this.regdMbr.pwd = '';
                this.regdMbr.phone = '';
                this.regdMbr.code = '';
                this.regdMbr.agree = false;

                this.signInMbr.email = '';
                this.signInMbr.pwd = '';
                this.signInMbr.code = '';
            },

            ckLogin() {
                let session = sessionStorage.getItem('session');
                let self = this;

                if (session == null) {
                    this.mbrLogin = false;
                } else {
                    this.mbrLogin = true;
                    let data = JSON.parse(session);
                    this.mbrMsg.nickname = data.nickname;
                    this.mbrMsg.points = data.points;
                }
            },

            onLogin(res) {
                sessionStorage.setItem('session', JSON.stringify(res));
                this.ckLogin();
            },

            offLogin() {
                let self = this;
                sessionStorage.removeItem('session');
                this.verify("mainVerify");
                this.closeDialog();
                this.ckLogin();

                // 登出返回首頁並出現load
                self.onLoad = true;
                location.href = "#/home";
                setTimeout(function() {
                    self.onLoad = false;
                }, 300)
            },

            // ==== 彈窗 ====
            forgetLog() {
                this.dialog.main = true;
                this.dialog.forget = true;
                this.signInOpen = false;
                this.verify("forgetVerify");
            },
            regdLog() {
                this.dialog.main = true;
                this.dialog.regd = true;
                this.signInOpen = false;
                this.verify("regdVerify");
            },
            giftLog() {
                this.dialog.main = true;
                this.dialog.gift = true;
                this.signInOpen = false;
                this.reGift();
            },
            todayGameLog() {
                this.dialog.main = true;
                this.dialog.todayGame = true;
                this.signInOpen = false;
            },
            closeDialog() {
                // 關閉所有彈窗
                this.dialog.main = false;
                this.dialog.forget = false;
                this.dialog.regd = false;
                this.dialog.gift = false;
                this.dialog.todayGame = false;
                this.signInOpen = false;

                this.reset();
            },

            // ==== 驗證碼 ====
            verify(name) {
                let codeNum = ''
                let codeRan = parseInt(Math.random() * 8889 + 1111);
                switch (name) {
                    case "mainVerify":
                        this.verifyCode.main = codeRan;
                        break;
                    case "forgetVerify":
                        this.verifyCode.forget = codeRan;
                        break;
                    case "regdVerify":
                        this.verifyCode.regd = codeRan;
                        break;
                }

                let options = {
                    canvasId: name,
                    txt: String(codeRan),
                    /**傳入驗證碼內容*/
                    height: 34,
                    /**驗證碼高度 */
                    width: 80,
                    /**驗證碼寬度 */
                };
                writeAuthCode(options);
                getVerify_m = function() {
                    return options.txt
                }

                // 清除驗證碼 error 訊息
                this.errorCode.verify = false;
            },

            // ==== 新戶轉盤 ====
            ranGift() {
                let self = this;
                let getCode = this.giftCode.toUpperCase() //轉大寫
                if (getCode == 'VNC88') {
                    self.giftDis = true;
                    self.canRoulette = true;
                    this.roulette = parseInt(Math.random() * 12 + 1);
                    setTimeout(function() {
                        self.giftCode = ''
                        self.giftDis = false;
                    }, 4000)
                }
            },
            reGift() {
                this.giftCode = ''
                this.giftDis = false;
                this.canRoulette = false;
            },
            ranRoulette(data) {
                if (this.canRoulette && data == 0) {
                    return `transform: rotate(${(30* this.roulette + 3600)}deg);transition: 4s`
                } else {
                    return `transform: rotate(0deg);transition: 0s`
                }
            },

            // ==== qrCode ====
            qrHref(data) {
                localStorage.setItem('qrCode', data)
            },

            // ==== 主頁面卷軸置頂 ====
            goTop() {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            },

            // ==== 視窗resize 及 卷軸事件 ====
            winResize() {
                window.scrollTo({
                    top: 0
                });
                this.menuOpen = false;
                this.floatHd();
                this.floatEvent();
                this.chCarousel();
            },
            winScroll() {
                this.floatMenu();
                this.floatEvent();

            },

            // ==== 變更輪播顯示 ====
            chCarousel() {
                let winW = document.body.clientWidth;
                this.carousel.change = winW < 842 ? true : false;
            },

            // ==== 小畫面浮動hd_top時,修改indexBox的padding ====
            floatHd() {
                let winW = document.body.clientWidth;
                let hdH = this.$refs.hdTop.clientHeight;
                let indexBox = document.querySelector('#indexBox');
                $('#mainCnt')

                if (winW >= 1263) {
                    indexBox.removeAttribute('style')
                } else {
                    indexBox.style.paddingTop = `${hdH}px`;
                }
            },

            // ==== 上方menu浮動 ====
            floatMenu() {
                let winW = document.body.clientWidth;
                let hdH = this.$refs.hdTop.clientHeight;
                let st = window.scrollY;

                if (winW > 1263) {
                    this.menuOpen = window.scrollY > hdH ? true : false;
                } else {
                    if (st < this.topHide.lastScrollY) {
                        this.topHide.switch = false;
                    } else if (st < hdH) {
                        this.topHide.switch = false;
                    } else {
                        this.topHide.switch = true;
                    }
                    this.topHide.lastScrollY = st;
                }
            },
            // ==== 側邊浮動廣告 ====
            floatEvent() {
                let winW = document.body.clientWidth;
                // 廣告頂到上方
                let getH = $('.contBox-full .contBox-min').offset().top - this.$refs.hdMenu.clientHeight - 10;
                // 碰到footer
                let getH2 = $('.footer').offset().top - window.innerHeight + this.$refs.hdTop.clientHeight + 30;
                if (window.scrollY > getH && window.scrollY < getH2) {
                    this.eventFloat = true;
                } else {
                    this.eventFloat = false;
                }

                let getH3 = this.$refs.content.clientHeight - this.$refs.leftTool.clientHeight / 2;
                let leftTool = document.querySelector('#leftTool');
                let rightTool = document.querySelector('#rightTool')
                if (window.scrollY >= getH2 & winW > 1473) {
                    leftTool.style.top = `${getH3}px`
                    rightTool.style.top = `${getH3}px`
                    this.todayGame = false;
                } else {
                    leftTool.removeAttribute("style")
                    rightTool.removeAttribute("style")
                    this.todayGame = true;
                }
            },
            getData() {
                let self = this;
                // 跑馬燈 (api = 廣告與跑馬燈)
                $.ajax({
                    url: "https://www.vnc8888.com/api/marquee/list",
                    dataType: "json",
                    success: function(data) {
                        self.marquee = data;
                        self.$nextTick(function() {
                            // 啟動跑馬燈外掛
                            $("#marquee").marquee({
                                pauseOnHover: true
                            });
                        })
                    },
                });

                // 廣告 (api = 廣告與跑馬燈)
                $.ajax({
                    url: "https://www.vnc8888.com/api/banner/list",
                    dataType: "json",
                    success: function(data) {
                        self.eventBanner.top = data.top;
                        self.eventBanner.left = data.left;
                        self.eventBanner.right = data.right;
                        self.eventBanner.center = data.center;
                        self.eventBanner.bottom = data.bottom;
                        for (let i = 0; i < self.eventBanner.bottom.length; i++) {
                            self.eventBanner.bottom[i].switch = true;
                        }


                        self.carousel.maxSize = data.carousel;
                        self.carousel.minSize = data.scarousel;

                        self.$nextTick(function() {
                            // 啟動輪播外掛
                            $('#full_feature').swipeslider();
                            $('#min_feature').swipeslider();
                        })
                    },
                });

            },
        },
        mounted() {
            this.getData();
            this.verify("mainVerify");
            this.verify("forgetVerify");
            this.verify("regdVerify");
            this.ckLogin();
            this.floatHd();
            this.chCarousel();

            window.addEventListener('resize', this.winResize);
            window.addEventListener('scroll', this.winScroll);
        },
    }).mount("#indexBox");
</script>

<script>
    let firebaseConfig = {
        apiKey: "AIzaSyAgZwvI140YQ0w-nLzg2NMHGD7LT8xA0ig",
        authDomain: "login-a4c56.firebaseapp.com",
        projectId: "login-a4c56",
        storageBucket: "login-a4c56.appspot.com",
        messagingSenderId: "446192149335",
        appId: "1:446192149335:web:c1bbb2ba15206bb5921412",
        measurementId: "G-2ZYH9PZFK0",
        databaseURL: "https://login-a4c56-default-rtdb.asia-southeast1.firebasedatabase.app/"
    };

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    let db = firebase.firestore();
    let docRef = db.collection("showLive");
    let docRef2 = db.collection("ytMovie");
    var database = firebase.database().ref().limitToLast(50);
</script>

</html>