<div class="contBox-min">
    <!-- 新聞內頁 -->
    <div class="newsRef_box" id="newsCnt">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>GIỚI THIỆU VỀ JOB VIET NAM (JUST BET ONLINE)</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt" style="font-weight:bold;">vnc88</span>Được thành lập vào năm 2019, <span style="font-weight:bold;">JBO</span> (JUST BET ONLINE) là công ty giải trí trực tuyến cung cấp sản phẩm đa dạng như cược thể thao, esports
                        và casino. <span style="font-weight:bold;">JBO</span> là website Cá Cược Trực Tuyến Chuyên Esports Đầu Tiên Tại Việt Nam, với mong muốn kết nối cộng đồng Esports và mang đến trải nghiệm giải trí vượt trội. <span style="font-weight:bold;">JBO</span>                        là một công ty chuyên nghiệp được ủy quyền và quản lý bởi chính phủ Philippines, có giấy phép kinh doanh trò chơi trực tuyến First Cagaya – cơ quan có thẩm quyền nhất ở Philippines. Do đó giao dịch tại website hoàn toàn minh bạch
                        và an toàn. Mục tiêu của JBO là đảm bảo an toàn cũng như bảo vệ lợi ích cho thành viên tham gia tại Website. Tại JBO, bộ phận chăm sóc khách hàng chuyên nghiệp 24/7 sẽ giúp bạn giải đáp những thắc mắc khi tham gia tại website.
                        Tự hào là Nhà Thể Thao và Esports Hàng Đầu Châu Á, JBO cung cấp hơn hàng ngàn trận đấu khác nhau mỗi ngày, bao gồm các giải đấu Esport lớn, sự kiện thể thao trong và ngoài nước, sòng bài (casino) trực tuyến. Với tiêu chí mang đến
                        cho người chơi trải nghiệm giải trí tuyệt vời nhất tại website, JBO không ngừng nỗ lực cải thiện sản phẩm và nâng cấp dịch vụ để trở thành Website Cá Cược Thể Thao và Esport Hàng Đầu Châu Á.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/betRef4-01.gif">
            </div>

            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Các dịch vụ chúng tôi cung cấp</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Chúng tôi có rất nhiều các trò chơi giải trí khác nhau, các bạn có thể tham khảo bên dưới đây.
                    </li>
                </ul>
            </div>

            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Xỉu chủ</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Chỉ 1 tài khoản trên trang các bạn có thể chơi các loại hình XSMB-XSMT-XSMN thoải mái và có chiết khấu tốt nhất thị trường hiện nay.
                    </li>
                    <li>
                        Đặc biệt còn có các loại hình mới như Trùng Khánh cũng được chúng tôi đưa vào phục vụ anh em trải nghiệm.
                    </li>
            </div>

            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Bóng đá</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Nếu bạn là người hâm mộ bóng đá thì ghé thăm website JBO Việt Nam là một lựa chọn hoàn toàn sáng suốt. Tại đây chúng tôi có thể hướng dẫn bạn trở thành người chơi bóng đá giỏi, dù bạn tham gia đá bóng 11 người hay 7 người bạn sẽ vẫn làm tốt được vai trò
                        của mình trong đội hình.
                    </li>
                    <li>
                        Bạn hoàn toàn có thể là một thủ môn giỏi không kém Van Der Sar hay một tiền đạo tài tình như Ronaldo. Tên của bạn chắc chắn sẽ được mọi người nhớ mãi.
                    </li>
            </div>

            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Esport</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Bạn có thể thưởng thức các trận đấu esport đầy kịch tính trên website của chúng tôi. Tất cả các trò chơi esport nổi tiếng hiện nay đều có tại JBO VIỆT NAM như liên minh huyền thoại, liên quân mobile, CS:GO…
                    </li>
                    <li>
                        Đặc biệt tại đây bạn có thể trổ tài phán đoán của mình và ring về nhiều phần quà hấp dẫn
                    </li>
            </div>

            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Lời kết</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        HIện nay trên thị trường có khá nhiều trang khác nhau tuy nhiên, để tìm được một địa chỉ tin cậy không phải là điều dễ dàng gì. Vì vậy tham gia vào một thương hiệu lâu đời như <span style="font-weight:bold;">JBO VIỆT NAM</span>cũng
                        như được công nhận kinh doanh hợp pháp là một điều hoàn toàn an tâm dành cho bạn.
                    </li>
                    <li>
                        Không chỉ mang đến một sân chơi chất lượng mà chúng tôi luôn đổi mới và cập nhật những trò chơi mới thú vị cho anh em. Ngoài ra các khuyến mãi dành cho người chơi trên trang luôn luôn có.
                    </li>
            </div>

            <!-- 文章連結按鈕 -->
            <div class="newsRef_btn">
                <p>Casino trực tuyến</p>
                <a href="https://jinbo989898.com/hpmifr" target="_blank">
                    <div class="btn_linear_c1 btn">
                        <div class="btn_cnt">Đăng Ký</div>
                    </div>
                </a>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">Xem thêm các thông tin về nhà cái uy tín tại  <span style="color:red;"><a href="https://www.vnc88/">vnc88</a> </span>
                    </li>
                </ul>
            </div>

        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsImp">
                            <li v-if="localNum != index+1">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.menuImg)">
                                    </div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                newsMenu: {
                    newsHot: '',
                    newsImp: betList.list,
                },
                localNum: 1,
            };
        },
        methods: {
            getbgi(data) {
                return `background-image: url(${data})`;
            },
            reHref(hot, index) {
                if (hot) {
                    return `#/home/news?list=${index+6}`
                } else {
                    return `#/betRef?p=${index+1}`
                }
            },
            getMenu() {
                let self = this;
                let chReady = [false];
                self.localNum = sessionStorage.getItem('new_betRef');

                function ready() {
                    if (chReady[0]) {
                        indexVue.onLoad = false;
                    }
                }

                $.ajax({
                    url: "https://www.vnc8888.com/api/homenews/list",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.newsHot = data;
                        self.$nextTick(function() {
                            chReady[0] = true;
                            ready();
                        })
                    },
                });
            }
        },
        mounted() {
            this.getMenu();
            indexVue.onLoad = true;
        },
    }).mount("#newsCnt");
</script>