<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Đội hình với 11 'bom xịt' của Arsenal trong thế kỷ XXI </p>
                <!-- 標題時間 -->
                <div class="txtDate">07:16 Thứ tư 28/07/2021</div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span> Hãy cùng điểm qua đội hình với 11 bản hợp đồng thất bại của Arsenal trong thế kỷ XXI theo quan điểm của ký giả Dave Seager (The Sun).
                    </li>
                    <li>
                        Thủ môn Vito Mannone. Thủ thành người Italia chỉ ra sân vỏn vẹn 23 lần trong 7 mùa giải gắn bó với Arsenal. Đến mùa Hè 2013, anh quyết định gia nhập Sunderland và có cơ hội bắt chính nhiều hơn.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef2-01.jpg">
                <p>Mannone rất hiếm có cơ hội thi đấu cho Arsenal.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Hậu vệ trái Andre Santos. Trái với kỳ vọng từ NHM, cựu tuyển thủ Brazil không tạo ra nhiều dấu ấn trong 2 năm gắn bó với đội bóng thành London. Anh thi đấu 33 trận và ghi được 3 bàn cho The Gunners.
                    </li>
                </ul>
            </div>

            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul>
                    <li>Mỹ nhân Arsenal đi vào lịch sử FIFA Online</li>
                    <li>Nếu chiêu mộ Buendia, Bissouma, đội hình Arsenal khủng đến cỡ nào?</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Trung vệ Igors Stepanovs. Anh được HLV Arsene Wenger mang về Arsenal vào năm 2000 song không chứng tỏ được giá trị của bản thân. Trong 4 năm cống hiến tại Highbury, Stepanovs thi đấu tổng cộng 31 lần ở mọi đấu trường.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef2-02.jpg">
                <p>Squillaci không đáp ứng được kỳ vọng của BHL Arsenal.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>Trung vệ Sebastien Squillaci. Cầu thủ người Pháp chơi khá ổn định trong năm đầu tiên đến Arsenal (2010/11). Tuy nhiên ở 2 mùa giải cuối cùng, anh dường như mất hút và chỉ ra sân 7 lần ở mọi đấu trường.</li>
                    <li>Hậu vệ phải Nelson Vivas. Anh được nhận được sự kỳ vọng lớn khi đặt chân đến Arsenal vào năm 1998. Ở mùa giải đầu tiên, Vivas đá chính 18 trận nhưng sau đó thì dần đánh mất vị trí. Mùa 1999/2000 anh được mang cho Celta Vigo mượn. Kể
                        từ đó, cầu thủ người Argentina không còn chỗ đứng trong hàng ngũ Pháo Thủ và phải rời đi vào mùa Hè 2001.</li>
                    <li>Tiền vệ trung tâm Denilson. Cầu thủ người Brazil đã có đến 153 trận thi đấu cho Arsenal trong 5 mùa giải. Tuy nhiên, chấn thương và sự xuất hiện của Jack Wilshere đã ảnh hưởng đến Denilson trong mùa giải 2009/10. Sau đó, anh quyết
                        định rời đi vào cuối mùa 2010/11 và bày tỏ sự bất mãn trong thời gian cống hiến tại London.</li>
                </ul>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef2-03.jpg">
                <p>Van Bronckhorst rời Arsenal vào năm 2004.</p>
            </div>
            <div class="newsRef_txt">
                <ul>
                    <li>Tiền vệ trung tâm Gio van Bronckhorst. Anh thi đấu cho Arsenal trong 3 mùa giải. Mọi chuyện đều khá êm xuôi trong 2 mùa giải đầu tiên khi anh ra sân đến 63 lần. Tuy nhiên ở mùa giải cuối cùng, chấn thương hoành hành khiến anh không
                        còn vị trí ở Highbury và rời đi vào mùa Hè 2004.</li>
                    <li>Tiền vệ trái Gervinho. Được xem là người kế vị Samir Nasri tại Arsenal tuy nhiên cầu thủ người Bờ Biển Ngà đã không thể hiện được nhiều. Anh rời đi sau 2 mùa giải.</li>
                    <li>Tiền vệ phải Willian. Cầu thủ người Brazil hiện vẫn đang thi đấu trong thành phần của đội chủ sân Emirates. Sau những gì đã thể hiện trong màu áo Chelsea, anh <span class="color-b">bỗng chốc trở thành một cầu thủ vô hại trong mùa giải 2020/21 </span>vừa
                        qua. Chưa kể, thời gian qua, dư luận nhắc nhiều đến thân hình “tròn trịa” của anh qua một bức ảnh được chụp trong trận giao hữu với Hibernian vào ngày 14/07.</li>
                </ul>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef2-04.jpg">
                <p>Willian không còn là chính mình khi đến đầu quân cho Arsenal.</p>
            </div>
            <div class="newsRef_txt">
                <ul>
                    <li>Hộ công Julio Baptista. Sau ánh hào quang thi đấu tỏa sáng trong màu áo Sevilla từ 2003-2005, Baptista đến Arsenal vào mùa Hè 2006 với sự kỳ vọng của NHM. Tuy nhiên anh chỉ ghi 3 bàn trong 24 trận thi đấu tại Ngoại hạng Anh mùa 2006/07.
                        Và chỉ sau 1 mùa giải cầu thủ người Brazil trở về Real Madrid.</li>
                    <li>Trung phong Francis Jeffers. Khởi đầu chậm chạp trong mùa giải đầu tiên (2001/02) đến mùa thứ 2 chân sút người Anh được ra sân đều đặn và ghi bàn nhiều hơn (thi đấu 28 trận và ghi 6 bàn). Nhưng thời gian cuối cùng ở Arsenal, anh không
                        thể tìm được chỗ đứng và được mang cho Everton mượn (mùa 2003/04) và đến đầu quân cho Charlton vào tháng 8/2004.</li>
                </ul>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef2-05.jpg">
                <p>Đội hình với 11 bản hợp đồng thất bại của Arsenal theo ký giả Dave Seager (The Sun).</p>
            </div>

            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Arteta phát biểu về CĐV Arsenal: </p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Đăng Huy | 06:46 28/07/2021</p>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="localNum != index+6">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li>
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="localNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>