<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Top 10 trung vệ được trả lương cao nhất EPL: Kỷ lục từ tân binh Man Utd </p>
                <!-- 標題時間 -->
                <div class="txtDate">08:31 Thứ tư 28/07/2021</div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>Hãy cùng điểm qua 10 trung vệ đang sở hữu mức thu nhập hàng đầu tại giải đấu khắc nghiệt nhất xứ sương mù.
                    </li>
                </ul>
            </div>


            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-01.jpg">
                <p>10. Antonio Rudiger (Chelsea). Trung vệ người Đức hưởng múc lương 100.000 bảng/tuần. Hiện tại, Chelsea đang tìm cách trói chân anh bằng một bản hợp đồng mới, do giao kèo giữa hai bên chỉ còn 1 năm nữa sẽ đáo hạn.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-02.jpg">
                <p>=10. John Stones (Man City). Ngôi sao người Anh cũng hưởng mức thu nhập tương đương Rudiger. Mùa giải năm ngoái, anh đã có màn lột xác ngoạn mục để kết hợp cùng Ruben Dias tạo nên cắp đá tảng vững chắc đưa The Citizens đến chức vô địch
                    EPL.
                </p>
            </div>

            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul>
                    <li>Eriksen xuất hiện trước ngày phán quyết tại Milan</li>
                    <li>Vừa trở lại M.U, Fernandes phô diễn kỹ thuật điêu luyện</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-03.jpg">
                <p>9. Thiago Silva (Chelsea). Trung vệ người Brazil vừa gia hạn hợp đồng 1 năm với Chelsea, chứng kiến mức thu nhập lên đến 110.000 bảng/tuần.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-04.jpg">
                <p>8. Ruben Dias (Man City). Thủ lĩnh hàng phòng ngư The Citizens đang nhận mức lương 115.385 bảng/tuần.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-05.jpg">
                <p>7. Victor Lindelof (Man Utd). Ngôi sao người Thụy Điển bỏ túi khoản tiền lên đến 120.000 bảng/tuần. Tuy nhiên suất đá chính của anh mùa tới đang bị đe dọa nghiêm trọng, sau khi Varane đạt thỏa thuận gia nhập Quỷ đỏ.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-06.jpg">
                <p>=7. Aymeric Laporte (Man City). Sở hữu mức thu nhập khủng là thế, song cơ hội ra sân của Laporte đã suy giảm đáng kể ở mùa giải trước khi bộ đôi Dias và Stones chơi cực kỳ ăn ý.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-07.jpg">
                <p>=7. Yerry Mina (Everton). Cựu tài năng Barcelona là một trong số những ngôi sao hiếm hoi được trả mức lương cao ngất ngưỡng dù không đầu quân cho CLB thuộc nhóm BIG SIX.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-08.jpg">
                <p>3. Virgil van Dijk (Liverpool). Thủ lĩnh phòng tuyến The Kop nhận mức thù lào 180.000 bảng/tuần. Anh vừa mới trở lại sau ca chấn thương nặng ở trận derby Merseyside hồi đầu mùa giải năm ngoái.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-09.jpg">
                <p>2. Harry Maguire (Man Utd). Thủ quân Quỷ đỏ nhận mức lương 190.000 bảng/tuần.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef4-10.jpg">
                <p>1. Raphael Varane (Man Utd). Ngôi sao người Pháp vừa đạt thỏa thuận gia nhập Man Utd. Tại đây, anh sẽ bỏ túi số tiền lên đến 214.000 bảng/tuần.</p>
            </div>

            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Raphael Varane và lần ra sân thứ 350 cho Real Madrid</p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Trường Sơn | 08:01 28/07/2021</p>
            </div>


        </div>
        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="localNum != index+6">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li>
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="localNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>