<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p> Haaland: "Cậu phải kiến tạo cho tôi nhiều, nếu không tôi sẽ giận" </p>
                <!-- 標題時間 -->
                <div class="txtDate">11:59 Thứ tư 28/07/2021</div>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>Chân sút chủ lực Borussia Dortmund bày tỏ về khả năng cải thiện của bản thân và đồng đội mới.
                    </li>
                </ul>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Trong cuộc phỏng vấn mới nhất với trang chủ Borussia Dortmund, Erling Haaland nhận được câu hỏi về tiềm năng tiến bộ của bản thân. Chân sút chủ lực của đại diện vùng Ruhr trả lời: "Tôi phải ghi nhiều bàn thắng hơn không chỉ với chân phải, mà cả bằng đầu
                        lẫn chân trái. Tôi có thể cải thiện mọi phương diện."
                    </li>
                    <li>"Bạn có thể chứng kiến những điều khác đi nếu tôi tận dụng thành công các cơ hội đã bỏ lỡ. Nếu tận dụng triệt để mọi cơ hội, tôi đã có thể là vua phá lưới. Tuy nhiên thực tế lại không như vậy. Tôi chưa tận dụng tốt nhiều cơ hội và
                        vẫn cần cải thiện."</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef11-01.jpg">
                <p> Haaland và đồng đội mới.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Thông tin đáng chú ý mới nhất xoay quanh đội chủ sân Signal Iduna Park là bản hợp đồng mới Donyell Malen. Haaland cười đùa về tân binh Hà Lan: "Tôi đã nói chuyện nhanh với cậu ấy. Tôi nghĩ Malen đang trông chờ được thi đấu trước sự chứng kiến của các
                        fan Dortmund và cũng mong đợi thi đấu cùng tôi."
                    </li>
                </ul>
            </div>
            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul class="newsRef_list">
                    <li>CHÍNH THỨC! Dortmund công bố tân binh, tiền về túi Arsenal</li>
                    <li>Malen cập bến Dortmund, tập luyện cùng Haaland, Arsenal chuẩn bị nhận tiền</li>
                </ul>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        "Tôi đã bảo Malen: 'Cậu phải kiến tạo cho tôi nhiều, nếu không tôi sẽ giận.' Tôi hy vọng chúng tôi sẽ sát cánh cùng nhau trên hàng công. Malen ở đây để tạo ra khác biệt. Cậu ấy phải mang đến nguồn năng lượng tích cực lẫn thi đấu tốt ngay từ phút đầu tiên
                        bởi lẽ Dortmund là 1 CLB lớn."
                    </li>
                </ul>
            </div>

            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Những khoảnh khắc ấn tượng nhất của Erling Haaland tại Borussia Dortmund: </p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Phụng Sồ | 11:29 28/07/2021</p>
            </div>
        </div>



        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>