<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Mohamed Salah tái mặt khi đối đầu với quái thú phòng ngự</p>
                <!-- 標題時間 -->
                <div class="txtDate">12:47 Thứ tư 28/07/2021</div>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span>Tiền đạo người Ai Cập đã gặp rất nhiều khó khăn trong trận đấu tập nội bộ giữa các cầu thủ Liverpool.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-01.jpg">
                <p> Liverpool đã chọn áo làm nơi hội quân để tiến hành tập luyện cho mùa giải mới.</p>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-02.jpg">
                <p>Họ đã trải qua 2 trận giao hữu với Wacker Innsbruck và Stuttgart (mỗi trận 30 phút). Đoàn quân của HLV Jurgen Klopp chỉ đem về 2 kết quả hòa, cùng với tỷ số 1-1.</p>
            </div>

            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul class="newsRef_list">
                    <li>Cập bến Chelsea, đá tảng 60 triệu mang áo số mấy?</li>
                    <li>Eric Bailly khiến Man Utd lo ngại về Varane</li>
                </ul>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        "Tôi đã bảo Malen: 'Cậu phải kiến tạo cho tôi nhiều, nếu không tôi sẽ giận.' Tôi hy vọng chúng tôi sẽ sát cánh cùng nhau trên hàng công. Malen ở đây để tạo ra khác biệt. Cậu ấy phải mang đến nguồn năng lượng tích cực lẫn thi đấu tốt ngay từ phút đầu tiên
                        bởi lẽ Dortmund là 1 CLB lớn."
                    </li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-03.jpg">
                <p>Mới đây, họ đã đánh bại đội bóng cũ của HLV Klopp là Mainz 05 với tỷ số 1-0. Đó chưa phải là những kết quả khiến người hâm mộ hài lòng. Nhưng với tính chất giao hữu, các trận đấu chỉ mang tính thử nghiệm, đồng thời để các cầu thủ lấy lại
                    cảm giác bóng.</p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-04.jpg">
                <p>HLV Jurgen Klopp vẫn theo sát buổi tập của các học trò. Sau chiến dịch 2020/21 thất vọng, The Kop đặt mục tiêu trở lại mạnh mẽ hơn ở mùa giải tới. </p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-05.jpg">
                <p>Chiến lược gia người Đức được biết đến là rất thân thiện và gần gũi với các học trò của mình. </p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-06.jpg">
                <p>Trong buổi tập mới nhất, các cầu thủ chia làm 2 đội đối kháng. 2 ngôi sao hàng công là Mohamed Salah và Sadio Mane ở 2 chiến tuyến khác nhau. </p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-07.jpg">
                <p>Salah phải đối đầu với Virgil van Dijk. Tiền đạo người Ai Cập tỏ ra thất thế trước sự xuất sắc của trung vệ người Hà Lan. </p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-08.jpg">
                <p>Van Dijk đã hoàn toàn bình phục và nhiều khả năng sẽ góp mặt trong trận giao hữu sắp tới, gặp Hertha Berlin. </p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-09.jpg">
                <p>Chung cuộc, đội của Van Dijk, Mane là những người giành chiến thắng. </p>
            </div>
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef12-10.jpg">
                <p>Diogo Jota nhiều khả năng sẽ ra sân trong trận giao hữu tới. </p>
            </div>

            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Van Dijk trong quá trình hồi phục </p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Endo | 12:17 28/07/2021</p>
            </div>
        </div>



        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>

                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>