<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Ronaldo gieo rắc hy vọng về một thương vụ bom tấn hoàn hảo cho M.U</p>
                <!-- 標題時間 -->
                <div class="txtDate">08:06 Thứ tư 28/07/2021</div>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>Siêu sao người Bồ Đào Nha đã từng đưa ra những lời nhận xét chính xác về mục tiêu của Quỷ đỏ.
                    </li>
                    <li>
                        Sau những nỗ lực trên bàn đàm phán, cuối cùng Manchester United cũng đã đạt thỏa thuận chiêu mộ trung vệ Raphael Varane từ phía Real Madrid. Giờ đây, ngôi sao người Pháp <span class="color-b">chỉ cần hoàn tất quá trình kiểm tra y tế</span>cùng
                        một số thủ tục liên quan để chính thức ra mắt đội bóng mới.
                    </li>
                    <li>
                        Như vậy, Varane sẽ trở thành bản hợp đồng thứ 3 của Quỷ đỏ ở kỳ chuyển nhượng hè sau Tom Heaton và Jadon Sancho.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef3-01.jpg">
                <p>Varane chuẩn bị ra mắt Man Utd.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Tương tự như thương vụ bom tấn Sancho, việc chiêu mộ thành công Varane chính là lời khẳng định cho tham vọng cạnh tranh chức vô địch của Man Utd ở mùa giải sắp tới. Sự góp mặt của ngôi sao người Anh được xem như lời giải cho bài toán nơi hàng công Quỷ
                        đỏ, trong khi đó Varane sẽ đảm nhận trọng trách gia tăng chất lượng cho khu vực phòng tuyến cùng với đội trưởng Harry Maguire.
                    </li>
                </ul>
            </div>

            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul>
                    <li>Man Utd đón tân binh 16 tuổi từ Liverpool</li>
                    <li>"Đúng, tôi đã từ chối đề nghị của Real"</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Bằng kinh nghiệm trận mạc cùng tâm lý của một nhà vô địch, đá tảng sinh năm 1993 đang nhận về sự kỳ vọng lớn lao từ phía ban lãnh đạo cũng như NHM Man Utd. Niềm tin này sẽ trở nên vững chắc hơn thông qua lời nhận xét của Cristiano Ronaldo về Varane.
                    </li>
                    <li>Cựu tiền đạo Quỷ đỏ từng trải qua quãng thời gian 7 năm khoác chung màu áo cùng Varane. Chính vì vậy, anh hiểu rõ những giá trị mà ngôi sao 28 tuổi có thể đem lại. Năm 2013, trong một cuộc phỏng vấn với AS, Ronaldo từng nhận định về
                        người đàn em:</li>
                    <li>"Varane hiện đang học hỏi rất nhiều. Cậu ấy đã trưởng thành trên phương diện một cầu thủ và một người đàn ông. Cậu ấy nhanh nhẹn, kiểm soát tình huống tốt và cực kỳ điềm tĩnh. </li>
                    <li>Cậu ấy đang tích lũy kinh nghiệm dù vẫn còn trẻ. Cậu ấy khiêm tốn và đối với tôi, trong vài năm nữa sẽ cậu ấy sẽ là một trong những trung vệ xuất sắc nhất thế giới. Tôi không nghi ngờ gì về điều đó."
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef3-02.jpg">
                <p>Ronaldo từng có quãng thời gian dài thi đấu cùng Varane.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>Bất kỳ cầu thủ chuyên nghiệp nào ắt hẳn cũng phải ganh tỵ với sự nghiệp cũng như những danh hiệu mà Varane đã đạt được. Tính đến nay, anh đã giành tổng cộng 17 danh hiệu tình cả cấp độ CLB lẫn đội tuyển quốc gia, trong đó có 1 World
                        Cup và 4 Champions League.</li>
                    <li>Bên cạnh đó, việc được sát cánh bên cạnh các ngôi sao đẳng cấp suốt khoảng thời gian dài thi đấu cho Real cũng giúp Varane đúc kết không ít bài học quý giá. Do đó, NHM hoàn toàn có thể đặt niềm tin vào việc trung vệ 28 tuổi sẽ tiếp
                        tục tỏa sáng trong màu áo mới, đồng thời khẳng định lời nhận xét của Ronaldo là chính xác.</li>
                </ul>
            </div>
            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Raphael Varane và lần ra sân thứ 350 cho Real Madrid</p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Trường Sơn | 07:36 28/07/2021</p>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="localNum != index+6">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li>
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="localNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>