<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Hạ màn vòng bảng Olympic: Sao Arsenal nhạt nhòa; Real nở mày nở mặt</p>
                <!-- 標題時間 -->
                <div class="txtDate">09:47 Thứ năm 29/07/2021 </div>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span>8 quốc gia có vé dự vòng đấu dành cho 8 đội cuối cùng ở Thế vận hội đã được xác định.
                    </li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Hôm qua vòng bảng môn bóng đá nam Olympic Tokyo đã khép lại với các trận cầu căng thẳng thuộc khuôn khổ lượt trận cuối 4 bảng đấu.
                    </li>
                    <li>Sau 8 cuộc đụng độ, 8 quốc gia giành quyền góp mặt ở tứ kết đã được xác định. Nhật Bản, Mexico (bảng A), Hàn Quốc, New Zealand (bảng B), Tây Ban Nha, Ai Cập (bảng C) và Brazil, Bờ Biển Ngà (bảng D) là 8 đội còn trụ lại ở loạt trận
                        sẽ diễn ra sau đây 2 ngày.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef18-01.jpg">
                <p> Brazil bất bại ở vòng bảng.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Đương kim vô địch Brazil khép lại chiến dịch vòng bảng bằng chiến thắng Saudi Arabia 3-1. Được đánh giá cao hơn hẳn nhưng Selecao đã bị đối thủ châu Á cầm hòa trong phần lớn thời gian trận đấu và chỉ chắc chắn bỏ túi 3 điểm bằng 2 bàn thắng muộn.
                    </li>
                </ul>
            </div>

            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul>
                    <li>Sao Real tiếp tục nổ súng, Nhật Bản tiễn Pháp rời Olympic</li>
                    <li>Tây Ban Nha vào tứ kết, Argentina bị loại đau đớn</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Trụ cột Everton - Richarlison thêm 1 lần sắm vai người hùng trong thắng lợi của Selecao. Cú đúp tung lưới Saudi Arabia nâng thành tích làm bàn của chân sút 24 tuổi lên con số 5, qua mặt Andre-Pierre Gignac của Pháp trong cuộc đua săn bàn. Với việc Gignac
                        ngậm ngùi cùng Pháp sớm chia tay giải đấu và không còn cơ hội điền tên lên bảng điện tử, Richarlison đang là ứng viên số 1 cho giải thưởng vua phá lưới năm nay.
                    </li>
                    <li>Trong thành phần Brazil có 1 ngôi sao Premier League khác là Gabriel Martinelli, nhưng dấu ấn của ngòi nổ Arsenal ở Nhật Bản khá nhạt nhòa. Martinelli không thật sự được ông thầy Andre Jardine trọng dụng. Tiền đạo 20 tuổi không được
                        đăng ký ở ngày ra quân và chỉ vào sân thay Matheus Cunha trong những phút cuối 2 trận gần nhất.</li>
                    <li>Tấm vé vào tứ kết còn lại ở bảng D đã thuộc vệ Bờ Biển Ngà. Xuất sắc cầm hòa đương kim á quân Đức, đại diện châu Phi có sự phục vụ của 2 cái tên Manchester United là Eric Bailly và Amad Diallo hẹn gặp Tây Ban Nha ở vòng đấu dành cho
                        8 đội cuối cùng.</li>
                    <li>Hòa Argentina 1-1 tối qua, La Furia Roja đi tiếp với tư cách đội đầu bảng C. Sau 2 trận đầu phải cày ải xuyên suốt 90 phút, tiền vệ 18 tuổi của Barcelona - Pedri lần đầu được HLV Jose Luis de La Fuente rút ra nghỉ dưỡng sức ở phút
                        74.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef18-02.jpg">
                <p> Real Madrid có thể nở mày nở mặt với gương mặt trẻ.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Chuyển sang những diễn biến của bảng A, Nhật Bản tận dụng triệt để lợi thế sân nhà và phô diễn sức mạnh ấn tượng. Các cầu thủ xứ mặt trời mọc bỏ túi 9 điểm tuyệt đối, bao gồm màn vùi dập Pháp 4 bàn không gỡ.
                    </li>
                    <li>Tài năng 20 tuổi thuộc biên chế Real - Takefusa Kubo chói sáng với 3 lần mở tỷ số ở cả 3 trận vòng bảng của đội tuyển quê hương.</li>
                </ul>
            </div>


            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Những khoảnh khắc ấn tượng của Gabriel Martinelli trên sân tập:</p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Phụng Sồ | 09:17 29/07/2021</p>
            </div>

        </div>
        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="localNum != index+6">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li>
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>

                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="localNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>