<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Xác nhận phí chuyển nhượng của Saul, Man Utd đối đầu 2 ông lớn EPL</p>
                <!-- 標題時間 -->
                <div class="txtDate">09:47 Thứ năm 29/07/2021
                </div>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span>Sau khi nâng cấp hàng công và hàng phòng ngự, HLV Ole Gunnar Solskjaer đang có ý định củng cố lại tuyến giữa của Manchester United.
                    </li>
                </ul>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Có thể nói, Manchester United đang trải qua một kỳ chuyển nhượng thực sự suôn sẻ, khi những kế hoạch quan trọng nhất mà HLV Ole Gunnar Solskjaer vạch ra đều đã được thực hiện.
                    </li>
                    <li>Quỷ đỏ không mất quá nhiều thời gian để tìm ra tiếng nói chung với Borussia Dortmund về Jadon Sancho, tương tự, họ cũng nhanh chóng đạt được thỏa thuận chiêu mộ Raphael Varane sau thời gian ngắn ngồi vào bàn đàm phán với Real Madrid.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef15-01.jpg">
                <p>Saul sẽ rời khỏi Atletico Madrid? </p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Hiện tại, Solskjaer đang muốn chuyển hướng sang nâng cấp tuyến giữa với một tiền vệ chất lượng. Có khá nhiều mục tiêu đã lọt vào tầm ngắm của Solsa, điển hình như Saul Niguez. Mới đây, Fabrizio Romano đã có những cập nhật mới xoay quanh thương vụ này.
                        Thông qua kênh youtube cá nhân, ký giả người Ý khẳng định:</li>
                </ul>
            </div>
            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul>
                    <li>Luke Shaw đã chỉ ra cách tiết kiệm 30 triệu bảng cho Man Utd</li>
                    <li>Cập nhật tương lai Pogba tại Man Utd</li>
                </ul>
            </div>
            <div class="newsRef_txt">
                <ul>
                    <li>"Saul Niguez là một cầu thủ mà Manchester United luôn đánh giá cao - cậu ấy được xem như một tiền vệ hàng đầu. Niguez sẽ có mặt trên thị trường trong trường hợp Atletico Madrid nhận được lời đề nghị khoảng 40-45 triệu euro. Tính đến
                        thời điểm hiện tại, United vẫn im lặng về thương vụ này."</li>
                    <li>"Manchester United, cũng như Liverpool và Chelsea, đã yêu cầu được biết về tình hình của Saul. Tuy nhiên, chỉ khi việc chuyển đến Barcelona của Saul chắc chắn sụp đổ, Man United và các câu lạc bộ Premier League khác mới quyết định
                        có tổ chức các cuộc đàm phán thực sự hay không."</li>
                </ul>
            </div>



            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Saul ghi bàn vào lưới tuyển Anh</p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Huỳnh Phong | 09:17 29/07/2021</p>
            </div>
        </div>



        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>

                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>