<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Chelsea đề xuất các điều khoản cá nhân cho tiền đạo 74 triệu bảng</p>
                <!-- 標題時間 -->
                <div class="txtDate">13:25 Thứ tư 28/07/2021</div>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>Phóng viên Dean Jones cho biết Chelsea đã trình bày các điều khoản cá nhân với tiền đạo Romelu Lukaku.
                    </li>
                </ul>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Romelu Lukaku đã được đồn là có khả năng trở lại <span class="color-b">Chelsea</span> suốt thời gian qua. Có những thời điểm, tiền đạo trung tâm của Inter Milan được coi là ưu tiên chuyển nhượng của câu lạc bộ thành London. Giờ
                        đây Erling Haaland trở thành mục tiêu số 1 của The Blues, nhưng cầu thủ người Bỉ vẫn ở trong tầm quan sát của đội bóng áo xanh.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef6-01.jpg">
                <p>Lukaku vừa có mùa giải bùng nổ với Inter.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Gần đây, khi Chelsea <span class="color-b">gặp khó khăn</span> trong thương thảo với Dortmund, tên của Lukaku một lần nữa được nhắc đến. Theo <span class="color-b">Dean Jones</span>, Lukaku vẫn nằm trong tầm ngắm của Chelsea, họ
                        thậm chí còn đề xuất số tiền lương sẽ trả cho anh.
                    </li>
                </ul>
            </div>

            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul class="newsRef_list">
                    <li>Có Ben White, Arsenal lập tức chuyển hướng sang máy quét Bundesliga</li>
                    <li>Cập bến Chelsea, đá tảng 60 triệu mang áo số mấy?</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Jones nói: "Chelsea đã đưa ra lời đề nghị về điều khoản cá nhân. Anh ấy biết những gì họ sẵn sàng trả cho anh ấy, nhưng thương vụ vẫn chưa thực sự chuyển biến ở giai đoạn này, vì vậy chúng ta chỉ cần chờ đợi."
                    </li>
                    <li>
                        Đã gần một thập kỷ kể từ lần cuối Lukaku chơi cho Chelsea. Anh đã trải qua thời gian ở West Bromwich Albion, Everton và Manchester United trước khi đến Inter với giá 74 triệu bảng vào 2 mùa giải trước.
                    </li>
                    <li>
                        Anh đã đưa đội bóng thành Milan đến với chức vô địch Serie A đầu tiên kể từ năm 2010, với 24 bàn thắng sau 36 trận. Những con số này chính xác là những gì Chelsea đang muốn có nếu họ mang tham vọng thách thức chức vô địch Premier League.
                    </li>


                </ul>
            </div>

            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>De Bruyne nhận xét về Lukaku:</p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Thanh Vũ | 12:55 28/07/2021</p>
            </div>
        </div>


        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>