<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Arsenal vẫn theo đuổi mục tiêu số 1</p>
                <!-- 標題時間 -->
                <div class="txtDate">12:12 Thứ tư 28/07/2021</div>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span>Nhà báo David Ornstein khẳng định Pháo thủ vẫn quyết tâm chiêu mộ thủ thành 23 tuổi bất chấp những trở ngại, khó khăn gần đây.
                    </li>
                </ul>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Theo nhà báo David Ornstein, thủ thành Aaron Ramsdale vẫn nằm trong tầm ngắm của Arsenal bất chấp CLB Sheffield United đã từ chối lời đề nghị từ Pháo thủ. Ngôi sao 23 tuổi bắt chính tất cả 38 trận đấu Premier League mùa giải năm ngoái trong màu áo đội
                        chủ sân Bramall Lane.
                    </li>
                    <li>Tuyển thủ U21 Anh là phương án khả dĩ thay thế Bernd Leno hè này. Leno khiến nhiều CĐV Arsenal thất vọng khi ngôi sao người Đức nhiều lần mắc sai lầm đáng trách dẫn đến bàn thua đội nhà mùa giải qua.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef9-01.jpg">
                <p>Thủ thành Ramsdale.
                </p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Việc Sheffield United phải xuống chơi ở Championship khiến cơ hội giữ chân Ramsdale của họ đứng trước thử thách lớn. Mức phí chuyển nhượng của Ramsdale vào khoảng 20 triệu bảng Anh.
                    </li>
                </ul>
            </div>
            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul>
                    <li>"Tammy Abraham thực sự thuộc về Arsenal"</li>
                    <li>Vì bom tấn 50 triệu, Arsenal hy sinh 7 ngôi sao</li>
                </ul>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        "Theo những thông tin tôi nắm được, cuộc đàm phán giữa hai bên đang im hơi lặng tiếng. Có nhiều nguyên nhân dẫn đến việc này. Arsenal đang có nhiều mục tiêu cần thảo luận, theo đuổi thời điểm hiện tại; gia hạn hợp đồng với Emile Smith Rowe là ví dụ tiêu
                        biểu," David Ornstein chia sẻ với Sky Sports.
                    </li>
                    <li>"Tôi không biết liệu 32 triệu bảng có thể thuyết phục Sheffield United đồng ý bán Ramsdale hay không. Tôi nghĩ Sheffield muốn 30 triệu bảng từ việc đẩy đi Ramsdale. Cậu ấy là mục tiêu theo đuổi số 1 của họ. Nhiều người đánh giá cao
                        về năng lực chuyên môn lẫn yếu tố đạo đức của Ramsdale. Đây là sự bổ sung sáng giá cho Arsenal," David Ornstein nhấn mạnh. </li>
                </ul>
            </div>


            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Áo đấu sân nhà Arsenal mùa 2021/2022:</p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Anh Nguyễn | 11:42 28/07/2021</p>
            </div>
        </div>



        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>

                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>