<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Varane đến Ngoại hạng Anh, chuyên gia lo ngại cho Chelsea</p>
                <!-- 標題時間 -->
                <div class="txtDate">11:49 Thứ tư 28/07/2021</div>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>HLV Thomas Tuchel hiển nhiên hiểu rằng đội hình của ông còn nhiều khiếm khuyết cần phải khắc phục và bổ sung.
                    </li>
                </ul>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Sau chức vô địch Champions League, Chelsea đang có <span class="color-b">nhiều liên kết với những ngôi sao hàng đầu</span> Châu Âu hiện nay. Đây đều là loạt cái tên tiềm năng, góp phần xây dựng và thúc đẩy quá trình thăng tiến
                        của The Blues hơn nữa ở mùa giải mới.
                    </li>
                    <li>“Mặc dù vậy, cho đến hiện tại <span class="color-b">Chelsea</span> vẫn chưa chính thức công bố bất kỳ bản hợp đồng tên tuổi nào ở phiên chợ hè 2021. Bên cạnh việc theo đuổi Erling Haaland cho hàng công, The Blues cũng cần đặc biệt
                        chú trọng bài toán hàng phòng ngự. Theo cựu danh thủ Steve Nicol, The Blues sẽ phải bổ sung các lựa chọn của họ ở trung tâm hàng thủ trước khi mùa giải mới bắt đầu.
                    </li>
                    <li>Khi được hỏi liệu Chelsea có cần ký hợp đồng với một trung vệ mới vào mùa hè 2021 hay không, trong bối cảnh <span class="color-b">Manchester United</span> cũng vừa có một bom tấn hàng thủ là Raphael Varane, Nicol chia sẻ với ESPN FC:</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/newsRef13-01.jpg">
                <p> Tuchel phải chiêu mộ thêm trung vệ.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        “Kurt Zouma sẽ ra đi. Họ phải bắt đầu ký hợp đồng với các trung vệ."
                    </li>
                    <li>"Tôi có thể nói rằng Manchester United đang đi trước Chelsea một bước (với bản hợp đồng Varane)."</li>
                    <li>Chelsea sẽ bắt đầu mùa giải mới ở Premier League 2021/22 bằng cuộc tiếp đón Crystal Palace trên sân nhà Stamford Bridge vào ngày 14 tháng 8.</li>
                </ul>
            </div>

            <!-- === 文章影片 === -->
            <div class="newsRef_mv">
                <p>Tuchel phát biểu về Man City: </p>
                <div>
                    <iframe width="100%" src="https://www.youtube.com/embed/sYS3jk1yGkg" frameborder="0"></iframe>
                </div>
                <p>Minh Trí | 11:19 28/07/2021</p>
            </div>
        </div>


        
        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="localNum != index+6">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li>
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="localNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>