<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Kèo nhà cái: Nhận định trận đấu Anh vs Scotland</p>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef2_01.jpg">
                <p></p>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Cuộc đối đầu giữa Anh vs Scotland tại Vòng bảng EURO 2020 vào lúc 02h00 ngày 19/6 được Kèo Bóng Cỏ cập nhật liên tục tỷ lệ Kèo nhà cái, tip, soi kèo bóng đá, nhận định trước và sau trận đấu.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef2_02.jpg">
                <p>Kèo nhà cái: Nhận định trận đấu Anh vs Scotland</p>
            </div>

            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Kèo nhà cái nhận định trước trận đấu</p>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Kèo Nhà cái </span>thường ví von rằng ĐT Anh ở thế “đàn anh” so với ĐT Scotland khi nhìn lại thành tích đối đầu trong hơn 3 thập kỷ trở lại đây giữa hai đội. Và đêm nay, nhiều khả năng Tam sư sẽ
                        tiếp tục khẳng định vị thế cửa trên của mình so với Scotland.
                    </li>
                    <li>Tính từ năm 1988 đến nay, Anh và Scotland đã có tổng cộng 9 lần đối đầu trên mọi đấu trường. Kết quả, Anh được ăn mừng tới 7 lần. Hai bên hòa 1 trận và Scotland chỉ được nếm trải cảm giác thắng trận đúng 1 lần. Có thể nói trong vòng
                        hơn 3 thập kỷ trở lại đây, hiếm có đối thủ nào bị Tam sư bắt nạt nhiều như Scotland.
                    </li>
                    <li>Trong quãng thời gian kể trên, có thể nói Scotland cứ hễ gặp Anh là như cua gặp ếch. Bằng chứng là có đến 5 trận trong số đó Scotland không thể ghi bàn vào lưới Anh. Có nghĩa 5/7 trận thua này, Scotland không thể kiếm được bàn danh
                        dự nào cho mình.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef2_03.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>1996 chính là kỳ EURO gần nhất mà Scotland giành được vé tham dự VCK. Thật trùng hợp, giải đó Scotland cũng nằm chung bảng với Anh. Và trận đấu giữa Anh và Scotland cũng diễn ra trên sân Wembley. Trận ấy Anh đánh bại Scotland với tỷ
                        số 2-0. Bàn thắng ấn định chiến thắng cho Tam sư do huyền thoại Paul Gascoigne đến nay vẫn được xếp là một trong những bàn thắng đẹp nhất, đáng nhớ nhất trong lịch sử tham dự EURO của Tam sư.</li>
                    <li>1/4 thế kỷ đã trôi qua kể từ trận Anh thắng Scotland 2-0 tại EURO 1996. Trong thành phần Tam sư bây giờ có một ngôi sao trẻ vừa nhuộm tóc giống với kiểu tóc của Gascoigne tại EURO 1996. Đó là Phil Foden. Rất có thể đêm nay khi Foden
                        bước ra sân cùng Anh, rất nhiều fan sẽ nhớ về hình ảnh của Gascoigne cách đây 25 năm. Và rất có thể Foden sẽ xát muối vào các fan Scotland giống như Gascoigne đã làm cách đây 25 năm.
                    </li>
                    <li>Lứa sao đương đại của Anh có thừa cơ sở để có thể tiếp tục giúp Tam sư duy trì vị thế “đàn anh” trước Scotland. Anh đang trải qua mạch 7 trận toàn thắng trên mọi đấu trường. Trong 7 trận toàn thắng này, Anh giữ sạch lưới tới 6 trận.
                        Ở trận còn lại, Anh cũng chỉ để lọt lưới có 1 bàn mà thôi.</li>
                    <li>Kể cả khi thiếu vắng trung vệ Harry Maguire, Anh vẫn duy trì được hàng thủ chắc chắn của mình. Trận này, hàng thủ của Anh cũng như các tiền vệ trung tâm Declan Rice và Kalvin Phillips chẳng lạ gì những ngôi sao có khả năng tạo đột
                        biến nhất bên phía Scotland. Bởi những ngôi sao sáng giá nhất của Scotland như Andy Robertson (Liverpool), Che Adams (Southampton), Lyndon Dykes (QPR), John McGinn (Aston Villa), Stuart Armstrong (Southampton) đều thi đấu tại Anh
                        nhiều năm qua. Nên khả năng Scotland có thể tạo được bất ngờ trước Anh càng khó.</li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef2_04.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>Trong 9 trận gần đây, Scotland chỉ được ăn mừng chiến thắng có 2 trận. Những bại tướng hiếm hoi của Scotland đều là những đội nhược tiểu ở châu Âu gồm Luxembourg và Faroe Islands. Còn lại, Scotland đã thua cả Israel, Slovakia và Czech.
                        Đó đều là những đội không được đánh giá cao bằng Anh.</li>
                    <li>Nếu tính thêm cả đấu trường World Cup thì giải đấu lớn gần nhất mà Scotland được góp mặt vào VCK là World Cup 1998, tức là đã cách đây 23 năm. Có lẽ khoảng thời gian phải xa rời các đấu trường lớn quá lâu đã ảnh hưởng không nhỏ tới
                        tâm lý và bản lĩnh của các cầu thủ Scotland. Không phải vô cớ mà Scotland phải chấp nhận thất bại trước Czech trong ngày ra quân EURO 2020 tâm phục khẩu phục đến vậy. Không phải vô cớ mà Scotland để cho tiền đạo Patrik Schick của
                        Czech ghi bàn từ cự ly giữa sân.</li>
                    <li>So với Czech ở EURO này, Anh sở hữu nhiều sao hơn hẳn, có phong độ cao hơn hẳn. Anh lại còn có lợi thế chơi ở thánh địa Wembley của mình. Nên đêm nay, nhiều khả năng Anh sẽ lại khiến Scotland phải nhận thất bại nặng nề.</li>
                    <li>
                        <p><span>Dưới đây là kèo nhà cái tỷ lệ Châu Á: Nguồn kèo có tại</span><span style="color:red;"><a href="https://www.ae6888.com/">AE888</a></span> </p>
                    </li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef2_05.jpg">
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">Đội hình xuất phát của hai đội dựa trên nhận định của Kèo Nhà Cái.</span></li>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef2_06.jpg">
            </div>
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">Dự đoán tỷ số của Kèo Nhà Cái: Anh 2- 1 Scotland</span></li>
                </ul>
            </div>

            <!-- 文章連結按鈕 -->
            <div class="newsRef_btn">
                <div class="btn_linear_c1 btn">
                    <div class="btn_cnt">Read More</div>
                </div>
            </div>
        </div>

        <div class="newsCnt_menu" :class="{'on' : menuList.switch}">
            <div class="close" @click="menuList.switch = false"></div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 0}">
                <div class="chList major" @click="menuList.listNum = 0,goTop()">Tin quan trọng</div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll" ref="cntScroll_1">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsMain">
                            <li>
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 1}">   
                <div class="chList hot" @click="menuList.listNum = 1,goTop()">Tin hot</div> 
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll" ref="cntScroll_2">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template> 
                    </ul>
                </div>  
            </div>
        </div>

        <div class="listBar" @click="menuList.switch = true">
            <img src="images/icon/listBar.svg">
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/newsRef.js"></script>