<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Nhà cái uy tín AE888- AE GAMING MƯA LÌ XÌ – GIỮA MÙA HÈ</p>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef4_01.jpg">
                <p></p>
            </div>

            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Nhà cái uy tín AE888 khuyến mãi siêu hấp dẫn tại AE GAMING</p>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Nhà cái uy tín Fun88 </span>được thành lập vào ngày 01/06/2008, đã có thâm niên nhiều năm hoạt động tại Việt Nam. Là nhà cái uy tín nhất châu Á và đang mở rộng thị trường tại Châu Âu. Hiện nay, Fun88 có nhiều khách hàng thân thiết
                        và cung cấp nhiều trò chơi hấp dẫn nhất.
                    </li>
                    <li><span style="font-weight:bold;">☆Nhà cái AE888</span> là<span style="font-weight:bold;"> nhà cái uy tín hàng đầu thế giời </span>hiện nay. Là nhà cái có giấy phép hoạt động hợp pháp tại Campuchia, Nhà cái AE888 có kho trò chơi vô cùng
                        phong phú từ Live Casino đến Slot, từ cá cược thể thao đến đá gà đều quy tụ đầy đủ những nhà cung cấp game hàng đầu thế giới, với tỷ lệ ăn cao nhất thị trường hiện nay.Nhà cung cấp AE GAMING là một trong các nhà cung cấp game của
                        AE888, hiện này đang triển khai trương tình khuyến mãi <span style="font-weight:bold;">AE GAMING MƯA LÌ XÌ – GIỮA MÙA HÈ</span></li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef4_02.jpg">
            </div>

            <!-- === 文章清單2 (列表序號) === -->
            <div class="newsRef_list2">
                <div class="title">Cách thức tham gia:</div>
                <P>Thời gian lên khuyến mãi là 22h59 13/05, mọi người vào trang tham khảo dưới đây:</P>
                <P>☆ Thời gian diễn ra sự kiện: Từ 12:00 AM 17/05/2021 Đến 23/05/2021 11:59 PM (GMT+7)</P>
                <P>☆ Điều khoản & Điều kiện:</P>
                <ul>
                    <li>Thành viên phải đặt vào trò chơi được quy định.</li>
                    <li>Điểm và Tiền thưởng còn lại sẽ cập nhật sau mỗi 5 phút</li>
                    <li>Tiền thưởng giới hạn mỗi ngày và làm mới vào lúc 00:00 (GMT+7)</li>
                    <li>Giải thưởng sẽ tự động phân phối vào ví của thành viên trong vòng 1 giờ sau khi thanh toán.</li>
                    <li>Sau thời gian nhận giải, nếu người chơi không nhận tiền thưởng, sẽ được coi là từ bỏ tư cách tham gia khuyến mãi.</li>
                    <li>Trong trường hợp đặc biệt khiến vòng chơi không thành công, cược sẽ không quy đổi thành đổi sự kiện.</li>
                    <li>Nhà cung cấp AE Gaming có quyền sửa đổi và quyết định cuối cùng.</li>
                </ul>
                <p>– Cách nhận lì xì: khách cược trong game sẽ hiển thị ra bao lì xì sau đó chọn vào ra tiền thưởng ( tiền lì xì nằm ở trong game, không có vòng cược )</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">☆Khách hàng tham gia đăng ký chơi và nhận chương trình khuyến mãi :</span></li>
                </ul>
            </div>

            <!-- 文章連結按鈕 -->
            <div class="newsRef_btn">
                <a href="https://www.ae6888.com/">
                    <div class="btn_linear_c1 btn">
                        <div class="btn_cnt">Dăng ký ngay</div>
                    </div>
                </a>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <p><span style="font-weight:bold;">>>>>>Xem trực tiếp bóng đá và soi kèo nhà cái tại :</span><span style="color:red;"><a href="https://www.vnc88/">vnc88<<<<<</a></span> </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="newsCnt_menu" :class="{'on' : menuList.switch}">
            <div class="close" @click="menuList.switch = false"></div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 0}">
                <div class="chList major" @click="menuList.listNum = 0,goTop()">Tin quan trọng</div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll" ref="cntScroll_1">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsMain">
                            <li>
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 1}">   
                <div class="chList hot" @click="menuList.listNum = 1,goTop()">Tin hot</div> 
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll" ref="cntScroll_2">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template> 
                    </ul>
                </div>  
            </div>
        </div>

        <div class="listBar" @click="menuList.switch = true">
            <img src="images/icon/listBar.svg">
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/newsRef.js"></script>