<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>123BET-ĐĂNG KÝ NHẬN NGAY 100K</p>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef7_01.jpg">
                <p></p>
            </div>
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Đăng ký và tải APP nhận ngay 100k.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">☆Nội dung khuyến mãi :</span></li>
                </ul>
            </div>

            <!-- === 文章清單2 (列表序號) === -->
            <div class="newsRef_list2">
                <ul>
                    <li>Hội viên đăng ký tài khoản mới nhận ngay 100k</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">☆Điều khoản khuyến mãi : </span>Đăng ký tài khoản hội viên, điền đầy đủ thông tin cá nhân ( họ tên, số điện thoại, liên kết tài khoản ngân hàng …) đồng thời hoàn thành tải APP. Sau khi hoàn thành các
                        cước trên liên hệ bộ phận CSKH để nhận khuyến mãi.</li>
                </ul>
            </div>

            <!-- === 文章表格 === -->
            <div class="newsRef_tb">
                <table>
                    <tr>
                        <th>Sản Phẩm</th>
                        <th>vòng cược</th>
                        <th>trò chơi</th>
                    </tr>
                    <tr>
                        <td>100.000</td>
                        <td>x10</td>
                        <td>tất cả trò chơi</td>
                    </tr>
                </table>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">☆Thể lệ tham dự :</span></li>
                </ul>
            </div>


            <!-- === 文章清單2 (列表序號) === -->
            <div class="newsRef_list2">
                <ul>
                    <li>Khuyến mãi chỉ dành cho thành viên mới đăng ký tài khoản tại 123BET</li>
                    <li>Điều kiện rút tiền : Hội viên cần nạp số tiền bằng với số dư trong tài khoản và trải qua x1 vòng cược để được rút tiền . Ví dụ : thành viên được tặng 100k sau x10 vòng cược , số dự tài khoản là 1000k, khi rút tiền thành viên phải nạp
                        1000k và trải qua 1 vòng cược để được rút tiền. Tổng cược cần đạt được là : (1000k + 1000k) x1 = 2000k .</li>
                    <li>Trong 7 ngày nếu Hội viên không đạt đủ số vòng cược yêu cầu số dư trong tài khoản sẽ reset về 0</li>
                </ul>
            </div>


            <!-- 文章連結按鈕 -->
            <div class="newsRef_btn">
                <p>☆Đăng ký tham gia nhận khuyến mãi tại đây:</p>
                <a href="https://8123b.com/">
                    <div class="btn_linear_c1 btn">
                        <div class="btn_cnt">Dăng ký ngay</div>
                    </div>
                </a>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <p><span style="font-weight:bold;">>>>>>Tham khảo thêm các Nhà cái uy tín</span><span style="color:red;"><a href="https://www.vnc88.com/">tại đây<<<<<</a></span> </p>
                        <!-- 在此處查看更多信譽良好的博彩公司 連回首頁的排名列表 -->
                    </li>
                </ul>
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.lotter_r">
                            <li>
                                <a :href="reHref_l(index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li>
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="localNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>