<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>123BET-NẠP LẦN ĐẦU TẶNG 50%</p>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef7_01.jpg">
                <p></p>
            </div>
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Tặng 50% giá trị nạp tiền cho lần nạp tiền đầu tiên.</p>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>☆Áp dụng cho: Thể Thao, Keno, Live casino</li>
                    <li>☆Thời gian khuyến mãi: Bắt đầu từ 01/08/2020. Thời gian kết thúc sẽ được 123BET thông báo trên trang chủ</li>
                    <li>☆Đối tượng khuyến mãi: Tất cả thành viên chơi Thể Thao, Keno, Live casino tại 123BET</li>
                    <li>☆ Nội dung khuyến mãi:</li>
                </ul>
            </div>

            <!-- === 文章表格 === -->
            <div class="newsRef_tb">
                <table>
                    <tr>
                        <th>Trò chơi</th>
                        <th>Khuyến mãi</th>
                        <th>Thưởng tối đa</th>
                        <th>Vòng cược</th>
                    </tr>
                    <tr>
                        <td>Live Casino</td>
                        <td>50%</td>
                        <td>5.999.000</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Keno ( xổ số )</td>
                        <td>50%</td>
                        <td>3.888.000</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Thể thao</td>
                        <td>50%</td>
                        <td>3.888.000</td>
                        <td>20</td>
                    </tr>
                </table>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Khuyến mãi này chỉ dành cho các thành viên đăng ký tham gia các trò chơi tương ứng, nếu đặt cược vào các trò chơi khác sẽ vi phạm hoạt động và tài khoản sẽ bị reset về 0
                    </li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">☆Thể lệ chương trình :</span></li>
                </ul>
            </div>

            <!-- === 文章清單2 (列表序號) === -->
            <div class="newsRef_list2">
                <ul>
                    <li>Khuyến mãi này chỉ áp dụng cho các hội viên đăng ký tài khoản và tham gia nạp tiền lần đầu tại 123BET.</li>
                    <li>Số tiền nạp thấp nhất 200.000vnđ</li>
                    <li>Số tiền thưởng tối đa lên đến 5.999.000vnđ</li>
                    <li>Sau khi nạp tiền thành công hội viên nhấn vào ô “tham gia ngay” chờ hệ thống cập nhật tiền thưởng trước khi tiến hành đặt cược. Nếu hội viên đặt cược trước khi hệ thống cập nhật tiền thưởng khuyến mãi coi như bị hủy bỏ.</li>
                    <li>Khuyến mãi này không tham gia cũng khuyến mãi khác bao gồm hoàn trả. Tiền nạp và tiền thưởng khuyến mãi cần trải qua 20 vòng cược trước khi thực hiện rút tiền. Ví dụ bạn gửi 1.000.000vnđ, khuyến mãi tặng 50% => số tiền bạn nhận được
                        là 500.000vnđ. Tổng lượng cược cần hoàn thành là: (1.000.000+500.000) x20 = 30.000.000vnđ</li>
                    <li>Trong vòng 30 ngày nếu hội viên không hoàn thành đủ lượng cược theo yêu cầu số tiền thưởng sẽ bị reset về 0</li>
                </ul>
            </div>


            <!-- 文章連結按鈕 -->
            <div class="newsRef_btn">
                <p>☆Đăng ký tham gia nhận khuyến mãi tại đây:</p>
                <a href="https://8123b.com/">
                    <div class="btn_linear_c1 btn">
                        <div class="btn_cnt">Dăng ký ngay</div>
                    </div>
                </a>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <p><span style="font-weight:bold;">>>>>>Tham khảo thêm các Nhà cái uy tín</span><span style="color:red;"><a href="https://www.vnc88/">tại đây<<<<<</a></span> </p>
                        <!-- 在此處查看更多信譽良好的博彩公司 連回首頁的排名列表 -->
                    </li>
                </ul>
            </div>

        </div>

        <div class="newsCnt_menu" :class="{'on' : menuList.switch}">
            <div class="close" @click="menuList.switch = false"></div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 0}">
                <div class="chList major" @click="menuList.listNum = 0,goTop()">Tin quan trọng</div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll" ref="cntScroll_1">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsMain">
                            <li>
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 1}">   
                <div class="chList hot" @click="menuList.listNum = 1,goTop()">Tin hot</div> 
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll" ref="cntScroll_2">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template> 
                    </ul>
                </div>  
            </div>
        </div>

        <div class="listBar" @click="menuList.switch = true">
            <img src="images/icon/listBar.svg">
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/newsRef.js"></script>