<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <div class="fullList">
                <div class="mainMsg-title">Tin tức</div>
                <ul>
                    <template v-for="(item,index) in newsMenu.newsMain">
                        <li>
                            <a :href="reHref(false,index)" style="display: flex;">
                                <div class="fullList2_img" :style="getbgi(item.img)"></div>
                                <div class="fullList_msg">
                                    <div>
                                        <div class="title">{{item.title}}</div>
                                        <p>{{item.msg}}</p>
                                    </div>
                                    <div class="fullList_tool">
                                        <div class="more">Thông tin xổ số</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <div class="newsCnt_menu" :class="{'on' : menuList.switch}">
            <div class="close" @click="menuList.switch = false"></div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 0}">
                <div class="chList major" @click="menuList.listNum = 0,goTop()">Tin quan trọng</div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll" ref="cntScroll_1">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsMain">
                            <li>
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 1}">   
                <div class="chList hot" @click="menuList.listNum = 1,goTop()">Tin hot</div> 
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll" ref="cntScroll_2">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template> 
                    </ul>
                </div>  
            </div>
        </div>

        <div class="listBar" @click="menuList.switch = true">
            <img src="images/icon/listBar.svg">
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/newsRef.js"></script>