<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Nhà cái uy tín Fun88- Vé cược thể thao miễnphí</p>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef3_01.jpg">
                <p></p>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Nhà cái uy tín Fun88 </span>được thành lập vào ngày 01/06/2008, đã có thâm niên nhiều năm hoạt động tại Việt Nam. Là nhà cái uy tín nhất châu Á và đang mở rộng thị trường tại Châu Âu. Hiện nay, Fun88
                        có nhiều khách hàng thân thiết và cung cấp nhiều trò chơi hấp dẫn nhất.
                    </li>
                    <li>Nhà cái Fun88 là một <span style="font-weight:bold;">nhà cái uy tín </span>tại Việt Nam và trên thế giới, luôn luôn hỗ trợ 24/7 và nhân viên tại đây rất nhiệt tình giải quyết mọi thắc mắc của người chơi. Nhà cái Fun88 thường có những
                        chương trình khuyến mãi hết sức hấp dẫn.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lotteryRef3_02.jpg">
            </div>

            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>VÉ CƯỢC EURO MIỄN PHÍ TẠI THỂ THAO NHÀ CÁI UY TÍN FUN88</p>
            </div>


            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>Với thế mạnh của mình về cá cược thể thao và chào mừng sự kiện Euro sắp diễn ra nhà cái uy tín Fun88 đã tung chương trình khuyến mãi dấp dẫn cho các thành viên của mình ”VÉ CƯỢC EURO MIỄN PHÍ TẠI THỂ THAO FUN88” cược thả ga cùng Fun88</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <p><span style="font-weight:bold;">Thời gian Khuyến mãi:</span>01/05/2021 (00:00 GMT+8) – 10/06/2021 (23:59 GMT+8)</p>
                <p><span style="font-weight:bold;">Áp dụng:</span>Tất cả thành viên Fun88 Việt Nam</p>
                <p><span style="font-weight:bold;">Sản phẩm:</span>Thể Thao FUN88</p>
                <p><span style="font-weight:bold;">Chi tiết giải thưởng:</span>Thành viên cần đạt doanh thu yêu cầu của tất cả sản phẩm để nhận thưởng vé cược miễn phí tại thể thao Fun88, dành riêng cho cược giải đấu Euro 2021. Chi tiết như sau:</p>
            </div>

            <!-- === 文章表格 === -->
            <div class="newsRef_tb">
                <table>
                    <tr>
                        <th>Thời Gian</th>
                        <th>Doanh Thu Yêu Cầu</th>
                        <th>Tiền Thưởng</th>
                        <th>Điều Kiện Rút Tiền</th>
                        <th>Cập Nhật Thưởng</th>
                    </tr>
                    <tr>
                        <td>01/05/2021 (00:00 GMT+8) – 10/06/2021 (23:59 GMT+8)</td>
                        <td>20,000,000</td>
                        <td>Vé cược miễn phí 100,000 VNĐ tại Thể Thao Fun88</td>
                        <td>x1</td>
                        <td>Ngày 11/06/2021</td>
                    </tr>
                </table>
            </div>

            <!-- === 文章清單2 (列表序號) === -->
            <div class="newsRef_list2">
                <div class="title">Cách thức tham gia:</div>
                <ul>
                    <li>Vé cược miễn phí từ khuyến mãi này chỉ có thể cược tại giải EURO của Thể Thao Fun88.</li>
                    <li>Tất cả cược Hòa sẽ không được tính vào doanh thu yêu cầu. Bất kỳ vé cược đặt tại tỷ lệ cược: DEC
                        < 1.7, MY 0 – 0.69, HK < 0.7, INDO ≤ -1.43, US ≤ -143 sẽ không được tính vào doanh thu yêu cầu. Đối với các vé cược có kết quả Thắng Nửa, Thua Nửa, một nửa giá trị vé cược sẽ được tính cho doanh thu hợp lệ áp dụng cho khuyến mãi này.</li>
                            <li>Nếu thành viên bị phát hiện gian lận, có hành vi xấu hoặc trục lợi khuyến mãi, Fun88 có toàn quyền huỷ tất cả tiền thưởng hoặc chặn/ hủy bỏ toàn bộ đơn tham gia khuyến mãi.</li>
                            <li>Vé cược miễn phí sẽ hết hạn sau 7 ngày từ khi cập nhật thưởng nếu thành viên không sử dụng.
                            </li>
                            <li>Để hợp lệ nhận thưởng, thành viên cần có ít nhất một lần cược tại thể thao Fun88 trước thời gian cập nhật thưởng. Điều Khoản và Điều Kiện Chung của nhà cái uy tín Fun88 sẽ được áp dụng cho chương trình khuyến mãi này.</li>
                </ul>
            </div>
            <!-- 文章連結按鈕 -->
            <div class="newsRef_btn">
                <a href="https://www.fun212212.com/">

                    <div class="btn_linear_c1 btn">
                        <div class="btn_cnt">Dăng ký ngay</div>
                    </div>
                </a>
            </div>

        </div>

        <div class="newsCnt_menu" :class="{'on' : menuList.switch}">
            <div class="close" @click="menuList.switch = false"></div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 0}">
                <div class="chList major" @click="menuList.listNum = 0,goTop()">Tin quan trọng</div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll" ref="cntScroll_1">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsMain">
                            <li v-if="lotteryRefNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div class="newsCnt_list" :class="{'on':menuList.listNum == 1}">   
                <div class="chList hot" @click="menuList.listNum = 1,goTop()">Tin hot</div> 
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll" ref="cntScroll_2">
                    <ul>
                        <template v-for="(item,index) in newsMenu.newsHot">
                            <li>
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template> 
                    </ul>
                </div>  
            </div>
        </div>

        <div class="listBar" @click="menuList.switch = true">
            <img src="images/icon/listBar.svg">
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/newsRef.js"></script>