<div class="contBox-min"  id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Kèo nhà cái nhận định bóng đá Anh vs Đan Mạch</p>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span> Nhận đinh của kèo nhà cái trước trận đấu Anh vs Đan Mạch tại Vòng bán kết EURO 2020 vào lúc 02h00 ngày 8/7 được VNC88.com cập nhật liên tục tỷ lệ kèo nhà cái , tip, soi kèo kèo nhà cái, nhận
                        định.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery3-01.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Kèo Nhà Cái nhận định Anh vs Đan Mạch: Thời khắc lịch sử
                    </span>
                    </li>
                    <li>
                        Từ đầu giải, Đan Mạch chưa gặp đối thủ nào thực sự trên cơ. Cuộc chạm trán với Anh sẽ là thử thách cực đại cho Những chú lính chì. Tại Wembley, đội chủ nhà sẽ không để tuột chiếc vé đi tiếp trước đối thủ yếu hơn.
                    </li>
                    <li>Đan Mạch đang được ca ngợi rất nhiều với chiến tích lọt vào bán kết EURO 2020. Thậm chí, những người mơ mộng đang nghĩ về kịch bản Chú lính chì có thể ghi tên mình vào trận chung kết, tạo ra kỳ tích như thế hệ đàn anh làm được ở EURO
                        1992. Họ cũng chỉ ra những yếu tố, những lý do để Đan Mạch có thể đánh bại Anh.</li>
                    <li>Đó là việc Đan Mạch có khả năng không chiến mạnh mẽ. Bàn mở tỷ số của họ vào lưới Czech ở tứ kết tới từ một tình huống đánh đầu. Tiếp theo là đội quân của HLV Kasper Hjulmand đang sở hữu 2 hậu vệ biên rất hay. Trong đó, Joakim Maehle
                        vừa có pha kiến tạo đẳng cấp bằng cú vỉa má ngoài giúp Kasper Dolberg lập công. Thậm chí, cả tinh thần Christian Eriksen cũng được liệt kê ra, rằng Đan Mạch sẽ mạnh hơn sau bi kịch Eriksen bởi cả đội sẽ chiến đấu với 200% sức lực
                        để tri ân người đồng đội đen đủi.</li>
                    <li>Nhưng gượm đã, giờ là lúc người Đan Mạch cần phải giữ đôi chân mình trên mặt đất, cần phải nhìn ra một thực tế là họ đã gặp khá nhiều may mắn để ghi tên mình vào trận bán kết. Đầu tiên là việc Đan Mạch nằm ở bảng đấu rất dễ dàng, điều
                        này giúp họ dù thua cả 2 trận đầu vòng bảng nhưng vẫn giành quyền đi tiếp ở vị trí nhì bảng.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery3-02.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Tiếp đến là việc thầy trò Hjulmand lại được nằm ở nhánh đấu quá ngon ăn. Nên nhớ, Xứ Wales và Czech đều không được đánh giá cao. Tính rộng ra, 3 chiến thắng gần nhất của Đan Mạch tới trước các đối thủ đều chỉ nằm ở League B tại UEFA Nations League 2020/21
                        (Nga, Xứ Wales, Czech). Rõ ràng các thắng lợi này không thể là thước đo chính xác cho sức mạnh Đan Mạch.
                    </li>
                    <li>Cũng đừng quên là ở cuộc đối đầu với Bỉ, khi HLV Roberto Martinez tung vào sân đội hình mạnh nhất, Đan Mạch lập tức sụp đổ trong hiệp 2. 45 phút hiệp 2 đụng độ Bỉ là trận đấu gần nhất Những chú lính chì gặp một đối thủ thuộc hàng elite
                        thế giới. Và họ đã ngay lập tức bại trận. Đó là những lý do khiến không thể không nghi ngờ vào sức mạnh thực sự của Đan Mạch?</li>
                    <li>Anh thì khác, họ tiến vào vòng bán kết với sự tự tin tuyệt đối. Tam sư đã bắt đầu EURO 2020 không mấy ấn tượng khi ở vòng bảng, họ đều phải rất vất vả mới vượt qua được các đối thủ. Nhưng kể từ vòng knock-out, Anh đã chơi dần tốt hơn
                        nhờ những điều chỉnh linh hoạt của Gareth Southgate.</li>
                    <li>Sự đáng sợ của Anh là họ có thể mang nhiều bộ mặt khác nhau. Họ có thể đá thực dụng đến mức kham khổ, cam chịu, để đánh bại Đức 2-0. Nhưng ngay sau đó, họ cũng có thể chơi tấn công phủ đầu để hủy diệt Ukraine. Sự đa dạng trong cách
                        chơi, trong cách tiếp cận trận đấu là điều khiến rất khó có thể bắt bài hay đoán trước được cách đá của Southgate và các học trò.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery3-03.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Chưa hết, càng đi sâu thì nanh vuốt của Tam sư càng được mài sắc hơn. Hàng công với Harry Kane và Raheem Sterling vẫn ghi bàn đều đặn. Bộ tứ vệ vẫn chơi chắc chắn và chưa thủng lưới bàn nào từ đầu giải. Sức mạnh trong những tình huống cố định cũng được
                        Anh tìm lại khi 2/4 bàn của họ vào lưới Ukraine tới từ những pha quả phạt trực tiếp. Ở những trường hợp cần thiết, Southgate cũng vẫn còn rất nhiều quân bài trên ghế dự bị sẵn sàng vào sân và thay đổi tình thế.
                    </li>
                    <li>Đêm nay, Anh nhiều khả năng sẽ vạch trần sức mạnh thật của Đan Mạch. Những chú lính chì sẽ nằm gọn trong hàm sư tử.</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Đội hình dự kiến
                        </span>
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery3-04.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Anh (4-2-3-1): Pickford – Walker, Stones, Maguire, Shaw – Phillips, Rice – Sancho/ Saka, Mount, Sterling – Kane. Đan Mạch (3-4-3): Schmeichel – Christensen, Kjaer, Vestergaard – Stryger, Hojbjerg, Delaney, Maehle – Braithwaite, Dolberg, Damsgaard.
                    </li>
                </ul>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">Tỷ lệ kèo nhà cái ( nguồn từ nhà cái uy tín <span style="color:red;"><a href="https://www.ae7888.com/">AE888</a> </span>)
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery3-05.jpg">
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>