<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Kèo nhà cái nhận định bóng đá Anh vs Đan Mạch</p>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">vnc88</span>Nhận định của Kèo Nhà Cái trận đấu bán kết Ý vs Tây Ban Nha tại EURO 2020 diễn ra lúc 02h00 ngày 7/7 được vnc88 cập nhật liên tục tỷ lệ kèo nhà cái , tip, soi kèo Kèo Nhà Cái , nhận định chuyên
                        gia.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery4-02.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Kèo Nhà Cái nhận định trước trân đấu
                    </span>
                    </li>
                    <li>
                        Italia và Tây Ban Nha là một cặp đấu nhiều duyên nợ. Cuộc so tài này còn được gọi là “trận derby Địa Trung Hải”, hai đội bóng được coi là những gương mặt ưu tú nhất của bóng đá châu Âu nói riêng và bóng đá thế giới nói chung. Trong lịch sử, Italia và
                        Tây Ban Nha đã cùng nhau có được 5 chiếc cúp FIFA World Cup và 4 chiếc cúp UEFA Euro.
                    </li>
                    <li>Italia và Tây Ban Nha từng gặp nhau 33 lần trong quá khứ tính trên mọi đấu trường. Thành tích nghiêng một chút về phía Tây Ban Nha với 12 chiến thắng, 12 trận hòa, Italia thắng 9 trận. Dẫu vậy ở lần tái đấu sắp tới, Italia đang là
                        cái tên nhận được nhiều sự tin tưởng hơn của giới chuyên môn trước giờ bóng lăn.</li>
                    <li>Đoàn quân của HLV Roberto Mancini toàn thắng cả 3 trận tại vòng bảng tại Euro 2021, ghi 7 bàn và không để thủng lưới lần nào. Đến vòng 1/8, Italia dù khá vất vả nhưng vẫn có thắng lợi thuyết phục 2-1 trước Áo sau 120 phút. Ở tứ kết,
                        Insigne và các đồng đội tiếp tục có thắng lợi 2-1 nhưng chỉ cần 90 phút để vượt qua đội bóng dẫn đầu bảng xếp hạng FIFA, Bỉ.</li>
                    <li>Trong khi đó Tây Ban Nha chỉ giành được 5 điểm ở 3 trận vòng bảng tại Euro năm nay. Hai trận đấu ở vòng 1/8 và tứ kết, đội bóng xứ sở Bò tót đều phải căng sức đá 120 phút. Ở tứ kết, Tây Ban Nha thậm chí phải nhờ đến may mắn mới có
                        thể vượt qua Thụy Sĩ ở loạt sút luân lưu. Một số học trò của HLV Enrique có dấu hiệu xuống sức trước trận bán kết gặp Italia.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery4-03.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Vũ điệu Tiqui-Italia
                    </span>
                    </li>

                    <li>
                        Đội tuyển Italia của HLV Roberto Mancini khác hoàn toàn với những tập thể từng 4 lần vô địch World Cup và 1 lần vô địch Euro. Azzurri của Euro 2021 là một đội bóng khiến người xem nhớ đến cách họ kiểm soát thế trận và gây áp lực không ngừng nghỉ. Có lẽ
                        đây là phiên bản hoàn thiện nhất của khái niệm ‘Tiqui-Italia’ từng được truyền thông đặt tên dưới thời HLV Cesare Prandelli.
                    </li>
                    <li>Sau gần 7 năm, khái niệm Tiqui-Italia lại được người ta nhắc đến, nhưng lần này Azzurri của Mancini thậm chí còn tấn công mạnh mẽ hơn. Thành quả của sự thay đổi được đền đáp khi Italia đã vào đến bán kết Euro 2021. Đối thủ của họ,
                        trùng hợp thay, lại chính là Tây Ban Nha – chủ nhân của Tiqui-taca bản gốc.</li>
                    <li>Tây Ban Nha vẫn trung thành với lối chơi kiểm soát bóng, trong khi Italia cũng không còn chủ động nhường thế trận cho đối phương. Trận bán kết giữa hai đội trên sân Wembley chắc chắn sẽ là một màn đôi công mãn nhãn.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery4-04.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Rùa tiên tri dự đoán kết quả trận đấu Ý vs Tây Ban Nha
                    </span>
                        <li>
                            Sau khi dự đoán chính xác 100% kết quả các trận đấu tại tứ kết Euro 2021, Rùa tiên tri ASMR mới đây đã tiếp tục trổ tài dự đoán kết quả cặp đấu Ý vs Tây Ban Nha. Theo đó, Rùa tiên tri dự đoán, Ý sẽ là đội bóng có chiến thắng chung cuộc và giành tấm vé
                            đầu tiên vào chơi tại chung kết Euro năm nay. Thành tích đối đầu trong quá khứ đang nghiêng về phía Tây Ban Nha, tuy nhiên ở thời điểm hiện tại, Ý mới chính là đội bóng thể hiện lối chơi đẹp mắt và ấn tượng hơn.
                        </li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">Kèo nhà cái ( được trích dẫn từ nhà cái uy tín <span style="color:red;"><a href="https://www.ae7888.com/">AE888</a> </span>)
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery4-05.jpg">
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>

                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>