<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Tiêu chí nhận định nhà cái uy tín tại Kèo Bóng Cỏ</p>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery1-01.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        Trên thị trường cá cược càng ngày càng có thêm nhiều nhà cái xuất hiện. Người chơi rất khó chọn lựa chọn mình một nhà cái an toàn, uy tín và chơi lâu dài. Nắm bắt được tình hình này kèo bóng cỏ ra đời và là nơi tập hợp các nhà cái uy tín nhất trên thị
                        trường để bạn có thể dễ dàng chọn lựa. Đến với website bạn sẽ được tìm hiểu đầy đủ thông tin cần thiết cũng như đảm bảo được cập nhập nhanh chóng và chính xác.
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery1-02.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Giới thiệu về kèo bóng cỏ
                    </span>
                    </li>
                    <li>
                        Đây là một trong những trang web tập hợp các nhà cái hàng đầu trên thị trường. Theo đó tại kèo bóng cỏ người chơi có thể tìm hiểu thông tin, các ưu đãi, tin tức cụ thể, trụ sở của nhà cái. Điều này khiến bạn có thể so sánh các nhà cái với nhau cũng như
                        tìm kiếm nơi đặt chân cá cược cho bản thân mình. Ngoài ra tại website cũng có đầy đủ tin tức bóng đá, kèo cược phóng phú cho người chơi lựa chọn. Toàn bộ thông tin mà bạn tìm kiếm ở đây đều hoàn toàn miễn phí. Điều này đã thu hút
                        càng ngày càng nhiều người mê cá cược bóng đá đến với website.
                    </li>
                    <li><span style="font-weight:bold;">
                        Các tiêu chí nhận định nhà cái uy tín ở Website</span>
                    </li>
                    <li>
                        Là một trong web tổng hợp nhà cái hàng đầu trên thị trường nên kèo bóng cỏ cũng có những tiêu chi cụ thể để đánh giá một nhà cái cho riêng mình. Dưới đây là những điều mà một nhà cái uy tín cần có và được xuất hiện ở trang web.
                    </li>

                </ul>
            </div>
            <!-- === 文章清單 === -->
            <div class="newsRef_list">
                <ul>
                    <li>Đầu tiên và cũng quan trọng nhất là nhà cái đó cần phải có giấy cấp phép hoạt động cá cược online. Ngoài ra phải có sự giám sát của chính phủ cũng như có trụ sở cụ thể.</li>
                    <li>Từ giao diện cho đến bố cục cần phải hợp lý, cân đối. Trong đó người chơi mới có thể làm quen nhanh chóng cũng như có tìm được sản phẩm mà mình thích để đặt cược.</li>
                    <li>Tiếp đến là nhà cái cần phải có đầy đủ về ngôn ngữ đa dạng của các nước đang mở chi nhánh, có các hình thức liên hệ như chat live, email, hotline, zalo, viber… Những hình thức liên hệ này phải có người túc trực 24/24.</li>
                    <li>Đa dạng về kho sản phẩm. Trong đó bóng đá phải có đầy đủ các giải đấu hàng đầu châu Âu và thế giới. Nhiều hình thức cá cược với tỷ lệ trả thưởng phong phú cũng như phù hợp với thị trường cá cược. Những nhà cái có tỷ lệ trả thưởng cao
                        bất thường sẽ không phải những nhà cái uy tín.</li>
                    <li>Các chương trình khuyến mãi, ưu đãi được tổ chức bài bản, có quy định, quy tắc rõ ràng. Thông thường mỗi tháng sẽ có khuyến mãi mới. Người chơi có thể thực hiện và nhận thưởng theo quy định. Người chơi có thể rút tiền ưu đãi khi hoàn
                        thành điều kiện.</li>
                    <li>Hệ thống thanh toán cần phải đa dạng nhiều hình thức giao dịch. Người chơi có thể lựa chọn phong phú nạp và rút tiền. Khi thực hiện thanh toán cần được xử lý ngay lập tức và cho phép người dùng giao dịch 24/7. Có lịch sử giao dịch
                        để mọi người có thể kiểm tra khi cần thiết.</li>
                    <li>Mức độ bảo mật an toàn. Mọi thông tin cá nhân, thông tin giao dịch của người chơi tại nhà cái không được tiết lộ cho bên thứ ba. Điều này bảo đảm về an toàn riêng tư cũng như giúp người chơi thoải mái hơn khi đặt cược online.
                    </li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Lời kết về Website kèo bóng cỏ
                    </span>
                    </li>
                    <li>
                        Trên đây là những tiêu chí chọn lựa chọn nhưng nhà cái uy tín tại kèo bóng cỏ. Với sự chuyên nghiệp cũng như trình độ hàng đầu. Người chơi đến với website sẽ được tha hồ lựa chọn sân chơi cá cược bóng đá cũng như tìm kiếm những nhà cái phù hợp với bản
                        thân mình. Anh em còn chờ đợi gì mà không đến ngay với website VNC88.com.
                    </li>
                </ul>
            </div>

        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>