<div class="contBox-min" id="page">
    <!-- 新聞內頁 -->
    <div class="newsRef_box">
        <div class="newsRef_cnt">
            <!-- === 文章標題 === -->
            <div class="newsRef_title">
                <!-- 標題文字 -->
                <p>Kèo Nhà Cái nhận định Ukraine vs Anh</p>
            </div>
            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span class="selfTxt">VNC88.com</span>Kèo nhà cái nhận định trước trận đấu Ukraine vs Anh tại vòng tứ kết EURO 2020 vào lúc 02h00 ngày 4/7 được VNC88.com cập nhật liên tục tỷ lệ kèo nhà cái , tip, soi kèo nhà cái , nhận định.

                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery5-02.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Nhận định của Kèo Nhà Cái
                        <br>ĐT Anh sáng cửa vào chung kết
                    </span>
                    </li>
                    <li>
                        ĐT Anh thi đấu không quá bùng nổ ở VCK Euro 2020, nhưng họ vẫn có được điều mình cần đó chính là những kết quả có lợi. Thay vì hướng đến những chiến thắng đẹp mắt, thuyết phục, HLV Gareth Southgate tập trung vào hiệu quả. Anh chủ động chơi chắc chắn bên
                        phần sân nhà trước khi nghĩ đến việc làm tung mành lưới của đối phương.
                    </li>
                    <li>Trong 3 trận ở vòng bảng, Sư tử Anh chỉ ghi có 2 bàn, nhưng họ vẫn đi tiếp với ngôi đầu bảng D, bao gồm 2 chiến thắng và 1 trận hòa. Đụng độ ĐT Đức ở vòng 1/8, Tam sư tiếp tục trình diễn một lối chơi hiệu quả. Với sự chắc chắn nơi
                        hàng thủ cùng khả năng tận dụng cơ hội tốt hơn, Harry Kane và các đồng đội giành chiến thắng 2-0. Raheem Sterling tiếp tục cái duyên ghi bàn, anh đã có 3 bàn thắng ở Euro 2020. Trong khi đó Harry Kane cũng có bàn thắng đầu tiên
                        ở giải đấu năm nay, anh là người ấn định tỷ số 2-0 cho Anh trước Đức.</li>
                    <li>Ở kỳ Euro năm nay, Anh là đội bóng duy nhất bất bại và vẫn chưa phải nhận bất cứ bàn thua nào. Jordan Pickford đang đạt phong độ cực cao, anh có 2 tình huống cứu thua ấn tượng ở trận đấu với Đức, trong đó phải kể đến pha bay người
                        cản phá cú đá rất căng trong vòng cấm của Kai Havertz. Bộ đôi trung vệ Harry Maguire và John Stones đang kết hợp rất tốt ở trung tâm hàng thủ, trong khi đó Luke Shaw bay cao bên cánh trái khi lên công về thủ nhịp nhàng.</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery5-03.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Shevchenko chỉ đến đây thôi!
                    </span>
                    </li>

                    <li>
                        Lần gần nhất mà Ukraine gặp Anh ở một giải đấu lớn cũng là trận đấu cuối cùng của Shevchenko cho ĐTQG. Đó là cuộc đối đầu ở vòng bảng EURO 2012 mà Anh đã thắng với tỷ số tối thiểu nhờ pha lập công của Wayne Rooney.
                    </li>
                    <li>Cuộc tái đấu đêm nay rất có thể cũng sẽ là trận đấu cuối cùng của thầy trò Shevchenko ở EURO 2020. Ukraine đã may mắn vượt qua vòng bảng với tư cách là đội có thành tích kém nhất trong số các đội đứng thứ 3 được đi tiếp. Ở trận đấu
                        tại vòng 1/8, Ukraine cũng đã thoát thua trước Thụy Điển trong 90 phút thi đấu chính thức khi Emil Forsberg hai lần đưa bóng trúng khung gỗ, trước khi vượt qua đại đại diện Bắc Âu trong hiệp phụ bằng pha lập công của cầu thủ dự
                        bị Artem Dovbyk.</li>
                    <li>Sau đúng 15 năm, Ukraine mới lại có mặt ở tứ kết của giải đấu lớn sau khi làm được điều này ở World Cup 2006. Đây quả thật là một bất ngờ với những gì đội bóng này làm được từ đầu giải. Song hành trình của họ có lẽ sẽ dừng lại trước
                        ứng viên vô địch Anh.</li>
                    <li>Lực lượng của Ukraine không có nhiều cái tên đáng chú ý, nổi bật nhất chính là Yarmolenko và Zinchenko, những người đang thi đấu tại Premier League lần lượt trong màu áo West Ham và Man City. Tuy nhiên Yarmolenko đã dính chấn thương
                        nhẹ trong trận đấu ở vòng 1/8 và khả năng ra sân trước Anh vẫn còn bỏ ngỏ.</li>
                    <li>Với tâm lý không có gì để mất, Ukraine có thể gây ra được một vài khó khăn cho Anh, nhưng rất khó để họ thêm một lần nữa gây ra địa chấn tại EURO này như CH Czech hay Thụy Sỹ. Càng vào sâu, chênh lệch về bản lĩnh và đẳng cấp càng bộc
                        lộ. Chú ngựa ô Đông Âu khó lòng thoát khỏi móng vuốt của bầy sư tử Anh!</li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery5-04.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">
                        Đội hình dự kiến:
                    </span>
                </ul>
            </div>
            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery5-05.jpg">
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li>
                        <span style="font-weight:bold;">Ukraine:</span> Bushchan; Zabarnyi, Kryvtsov, Matvienko; Karavaev, Sydorchuk, Shaparenko, Stepanenko, Zinchenko; Yarmolenko, Yaremchuk
                    </li>
                    <li><span style="font-weight:bold;">Anh: </span>Pickford; Walker, Stones, Maguire; Trippier, Rice, Henderson, Shaw; Mount, Kane, Sterling</li>
                </ul>
            </div>

            <!-- === 文章內容 === -->
            <div class="newsRef_txt">
                <ul>
                    <li><span style="font-weight:bold;">Kèo nhà cái （ trích dẫn bảng kèo nhà cái từ nhà cái uy tín <span style="color:red;"><a href="https://www.ae7888.com/">AE888</a> </span>)
                    </li>
                </ul>
            </div>

            <!-- === 文章圖片 === -->
            <div class="newsRef_img">
                <img src="images/newsRef/lottery5-06.jpg">
            </div>
        </div>

        <div class="newsCnt_menu">
            <div>
                <div class="mainMsg-title">Tin hot</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <template v-for="(item,index) in newsMenu.news_r">
                            <li v-if="newsRefNum != index+1">
                                <a :href="reHref(true,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>    
            </div>
            <div>
                <div class="mainMsg-title">Tin quan trọng</div>
                <div class="newsCnt_scroll">
                    <ul>
                        <li v-if="lotteryNum != 1">
                            <a href="#/lottery?p=1">
                                <div class="img" :style="getbgi(newsMenu.news_t.img)"></div>
                                <p>{{newsMenu.news_t.title}}</p>
                            </a>
                        </li>
    
                        <template v-for="(item,index) in newsMenu.news_b">
                            <li v-if="lotteryNum != index+2">
                                <a :href="reHref(false,index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                    <p>{{item.title}}</p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- ========================================= -->
<script src="js/index.js"></script>
<script src="js/newsRef.js"></script>