<title>VNC88 | Video đá bóng</title>
<div class="contBox-min broadcast" id="page">
    <!-- liveBox start -->
    <div class="liveBox" v-if="false">
        <div class="liveTitle">
            <div>
                <img :src="liveData.title.img">
                <span>{{liveData.title.txt}}</span>
            </div>
        </div>

        <div class="liveList">
            <ul>
                <li v-for="(item,index) in liveList">
                    <div>
                        <div class="liveList_mv">
                            <iframe :src="reMvsrc(item.videoId)" frameborder="0"></iframe>
                        </div>
                        <div class="liveList_msg">{{item.title}}</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="liveBtn">
            <div class="btn_linear_c2 btn">
                <div class="btn_cnt">Xem tất cả</div>
            </div>
        </div>
    </div>

    <div class="videoBanner">
        <img :src="liveData.banner.main">
    </div>
    <div class="mainMsg">
        <div class="mainMsg-title">VIDEO</div>
        <!-- videoBox start -->
       
        <div class="videoBox">
            <div class="gameShow" id="gameShow">
                <div class="main">
                    <iframe :src="reMvsrc(youtube.show)" frameborder="0" id="showMv"></iframe>
                </div>
                <div class="list">
                    <div class="arrow_l" @click="arrayMove('left')"></div>
                    <div class="arrow_r" @click="arrayMove('right')"></div>
                    <div class="listArray">
                        <ul :style="reArray()">
                            <template v-for="(item,index) in youtube.list">
                                <li  @click="chYT(item.id)">
                                    <div>
                                        <div class="listArray_img">
                                            <img :src="item.img" alt="Video preview image">
                                        </div>
                                        <div class="listArray_msg">
                                            <!-- <span>{{item.time}}</span> -->
                                            <p>{{item.title}}</p>     
                                        </div>
                                    </div>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="gameMsg" id="gameMsg">
                <!-- 賽事比分 -->
                <div>
                    <div class="mainMsg-title">BẢNG XẾP HẠNG</div>
                    <div class="gameChart">
                        <select @change="chart_list(),goTop()" v-model="selected">
                            <option v-for="(item,index) in chartSel" :value="item.id">{{item.name}}</option>
                        </select>

                        <div class="gameChart_tb" ref="gameChart">
                            <table>
                                <tr>
                                    <th>TT</th>
                                    <th>Đội</th>
                                    <th>Trận</th>
                                    <th>HS</th>
                                    <th>Điểm</th>
                                </tr>
                                <tr v-for="(item,index) in chartList">
                                    <td>{{index+1}}</td>
                                    <td>
                                        <div class="flag">
                                            <img :src="item.img" alt="alliance logo">
                                        </div>
                                        <span>{{item.Team}}</span>
                                    </td>
                                    <td>{{item.Battle}}</td>
                                    <td>{{item.Difference}}</td>
                                    <td>{{item.Point}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 賽事結果 -->
                <div>
                    <div class="mainMsg-title">Kết quả</div>
                    <div class="gameSchedule">
                        <div class="gameSchedule_tb">
                            <table>
                                <template v-for="(item,index) in schedule">
                                    <tr>
                                        <th colspan="3">{{item.header}}</th>
                                    </tr>
                                    <tr v-for="(item,index) in item.body">
                                        <td>
                                            <div class="club_1">
                                                <span>{{item.leftTeam}}</span>
                                                <div class="badge">
                                                    <img :src="item.leftImg" alt="alliance logo">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="score">{{item.score}}</span>
                                        </td>
                                        <td>
                                            <div class="club_2">
                                                <div class="badge">
                                                    <img  :src="item.rightImg" alt="alliance logo">
                                                </div>
                                                <span>{{item.rightTeam}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- chatBox start (聊天室) -->
        <div class="chatBox" v-show="chatSwitch">
            <div class="chatroom">
                <div class="chat_title">聊天室</div>
                <div class="chat_list" id="chat_list">
                    <div id="chat_sc">
                        <ul></ul>
                    </div>
                </div>
                <div class="chat_ipt" id="chat_ipt">
                    <div class="chat_txt">
                        <div class="chat_msg" id="chat_msg" contenteditable="true"></div>
                        <span class="chat_take" disabled>Message</span>
                    </div>
                    <div class="chat_iconBtn" id="chat_iconBtn">
                        <div class="chat_iconList" id="chat_iconList">
                            <ul>
                                <li v-for="(item,index) in liveData.chatIcon">
                                    <img :src="item" class="chat_icon">
                                </li>
                            </ul>
                        </div>
                    </div>

                    <input type="color" class="chat_color" id="chat_color"></input>
                </div>
            </div>

            <div class="chatAd">
                <ul>
                    <li v-for="(item,index) in liveData.banner.ad">
                        <img :src="item">
                    </li>
                </ul>
            </div>
        </div>

        <!-- scheduleList start (時程表) -->
        <div class="scheduleList" v-show="dateSwitch">
            <div class="mainMsg-title">LỊCH THI ĐẤU</div>
            <!-- dateList -->
            <div class="dateList">
                <div class="today">{{formatDate(today)}}</div>
                <ul>
                    <li v-for="(item,index) in weekList">
                        <div class="date_num">{{item.num}}</div>
                        <div class="date_week">{{item.week}}</div>
                    </li>
                </ul>
            </div>

            <!-- matchList -->
            <div class="matchList">
                <table>
                    <template v-for="(item,index) in schedule">
                        <tr v-for="(item,index) in item.list">
                            <td>
                                <div class="match_title"  :class="{'on':item.live}">
                                    <div class="match_time">
                                        <p>{{item.day}} - {{item.time}}</p>
                                        <div class="match_live">live</div>
                                    </div>
                                    <p>{{item.saibe}}</p>
                                </div>
                            </td>
                            <td>
                                <div class="match_teams">
                                    <div class="team team_L">
                                        <span>{{item.club_1_name}}</span>
                                        <div class="team_flag">
                                            <img :src="item.club_1_badge">
                                        </div>                            
                                    </div>
                                    <div class="vs">VS</div>
                                    <div class="team team_R">
                                        <div class="team_flag">
                                            <img :src="item.club_2_badge">
                                        </div>
                                        <span>{{item.club_2_name}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                time: '',
                // 直播標題/清單
                liveData: mvLive,
                liveList: [],
                // youtube頻道影片
                youtube: {
                    show: 'UE5YM5RkrKI',
                    list: '',
                    length: 0,
                    arrayNum: 0
                },
                // 賽事比分
                selected: 'champions-league',
                chartSel: '',
                chartList: '',
                // 賽事結果
                schedule: '',
                // 日曆表
                today: '',
                weekList: [],
                // load狀態
                readyState: [false, false, false],
                // 開關
                chatSwitch: false,
                dateSwitch: false,
            };
        },
        methods: {
            // ==== 結束loading ====
            onReady() {
                if (this.readyState[0] && this.readyState[1] && this.readyState[2]) {
                    indexVue.onLoad = false;
                }
            },

            // ==== 返回youtube完整影片位置 ====
            reMvsrc(data) {
                return `https://www.youtube.com/embed/${data}`
            },

            // ==== 賽事比分卷軸置頂 ====
            goTop() {
                this.$refs.gameChart.scrollTop = 0;
            },

            // ==== 取得live資料 ====
            getLive() {
                let self = this;
                docRef.get().then((querySnapshot) => {
                    querySnapshot.forEach((doc) => {
                        let data = doc.data();
                        self.liveList.push(data);

                        self.$nextTick(function() {
                            self.readyState[0] = true;
                            self.onReady();
                        })
                    });
                })
            },


            // ==== 變更youtube影片ID值 ====
            chYT(data) {
                this.youtube.show = data;
            },


            // ==== youtube清單移動 / 容器大小 ====
            arrayMove(data) {
                if (data == "left") {
                    this.youtube.arrayNum == 0 ? 0 : this.youtube.arrayNum--;
                } else if (data == "right") {
                    let num = parseInt(this.youtube.length / 3)
                    this.youtube.arrayNum == num ? num : this.youtube.arrayNum++;
                }
            },

            reArray() {
                let allW = 100 * this.youtube.length / 3
                let num = (100 - (100 / this.youtube.length * 3)) / parseInt(this.youtube.length / 3)
                return `width : ${allW}%; transform : translateX(-${this.youtube.arrayNum * num}%)`
            },

            // ==== 取得資料 ====
            getData() {
                let self = this;
                let chReady = [false, false, false];

                function ready() {
                    if (chReady[0] && chReady[1] && chReady[2]) {
                        self.readyState[1] = true;
                        self.onReady();
                    }
                }

                // youtube頻道影片
                $.ajax({
                    url: "https://www.vnc8888.com/api/video/list",
                    dataType: "json",
                    success: function(data) {
                        self.youtube.length = data.length;
                        self.youtube.list = data;
                        self.youtube.show = data[0].id;
                        self.$nextTick(function() {
                            chReady[0] = true;
                            ready();
                        })
                    },
                });

                // 賽事比分選擇 (api = 足球轉播-聯盟清單)
                $.ajax({
                    url: "https://www.vnc8888.com/api/match/score",
                    dataType: "json",
                    success: function(data) {
                        self.chartSel = data;
                        self.$nextTick(function() {
                            chReady[1] = true;
                            ready();
                        })
                    },
                });

                // 賽事結果 (api = 足球轉播-賽事結果)
                $.ajax({
                    url: "https://www.vnc8888.com/api/match/results",
                    dataType: "json",
                    success: function(data) {
                        self.schedule = data
                        self.$nextTick(function() {
                            chReady[2] = true;
                            ready();
                        })
                    },
                });

            },

            // ==== 取得賽事比分列表 (api = 足球轉播-賽事比分) ====
            chart_list() {
                let self = this;
                let setUrl = `https://www.vnc8888.com/api/match/score/${self.selected}`
                $.ajax({
                    url: setUrl,
                    dataType: "json",
                    success: function(data) {
                        self.chartList = data;

                        self.$nextTick(function() {
                            self.readyState[2] = true;
                            self.onReady();
                        })
                    },
                });
            },

            //  ==== 日曆表呈現  ====
            showDate() {
                this.today = new Date();
                let today = new Date();
                let scheduleWeek = []
                let scheduleNum = []
                var weekTxt = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
                scheduleWeek[3] = weekTxt[new Date().getDay()];
                scheduleNum[3] = new Date().getDate();

                for (let i = 1; i < 4; i++) {
                    let week = [];
                    for (let k = 0; k < 4; k++) {
                        week[k] = new Date()
                    };
                    let getWeek_cut = weekTxt[new Date(week[0].setDate(week[0].getDate() - i)).getDay()];
                    let getWeek_plus = weekTxt[new Date(week[1].setDate(week[1].getDate() + i)).getDay()];
                    let getNum_cut = new Date(week[2].setDate(week[2].getDate() - i)).getDate();
                    let getNum_plus = new Date(week[3].setDate(week[3].getDate() + i)).getDate();
                    scheduleWeek[3 - i] = getWeek_cut;
                    scheduleWeek[3 + i] = getWeek_plus;
                    scheduleNum[3 - i] = getNum_cut;
                    scheduleNum[3 + i] = getNum_plus;
                }

                for (let i = 0; i < scheduleWeek.length; i++) {
                    this.weekList.push({
                        week: scheduleWeek[i],
                        num: scheduleNum[i]
                    })
                }
            },

            formatDate(data) {
                let d = new Date(data)
                let formatd = d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
                return formatd;
            },
        },
        mounted() {
            this.getLive();
            this.getData();
            this.chart_list();
            this.showDate();
            indexVue.onLoad = true;
            this.time = setInterval(this.chart_list, 1000 * 30);

            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-30FY56KDHN');
        },
    }).mount("#page");
</script>

<!-- 聊天室 -->
<script>
    var databaseMs = new Date().getTime()
    database.on('value', function(snapshot) {
        var getData = snapshot.val()
        var txt = ''
        for (let i in getData) {
            let msg = getData[i].msg.split('<div>').join('').split('</div>').join('').replace('<br>', '');

            txt += `<li class="${getData[i].id == 'id' + databaseMs?'self':''}" >
                        <div class="chat_member">
                            <span class="chat_time" id="chat_time">${getData[i].time}</span>
                            <span class="chat_name" id="chat_name">${getData[i].name}</span>
                        </div>
                        <div class="chat_speak" id="chat_speak" style="color:${getData[i].color}">${msg}</div>
                    </li>`
        }

        $('#chat_list ul').html(txt)

        var chat_sc = document.getElementById('chat_sc');
        // 卷軸至頂
        chat_sc.scrollTop = chat_sc.scrollHeight;
    });

    var chat_ipt = false
    $('#chat_msg').focus(function() {
        chat_ipt = true
    }).blur(function() {
        chat_ipt = false
    })

    $(document).keydown(function(e) {
        if (e.keyCode == 13 && chat_ipt) {
            write();
        }
    });

    // 加入icon圖片
    $('#chat_iconList li').click(function() {
        let getIndex = $('#chat_iconList li').index(this);
        $('#chat_msg').append(`<img src="images/icon/i_chat_${getIndex+1}.png" class="chat_icon">`);
        $('#chat_msg').focus();
        showTake();
    })

    $('#chat_msg').focus(function() {
        $(document).keydown(function(e) {
            showTake();

        });
    })

    function showTake() {
        let state = $('#chat_msg').html().length;
        if (state >= 1) {
            $('.chat_take').css('display', 'none');
        } else {
            $('.chat_take').css('display', 'flex');
        }
    }

    function write() {
        var date = new Date();
        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        if (h < 10) {
            h = '0' + h;
        }
        if (m < 10) {
            m = '0' + m;
        }
        var now = h + ':' + m
        var getMsg = $('#chat_msg').html().split('<div>').join('').split('</div>').join('').replace('<br>', '')
        var postData = {
            name: '匿名',
            msg: getMsg,
            time: now,
            id: 'id' + databaseMs,
            color: $('#chat_color').val()
        };

        firebase.database().ref().push(postData);
        $('#chat_msg').attr('contenteditable', "false")
        $('#chat_msg').html('')
        $('#chat_msg').attr('contenteditable', "true");
        setTimeout(function() {
            $('#chat_msg').focus();
        }, 100)
    }
</script>