<div class="contBox-min" id="page">
    <!-- betList start -->
    <div class="betList">
        <div class="betTitle">
            <div class="icon"></div>
            <span>{{bet.title.title_01}}</span>
            <div class="icon"></div>
            <span>{{bet.title.title_02}}</span>
        </div>
        <table>
            <tr v-for="(item,index) in bet.list">
                <th>
                    <div class="betNb"></div>
                    <div class="betLogo">
                        <img :src="item.betLogo">
                    </div>
                </th>
                <td>
                    <span>Đăng ký tặng ngay:</span>
                    <p class="price" data-currency="VND">{{item.price}}</p>
                </td>
                <td>
                    <div class="betScore">
                        <div class="scoreIcon" :data-nb="item.num">
                            <div class="ball"></div>
                            <div class="star"></div>
                        </div>
                        <span>Casino trực tuyến</span>
                    </div>
                </td>
                <td>
                    <div class="betBtn">
                        <div class="btn_linear_c1 btn">
                            <a :href="item.href_out" target="_blank">
                                <div class="btn_cnt">
                                    <div class="icon">
                                        <img src="images/icon/icon-out.svg">
                                    </div>
                                    <p>Đăng Ký</span>
                                </div>
                            </a>
                        </div>
                        <div class="btn_linear_c1 btn">
                            <a :href="item.href_self">
                                <div class="btn_cnt">
                                    <div class="icon">
                                        <img src="images/icon/icon-play.svg">
                                    </div>
                                    <p>Xem Thêm</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <!-- ==== mainMsg start ==== -->
    <div class="mainMsg">
        <!-- mainNews start -->
        <div class="mainNews">
            <div class="mainNews_t">
                <div class="news_main">
                    <div class="mainMsg-title">GIỚI THIỆU NHÀ CÁI</div>
                    <!-- 博彩平台介紹 -->
                    <a href="#/lottery/news?list=1">
                        <div class="news_mainImg" :style="getbgi(newsMenu.news_t.img)">
                            <p>{{newsMenu.news_t.title}}</p>
                        </div>
                    </a>
                </div>
                <div class="news_list">
                    <div class="mainMsg-title">Tin Mới Nhất</div>
                    <!-- 最新消息 -->
                    <div class="newsList_cnt">
                        <ul>
                            <li v-for="(item,index) in newsMenu.news_r">
                                <a :href="reHref(true,index)">
                                    <div class="newsList_img" :style="getbgi(item.img)"></div>
                                </a>
                                <p>{{item.title}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mainNews_b">
                <ul>
                    <li v-for="(item,index) in newsMenu.news_b">
                        <a :href="reHref(false,index)">
                            <div class="img" :style="getbgi(item.img)"></div>
                        </a>
                        <p>{{item.title}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- fullDict start -->
        <div class="fullDict">
            <div class="title"></div>
            <div>
                <div class="wsDict_msg">
                    <div class="title">{{wsDict.title}}</div>
                    <ul class="lotteryList">
                        <li v-for="(item,index) in wsDict.msg">
                            <div class="icon"></div>
                            <ul class="lotteryMsg">
                                <li v-for="(item,index) in item.list">{{item}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/index.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                bet: betList,
                wsDict: lotteryDict,
                newsMenu: {
                    news_r: '',
                    news_t: '',  
                    news_b: '',
                },
            };
        },
        methods: {
            getbgi(data) {
                return `background-image: url(${data})`;
            },
            reHref(hot, index) {
                if (hot) {
                    return `#/home/news?list=${index+6}`
                } else {
                    return `#/lottery/news?list=${index+2}`
                }
            },
            
            getData() {
                let self = this;
                let chReady = [false,false,false];

                function ready() {
                    if (chReady[0]) {
                        indexVue.onLoad = false;
                    }
                }

                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/homenews/list",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.news_r = data;
                        self.$nextTick(function() {
                            chReady[0] = true;
                            ready();
                        })
                    },
                });

                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/recommend/top",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.news_t = data;
                        self.$nextTick(function() {
                            chReady[1] = true;
                            ready();
                        })
                    },
                });

                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/match/news",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.news_b = data;
                        self.$nextTick(function() {
                            chReady[2] = true;
                            ready();
                        })
                    },
                });
            },
        },
        mounted() {
            this.getData();
            indexVue.onLoad = true;
        },
    }).mount("#page");
</script>