<div class="contBox-min" id="page">
    <div class="mbrBox">
        <div class="mbrSelect" id="mbrSelect">
            <div class="btn" :class="{'on':mbrSelect == 0}">
                <a href="#/member/message">
                    <div class="btn_cnt">Thông tin tài khoản</div>
                </a>
            </div>
            <div class="btn" :class="{'on':mbrSelect == 1}">
                <a href="#/member/changePwd">
                    <div class="btn_cnt">Cập nhật mật khẩu</div>
                </a>
            </div>
        </div>

        <div class="innerBox_mbrMsg" v-show="mbrSelect == 0">
            <div class="mbrMsg">
                <ul>
                    <li>
                        <div class="mbrl_title">會員等級</div>
                        <div class="mbrl_txt">普通會員</div>
                    </li>
                    <li>
                        <div class="mbrl_title">Tài khoản</div>
                        <div class="mbrl_txt">{{mbrData.username}}</div>
                    </li>
                    <li>
                        <div class="mbrl_title">Tên Nick</div>
                        <div class="mbrl_ipt">
                            <input type="text" placeholder="Hãy nhập tên nick" v-model="mbrData.nickname" required>
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">Thư điện tử</div>
                        <div class="mbrl_ipt">
                            <input type="email" placeholder="Điền hộp thư điện tử" v-model="mbrData.email" required>
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">Số di động</div>
                        <div class="mbrl_ipt">
                            <input type="tel" v-model="mbrData.phone" placeholder="Điền số điện thoại" required>
                        </div>
                    </li>

                    <li>
                        <div class="mbrl_title">Giới tính</div>
                        <div class="mbrl_radio">
                            <label>
                                <input type="radio" name="gender"
                                value="Male" v-model="mbrData.gender">
                                <span>Nam</span>
                            </label>
                            <label>
                                <input type="radio" name="gender" 
                                value="Female" v-model="mbrData.gender">
                                <span>Nữ</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">Birthday</div>
                        <div class="mbrl_date">
                            <input type="text" 
                                v-model ="mbrData.birthday"
                                placeholder="YYYY-MM-DD"
                                id="date-group"
                                required >
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">Facebook</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">Telegram</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>

                    <li>
                        <div class="mbrl_title">Zalo</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="mbrbtn">
                <div class="btn_linear_c1 btn" @click="chInfor()">
                    <div class="btn_cnt">Gửi đi</div>
                </div>
                <div class="btn_linear_c2 btn"  @click="goHome()">
                    <div class="btn_cnt">Hủy</div>
                </div>
            </div>
        </div>

        <div class="innerBox_chPwd" v-show="mbrSelect == 1">
            <form @submit.prevent="ckPwd()">
                <div class="mbrMsg">
                    <ul>
                        <li></li>
                        <li>
                            <div class="mbrl_title">Nhập mật khẩu cũ</div>
                            <div class="mbrl_ipt">
                                <input :type="lookPwd.formerType" v-model="pwdData.former" required>
                                <div class="icon_pwdLook" :class="{'on' : lookPwd.former}" @click="onLook('former')" @mouseout="outLook('former')"></div>
                                <p class="errorTxt" v-if="errorCode.former">Sai mật khẩu cũ</p>
                            </div>
                        </li>
                        <li>
                            <div class="mbrl_title">Nhập mật khẩu mới</div>
                            <div class="mbrl_ipt">
                                <input :type="lookPwd.newType" v-model="pwdData.new" required>
                                <div class="icon_pwdLook" :class="{'on' : lookPwd.new}" @click="onLook('new')" @mouseout="outLook('new')"></div>
                                <p class="errorTxt" v-if="errorCode.new">Mật khẩu cũ và mới không được giống nhau</p>
                            </div>
                        </li>
                        <li>
                            <div class="mbrl_title">Nhập lại mật khẩu mới</div>
                            <div class="mbrl_ipt">
                                <input :type="lookPwd.ckNewType" v-model="pwdData.ckNew" required>
                                <div class="icon_pwdLook" :class="{'on' : lookPwd.ckNew}" @click="onLook('ckNew')" @mouseout="outLook('ckNew')"></div>
                                <p class="errorTxt" v-if="errorCode.ckNew">Xác nhận mật khẩu mới tương đồng</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="mbrbtn">
                    <div class="btn_linear_c1 btn">
                        <button class="btn_cnt">Gửi đi</button>
                    </div>
                    <div class="btn_linear_c2 btn" @click="clearChpwd()">
                        <div class="btn_cnt">Hủy</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    var dialogVue = Vue.createApp({
        data() {
            return {
                mbrSelect: 0,
                pwdData: {
                    former: '',
                    new: '',
                    ckNew: '',
                },
                errorCode: {
                    former: false,
                    new: false,
                    ckNew: false,
                    birthday: false
                },
                lookPwd: {
                    former: false,
                    new: false,
                    ckNew: false,
                    newType: 'password',
                    formerType: 'password',
                    ckNewType: 'password',
                },
                mbrData: {
                    username: '',
                    nickname: '',
                    email: '',
                    phone: '',
                    gender: 'Other',
                    birthday: '',
                    fb: '',
                    tg: '',
                    zalo: '',
                },
                oneIpt: false,
            };
        },
        methods: {
            // ===== 帳戶資料 ====
            getMbr() {
                let tk = JSON.parse(sessionStorage.getItem('session')).token;
                let self = this;
                $.ajax({
                    type: "GET",
                    url: "https://www.vnc8888.com/api/member",
                    data: {
                        token: tk
                    },
                    dataType: "text",
                    success: function(data) {
                        let mbr = JSON.parse(data)
                        self.mbrData.username = mbr.username;
                        self.mbrData.nickname = mbr.nickname;
                        self.mbrData.email = mbr.email;
                        self.mbrData.phone = mbr.phone;
                        self.mbrData.gender = mbr.gender;
                        self.mbrData.birthday = mbr.birthday;
                        self.mbrData.fb = mbr.fb;
                        self.mbrData.tg = mbr.tg;
                        self.mbrData.zalo = mbr.zalo;

                        if (self.mbrData.birthday == "") {
                            self.setDate();
                        }else{
                            document.querySelector('#date-group').setAttribute('disabled',true)
                        }
                    }
                })
            },

            chInfor() {
                let tk = JSON.parse(sessionStorage.getItem('session')).token;
                let self = this;
                let mbrMsg = {};
                mbrMsg.token = String(tk);
                mbrMsg.nickname = String(self.mbrData.nickname);
                mbrMsg.email = String(self.mbrData.email);
                mbrMsg.phone = String(self.mbrData.phone);
                mbrMsg.gender = String(self.mbrData.gender);
                mbrMsg.birthday = String(self.mbrData.birthday);
                mbrMsg.fb = String(self.mbrData.fb);
                mbrMsg.tg = String(self.mbrData.tg);
                mbrMsg.zalo = String(self.mbrData.zalo);

                let xhr = new XMLHttpRequest();
                xhr.open("put", "https://www.vnc8888.com/api/member");
                xhr.setRequestHeader("Content-type", "application/json");
                let data = JSON.stringify(mbrMsg);
                xhr.send(data);
                xhr.onload = function() {
                    if (xhr.status == 200) {
                        location.href = "#/home";
                    } 
                    else if (self.mbrMsg.birthday == ''){
                        self.errorCode.birthday = true;
                    }
                    else {
                        sessionStorage.removeItem('session');
                        location.href = "#/home";
                        location.reload();
                    }
                }
            },

            setDate() {
                let self = this;
                new Rolldate({
                    el: '#date-group',
                    format: 'YYYY-MM-DD',
                    beginYear: 1500,
                    endYear: 2100,
                    lang: {
                        title: 'Chọn ngày tháng',
                        cancel: 'Hủy',
                        confirm: 'Gửi đi',
                        year: '',
                        month: '',
                        day: ''
                    },
                    init: function() {
                        // 插件开始触发
                    },
                    moveEnd: function(scroll) {
                        // 選擇區間到末端滚动结束
                    },
                    confirm: function(data) {
                        // 确定按钮触发
                        self.mbrData.birthday = data
                    },
                    cancel: function() {
                        // 插件运行取消
                    }
                })
            },

            goHome() {
                location.href = "#/home";
            },
            // ===== 修改密碼 ====
            ckPwd() {
                let case_01 = this.pwdData.new != this.pwdData.ckNew;
                let case_02 = this.pwdData.former == this.pwdData.new;
                this.reError();

                if (case_01) {
                    this.errorCode.ckNew = true;
                } else if (case_02) {
                    this.errorCode.new = true;
                } else {
                    this.postChpwd();
                }
            },
            postChpwd() {
                let account = {};
                let self = this;
                let token = JSON.parse(sessionStorage.getItem('session')).token
                account.token = String(token);
                account.oldpassword = String(this.pwdData.former);
                account.newpassword = String(this.pwdData.ckNew);

                let xhr = new XMLHttpRequest();
                xhr.open("PUT", "https://www.vnc8888.com/api/member/password");
                xhr.setRequestHeader("Content-type", "application/json");
                let data = JSON.stringify(account);
                xhr.send(data);
                xhr.onload = function() {
                    switch (xhr.status) {
                        case 200:
                            indexVue.warn.warnTxt = ["Mật khẩu đã được thay đổi", "hãy đăng nhập lại"];
                            indexVue.warn.success = true;
                            backHome();
                            break;
                        case 403:
                            self.errorCode.former = true;
                            break;
                        case 404:
                            indexVue.warn.warnTxt = ["Token hết hiệu lực", "vui lòng đăng nhập lại"];
                            indexVue.warn.success = false;
                            backHome();
                            break;
                    }

                    function backHome() {
                        indexVue.warn.warnSwitch = true;
                        sessionStorage.removeItem('session');
                        indexVue.ckLogin();
                        setTimeout(function() {
                            self.clearChpwd()
                            location.href = "#/home";
                            indexVue.warn.warnSwitch = false
                        }, 2000)
                    }
                }
            },
            reError() {
                this.errorCode.former = false;
                this.errorCode.new = false;
                this.errorCode.ckNew = false;
            },

            clearChpwd() {
                this.pwdData.former = '';
                this.pwdData.new = '';
                this.pwdData.ckNew = '';
            },

            // 顯示密碼
            onLook(data) {
                switch (data) {
                    case "former":
                        this.lookPwd.formerType = 'text';
                        this.lookPwd.former = true;
                        break;
                    case "new":
                        this.lookPwd.newType = 'text';
                        this.lookPwd.new = true;
                        break;
                    case "ckNew":
                        this.lookPwd.ckNewType = 'text';
                        this.lookPwd.ckNew = true;
                        break;
                }
            },

            // 隱藏密碼
            outLook(data) {
                switch (data) {
                    case "former":
                        this.lookPwd.formerType = 'password';
                        this.lookPwd.former = false;
                        break;
                    case "new":
                        this.lookPwd.newType = 'password';
                        this.lookPwd.new = false;
                        break;
                    case "ckNew":
                        this.lookPwd.ckNewType = 'password';
                        this.lookPwd.ckNew = false;
                        break;
                }
            },

        },
        mounted() {
            this.getMbr()
            this.mbrSelect = sessionStorage.getItem("mbrSelect");
            indexVue.onLoad = true;
            this.$nextTick(function() {
                setTimeout(function() {
                    indexVue.onLoad = false;
                }, 300)
            })
        },
    }).mount("#page");
</script>