<div class="contBox-min" id="page">
    <div class="mbrBox">
        <div class="mbrSelect" id="mbrSelect">
            <div class="btn" :class="{'on':mbrSelect == 0}">
                <a href="#/member/message">
                    <div class="btn_cnt">Thông tin tài khoản</div>
                </a>
            </div>
            <div class="btn" :class="{'on':mbrSelect == 1}">
                <a href="#/member/changePwd">
                    <div class="btn_cnt">Cập nhật mật khẩu</div>
                </a>
            </div>
        </div>

        <div class="innerBox_mbrMsg" v-show="mbrSelect == 0">
            <div class="mbrMsg">
                <ul>
                    <li>
                        <div class="mbrl_title">登入識別</div>
                        <div class="mbrl_txt">google</div>
                    </li>
                    <li>
                        <div class="mbrl_title">會員等級</div>
                        <div class="mbrl_txt">普通</div>
                    </li>
                    <li>
                        <div class="mbrl_title">性別</div>
                        <div class="mbrl_radio">
                            <label>
                                <input type="radio" name="gender" checked>
                                <span>男</span>
                            </label>
                            <label>
                                <input type="radio" name="gender">
                                <span>女</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">真實姓名</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">國籍</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">會員暱稱</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">生日</div>
                        <div class="mbrl_date">
                            <input type="date">
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">E-MAIL</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">ZALO</div>
                        <div class="mbrl_ipt">
                            <input type="text">
                        </div>
                    </li>
                    <li>
                        <div class="mbrl_title">最後登陸時間</div>
                        <div class="mbrl_txt">2021-08-04</div>
                    </li>
                    <li>
                        <div class="mbrl_title">我的錢包</div>
                        <div class="mbrl_txt">
                            <span>9527</span>
                            <div class="icon_refresh"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="mbrbtn">
                <div class="btn_linear_c1 btn">
                    <div class="btn_cnt">Gửi đi</div>
                </div>
                <div class="btn_linear_c2 btn">
                    <div class="btn_cnt">Hủy</div>
                </div>
            </div>
        </div>

        <div class="innerBox_chPwd" v-show="mbrSelect == 1">
            <form @submit.prevent="ckPwd()">
                <div class="mbrMsg">
                    <ul>
                        <li> 
                            <div class="mbrl_title">Nhập mật khẩu cũ</div>
                            <div class="mbrl_ipt">
                                <input :type="lookPwd.formerType" v-model="pwdData.former" required autocomplete="on">
                                <div class="icon_pwdLook" :class="{'on' : lookPwd.former}" @click="onLook('former')" @mouseout="outLook('former')"></div>
                                <p class="errorTxt" v-if="errorCode.former">Sai mật khẩu cũ</p>
                            </div>
                        </li>
                        <li>
                            <div class="mbrl_title">Nhập mật khẩu mới</div>
                            <div class="mbrl_ipt">
                                <input :type="lookPwd.newType" v-model="pwdData.new" required autocomplete="on">
                                <div class="icon_pwdLook" :class="{'on' : lookPwd.new}" @click="onLook('new')" @mouseout="outLook('new')"></div>
                                <p class="errorTxt" v-if="errorCode.new">Mật khẩu cũ và mới không được giống nhau</p>
                            </div>
                        </li>
                        <li>
                            <div class="mbrl_title">Nhập lại mật khẩu mới</div>
                            <div class="mbrl_ipt">
                                <input :type="lookPwd.ckNewType" v-model="pwdData.ckNew" required autocomplete="on">
                                <div class="icon_pwdLook" :class="{'on' : lookPwd.ckNew}" @click="onLook('ckNew')" @mouseout="outLook('ckNew')"></div>
                                <p class="errorTxt" v-if="errorCode.ckNew">Xác nhận mật khẩu mới tương đồng</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="mbrbtn">
                    <div class="btn_linear_c1 btn">
                        <button class="btn_cnt">Gửi đi</button>
                    </div>
                    <div class="btn_linear_c2 btn" @click="clearChpwd()">
                        <div class="btn_cnt">Hủy</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    var dialogVue = Vue.createApp({
        data() {
            return {
                mbrSelect: 0,
                pwdData: {
                    former: '',
                    new: '',
                    ckNew: '',
                },
                errorCode: {
                    former: false,
                    new: false,
                    ckNew: false,
                },
                lookPwd: {
                    former: false,         
                    new: false,     
                    ckNew: false,
                    newType: 'password',
                    formerType: 'password',
                    ckNewType: 'password',
                },
            };
        },
        methods: {
            ckPwd() {
                let case_01 = this.pwdData.new != this.pwdData.ckNew;
                let case_02 = this.pwdData.former == this.pwdData.new;
                this.reError();

                if (case_01) {
                    this.errorCode.ckNew = true;
                } else if (case_02) {
                    this.errorCode.new = true;
                } else {
                    this.postChpwd();
                }
            },
            postChpwd() {
                let account = {};
                let self = this;
                let token = JSON.parse(sessionStorage.getItem('session')).token
                account.token = String(token);
                account.oldpassword = String(this.pwdData.former);
                account.newpassword = String(this.pwdData.ckNew);

                let xhr = new XMLHttpRequest();
                xhr.open("PUT", "https://vnc88.awgstudio.com/api/member/password");
                xhr.setRequestHeader("Content-type", "application/json");
                let data = JSON.stringify(account);
                xhr.send(data);
                xhr.onload = function() {
                    switch (xhr.status) {
                        case 200:
                            indexVue.warn.warnTxt = ["Mật khẩu đã được thay đổi", "hãy đăng nhập lại"];
                            indexVue.warn.success = true;
                            backHome();
                            break;
                        case 403:
                            self.errorCode.former = true;
                            break;
                        case 404:
                            indexVue.warn.warnTxt = ["Token hết hiệu lực", "vui lòng đăng nhập lại"];
                            indexVue.warn.success = false;
                            backHome();
                            break;
                    }

                    function backHome() {
                        indexVue.warn.warnSwitch = true;
                        sessionStorage.removeItem('session');
                        indexVue.ckLogin();
                        setTimeout(function() {
                            self.clearChpwd()        
                            location.href = "#/home";    
                            indexVue.warn.warnSwitch = false 
                        }, 2000)
                    }
                }
            },
            reError() {
                this.errorCode.former = false;
                this.errorCode.new = false;
                this.errorCode.ckNew = false;
            },

            clearChpwd(){
                this.pwdData.former = '';
                this.pwdData.new = '';
                this.pwdData.ckNew = '';
            },

            // 顯示密碼
            onLook(data) {
                switch (data) {
                    case "former":
                        this.lookPwd.formerType = 'text';
                        this.lookPwd.former = true;
                        break;
                    case "new":
                        this.lookPwd.newType = 'text';
                        this.lookPwd.new = true;
                        break;
                    case "ckNew":
                        this.lookPwd.ckNewType = 'text';
                        this.lookPwd.ckNew = true;
                        break;
                }
            },

            // 隱藏密碼
            outLook(data) {
                switch (data) {
                    case "former":
                        this.lookPwd.formerType = 'password';
                        this.lookPwd.former = false;
                        break;
                    case "new":
                        this.lookPwd.newType = 'password';
                        this.lookPwd.new = false;
                        break;
                    case "ckNew":
                        this.lookPwd.ckNewType = 'password';
                        this.lookPwd.ckNew = false;
                        break;
                }
            },

        },
        mounted() {
            this.mbrSelect = sessionStorage.getItem("mbrSelect");
            indexVue.onLoad = true;
            this.$nextTick(function() {
                setTimeout(function() {
                    indexVue.onLoad = false;
                }, 300)
            })
        },
    }).mount("#page");
</script>