<div class="contBox-min" id="page">
    <!-- ==== mainMsg start ==== -->
    <div class="mainMsg">
        <!-- mainNews start -->
        <div class="mainNews">
            <div class="mainNews_t">
                <div class="news_main">
                    <div class="mainMsg-title">SOI KÈO BÓNG</div>
                    <!-- 足球新聞 -->
                    <a href="#/news/news?list=1">
                        <div class="news_mainImg" :style="getbgi(newsMenu.news_t.img)">
                            <p>{{newsMenu.news_t.title}}</p>
                        </div>
                    </a>
                </div>
                <div class="news_list">
                    <div class="mainMsg-title">Tin Mới Nhất</div>
                    <!-- 最新消息 -->
                    <div class="newsList_cnt" id="newsList_cnt">
                        <ul>
                            <li v-for="(item,index) in newsMenu.news_r">
                                <a :href="reHref(true,index)">
                                    <div class="newsList_img" :style="getbgi(item.img)"></div>
                                </a>
                                <p>{{item.title}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mainNews_b">
                <ul>
                    <li v-for="(item,index) in newsMenu.news_b">
                        <a :href="reHref(false,index)">
                            <div class="img" :style="getbgi(item.img)"></div>
                        </a>
                        <p>{{item.title}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- flexAd start -->
        <div class="flexAd">
            <ul>
                <li v-for="(item,index) in adImg">
                    <img :src="item.img">
                </li>
            </ul>
        </div>

        <!-- fullList start -->
        <div class="fullList">
            <div class="mainMsg-title">Tin tức</div>
            <ul>
                <template v-for="(item,index) in selfNews">
                    <li>
                        <a :href="item.href" style="display: flex;">
                            <div class="fullList_img" :style="getbgi(item.img)"></div>
                            <div class="fullList_msg">
                                <div>
                                    <div class="title">{{item.title}}</div>
                                    <p>{{item.msg}}</p>
                                </div>
                                <div class="fullList_tool">
                                    <div class="more">Cách chơi trò chơi</div>
                                    <p>
                                        <span>Tử điển xổ số</span>
                                        <span>{{item.time}}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </template>
            </ul>
        </div>

        <div class="fullDict">
            <div class="title"></div>
            <div>
                <div class="wsDict_msg">
                    <div class="title">{{wsDict.title}}</div>
                    <ul class="lotteryList">
                        <li v-for="(item,index) in wsDict.msg">
                            <div class="icon"></div>
                            <ul class="lotteryMsg">
                                <li v-for="(item,index) in item.list">{{item}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/index.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                adImg: flexAd,
                wsDict: newsDict,
                selfNews: news_selfNews,
                newsMenu: {
                    news_t: '',
                    news_b: [],
                    news_r: '',
                },
            };
        },
        methods: {
            getbgi(data) {
                return `background-image: url(${data})`;
            },
            reHref(hot, index) {
                if (hot) {
                    return `#/news/news?list=${index+7}`
                } else {
                    return `#/news/news?list=${index+2}`
                }

            },
            getMenu() {
                let self = this;
                let chReady = [false, false, false];

                function ready() {
                    if (chReady[0] && chReady[1] && chReady[2]) {
                        indexVue.onLoad = false;
                    }
                }

                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/homenews/list",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.news_r = data;
                        self.$nextTick(function() {
                            chReady[0] = true;
                            ready();
                        })
                    },
                });

                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/news/top",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.news_t = data;
                        self.$nextTick(function() {
                            chReady[1] = true;
                            ready();
                        })
                    },
                });

                $.ajax({
                    url: "https://vnc88.awgstudio.com/api/news/bottom",
                    dataType: "json",
                    success: function(data) {
                        for (let i = 0; i < 5; i++) {
                            self.newsMenu.news_b.push(data[i])
                            self.$nextTick(function() {
                                chReady[2] = true;
                                ready();
                            })
                        }
                    },
                });
            },
        },
        mounted() {
            this.getMenu();
            indexVue.onLoad = true;
        },
    }).mount("#page");
</script>