<title>VNC88 | Tin tức</title>
<div class="contBox-min" id="page">
    <!-- ==== mainMsg start ==== -->
    <div class="mainMsg">
        <!-- mainNews start -->
        <div class="mainNews">
            <div class="mainNews_t">
                <div class="news_main">
                    <div class="mainMsg-title">SOI KÈO BÓNG</div>
                    <!-- 足球新聞 -->
                    <a href="#/news/news?list=1">
                        <div class="news_mainImg" :style="getbgi(newsMenu.news_t.img)">
                            <p>{{newsMenu.news_t.title}}</p>
                        </div>
                    </a>
                </div>
                <div class="news_list">
                    <div class="mainMsg-title">Tin Mới Nhất</div>
                    <!-- 最新消息 -->
                    <div class="newsList_cnt" id="newsList_cnt">
                        <ul>
                            <li v-for="(item,index) in newsMenu.news_r">
                                <a :href="reHref(true,index)">
                                    <div class="newsList_img" :style="getbgi(item.img)"></div>
                                </a>
                                <p>{{item.title}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mainNews_b">
                <ul>
                    <li v-for="(item,index) in newsMenu.news_b">
                        <a :href="reHref(false,index)">
                            <div class="img" :style="getbgi(item.img)"></div>
                        </a>
                        <p>{{item.title}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- flexEvent start -->
        <div class="flexEvent">
            <ul>
                <li v-for="(item,index) in EventImg">
                    <img :src="item.img" alt="Information about partners">
                </li>
            </ul>
        </div>

        <!-- fullList start -->
        <div class="fullList">
            <div class="mainMsg-title">Tin tức</div>
            <ul>
                <template v-for="(item,index) in newsMenu.selfNews">
                    <li>
                        <a style="display: flex;">    
                            <div class="fullList_img" :style="getbgi(item.img)">
                                <div class="hotNews">
                                    <img src="images/icon/hotNews.png">
                                </div>
                            </div>
                            <div class="fullList_msg">
                                <div>
                                    <div class="title">{{item.intro}}</div>
                                    <p>{{item.content}}</p>
                                </div>
                                <div class="fullList_tool">
                                    <div class="more"></div>
                                    <p>
                                        <span>Tử điển xổ số</span>
                                        <span>{{item.time}}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </template>
            </ul>
            <ul>
                <template v-for="(item,index) in selfNews">
                    <li>
                        <a :href="item.href" style="display: flex;">
                            <div class="fullList_img" :style="getbgi(item.img)"></div>
                            <div class="fullList_msg">
                                <div>
                                    <div class="title">{{item.title}}</div>
                                    <p>{{item.msg}}</p>
                                </div>
                                <div class="fullList_tool">
                                    <div class="more">Cách chơi trò chơi</div>
                                    <p>
                                        <span>Tử điển xổ số</span>
                                        <span>{{item.time}}</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </template>
            </ul>
        </div>

        <div class="fullDict">
            <div class="title"></div>
            <div>
                <div class="wsDict_msg">
                    <div class="title">{{wsDict.title}}</div>
                    <ul class="lotteryList">
                        <li v-for="(item,index) in wsDict.txtList">
                            <div class="icon"></div>
                            <p>{{item}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                // 新聞
                newsMenu: {
                    news_r: '',
                    news_t: '',
                    news_b: [],
                    selfNews:''
                },
                // 廣告
                EventImg: indexVue.eventBanner.center,
                // 消息新聞列表
                selfNews: news_selfNews,
                // 網站介紹
                wsDict: homeWsDict,
            };
        },
        methods: {
            // ==== 返回背景style ====
            getbgi(data) {
                return `background-image: url(${data})`;
            },

            // ==== 返回新聞連結 ====
            reHref(hot, index) {
                if (hot) {
                    return `#/home/news?list=${index+6}`
                } else {
                    return `#/news/news?list=${index+2}`
                }
            },

            // ==== 取得資料 ====
            getData() {
                let self = this;
                let chReady = [false, false];

                function ready() {
                    if (chReady[0] && chReady[1]) {
                        indexVue.onLoad = false;
                    }
                }

                // 新聞大標題 (api = 越南足球_1)
                $.ajax({
                    url: "https://www.vnc8888.com/api/news/top",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.news_t = data;
                        self.$nextTick(function() {
                            chReady[0] = true;
                            ready();
                        })
                    },
                });

                // 新聞下方列表 (api = 越南足球_2)
                $.ajax({
                    url: "https://www.vnc8888.com/api/news/bottom",
                    dataType: "json",
                    success: function(data) {
                        for (let i = 0; i < 5; i++) {
                            self.newsMenu.news_b.push(data[i])
                        }
                    },
                });

                // 新聞menu (api = 首頁今日賽事)
                $.ajax({
                    url: "https://www.vnc8888.com/api/homenews/list",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.news_r = data;
                        self.$nextTick(function() {
                            chReady[1] = true;
                            ready();
                        })
                    },
                });

                 // 後台新聞資訊
                $.ajax({
                    url: "https://www.vnc8888.com/api/news/list",
                    dataType: "json",
                    success: function(data) {
                        self.newsMenu.selfNews = data;
                    },
                });
            },
        },
        mounted() {
            this.getData();
            indexVue.onLoad = true;

            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-30FY56KDHN');
        },
    }).mount("#page");
</script>