<div class="contBox-min" id="page">
    <div class="resourcesBox">
        <div class="res-Title">
            <div class="bank-icon"></div>
            <span>bank information</span>
        </div>
        <div class="bank-List">
            <div class="bank-tb">
                <table>
                    <template v-for="(item,index) in bank.main.slice(0,parseInt(bank.main.length/linkNum.bank)+2)">
                        <tr v-if="index !== 0">
                            <td v-for="(item,index) in bank.main.slice(0+(index-1)*linkNum.bank,linkNum.bank*index)">
                                <a :href="item.href" target="_blank">
                                    <div class="bankTb-img">
                                        <img :src="item.img">
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>

            <div class="resList-list">
                <template v-for="(item,index) in bank.minor.slice(0,parseInt(bank.minor.length/linkNum.list)+2)">
                    <ul v-if="index !== 0">
                        <li v-for="(item,index) in bank.minor.slice(0+(index-1)*linkNum.list,linkNum.list*index)">
                            <a :href="item.href" target="_blank">
                                <span>{{item.txt}}</span>
                            </a>
                        </li>
                    </ul>
                </template>
            </div>
        </div>
        <div class="res-Title">
            <div class="lottory-icon"></div>
            <span>lottory information</span>
        </div>
        <div class="lottory-list">
            <div class="lottory-tb">
                <table>
                    <template v-for="(item,index) in lottory.main.slice(0,parseInt(bank.main.length/linkNum.lottory)+2)">
                        <tr v-if="index !== 0">
                            <td v-for="(item,index) in lottory.main.slice(0+(index-1)*linkNum.lottory,linkNum.lottory*index)">
                                <a :href="item.href" target="_blank">
                                    <div class="lottoryTb_list">
                                        <div class="lottoryTb-img">
                                            <img :src="item.img">
                                        </div>
                                        <span>{{item.txt}}</span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
            <div class="resList-list">
                <template v-for="(item,index) in lottory.minor.slice(0,parseInt(lottory.minor.length/linkNum.list)+2)">
                    <ul v-if="index !== 0">
                        <li v-for="(item,index) in lottory.minor.slice(0+(index-1)*linkNum.list,linkNum.list*index)">
                            <a :href="item.href" target="_blank">
                                <span>{{item.txt}}</span>
                            </a>
                        </li>
                    </ul>
                </template>
            </div>
        </div>

        <div class="mainMsg">
            <!-- flexEvent start -->
            <div class="flexEvent">
                <ul>
                    <li v-for="(item,index) in adImg">
                        <img :src="item.img">
                    </li>
                </ul>
            </div>

            <!-- resNews start -->
            <div class="resNews">
                <div class="mainMsg-title">Thông tin hoạt động</div>
                <div class="mainNews_b">
                    <ul>
                        <template v-for="(item,index) in resNews">
                            <li>
                                <a :href="reHref(index)">
                                    <div class="img" :style="getbgi(item.img)"></div>
                                </a>
                                <p>{{item.title}}</p>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>


            <!-- resQa start -->
            <div class="resQa">
                <div class="mainMsg-title">Vấn đề thường gặp</div>
                <ul>
                    <li v-for="(item,index) in resQa">
                        <div class="question">
                            <div class="icon">Q</div>
                            <p>{{item.question}}</p>
                        </div>
                        <div class="Answer">
                            <div class="icon">A</div>
                            <p :class="{'on': item.txtMore}">{{item.answer}}
                                <span class="switch" @click="item.txtMore = !item.txtMore"></span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script>
    Vue.createApp({
        data() {
            return {
                // 銀行連結
                bank: bankLink,
                // 彩票公司連結   
                lottory: lottoryLink,

                // 控制連結區塊排列(RWD)   
                linkNum: {
                    bank: 6,
                    lottory: 3,
                    list: 6
                },

                // 廣告
                adImg: indexVue.eventBanner.center,
                // 新聞
                resNews: [],
                // Q&A      
                resQa: resQa,
            };
        },
        methods: {
            // ==== 返回背景style ====
            getbgi(data) {
                return `background-image: url(${data})`;
            },

            // ==== 返回連結 ====
            reHref(index) {
                return `#/resources/news?list=${index+1}`
            },

            // ==== 銀行/彩票公司link列表布局更動 ====
            myResize() {
                let num = window.innerWidth;
                if (num > 1200) {
                    this.linkNum.bank = 6
                    this.linkNum.list = 6
                } else if (num <= 1200) {
                    this.linkNum.bank = parseInt(num / 200)
                    this.linkNum.list = parseInt(num / 200)
                }
                this.linkNum.lottory = num > 1200 ? 3 : 2;
            },

            // ==== 取得資料 ====
            getData() {
                let self = this;
                let chReady = [false];

                function ready() {
                    if (chReady[0]) {
                        indexVue.onLoad = false;
                    }
                }

                // 新聞
                $.ajax({
                    url: "https://www.vnc8888.com/api/resources/list",
                    dataType: "json",
                    success: function(data) {
                        // 取前12筆
                        for (let i = 0; i < 12; i++) {
                            self.resNews.push(data[i])
                        }
                        self.$nextTick(function() {
                            chReady[0] = true;
                            ready();
                        })
                    },
                });
            },
        },
        mounted() {
            window.addEventListener("resize", this.myResize);
            indexVue.onLoad = true;
            this.myResize();
            this.getData();
        },
    }).mount("#page");
</script>